{% extends "base.html" %}
{% load viewcomplexfield %}
{% load i18n %}
{% block content %}
<section class="content">
  <div class="inner-title-wrapper row header">
    <h3 class="page-title">{% trans "Person" %}</h3>
    <a href="/person/add/" class="btn sfm-btn-action">Add New <i class="fa fa-plus"></i></a>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Properties</h4>
    </div>
  </div>

  <div class="modal fade sourceModal" id="complexFieldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>

    <div class="row">
        <form>
            <div class="form-group col-sm-4">
                {% view_complex_field person.name person.id request.path %}
            </div>
            <div class="form-group col-sm-4">
                {% view_complex_field person.alias person.id request.path %}
            </div>
            <div class="form-group col-sm-4">
                {% view_complex_field person.death_date person.id request.path %}
            </div>
        </form>
    </div><!-- /.row-->

    <div class="row">
        <div class="col-sm-12">
            <h4>Relations</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="form-group dropdown col-sm-4">
        <label for="people_edit_membership">Membership</label>
        <select id="people_edit_membership">
          <option>Choose or create...</option>
          <option value="">Create new</option>
          <option value="">Commander</option>
          <option value="">Sergent</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label>Add</label>
        <button class="btn btn-default col-sm-12" type="submit">
          Add to this list
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="col-sm-4">Memberships</th>
              <th class="col-sm-4">Start date</th>
              <th class="col-sm-4">End date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
            </tr>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn sfm-btn-cancel col-sm-2" type="submit">Cancel</button>
      <button class="btn col-sm-2 pull-right sfm-btn-action addPerson" type="submit">Save</button>
    </div>
  </div>

</section>

{% endblock %}
