{% extends "base.html"  %}
{% load i18n %}
{% block content %}
<div id="page-wrapper">
    <div class="col-lg-4 col-lg-offset-4">
                    <h1 class="page-header">{% blocktrans %}confirmation{% endblocktrans %}</h1>
    </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <form action="" method="post">{% csrf_token %}
                        <p>{% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</p>
                          {% for elm in object %}
                            <p> test {{ elm }}</p>
                          {% endfor %}
                        <input type="submit" value="Confirm" />
                    </form>
                </div>
            </div>
</div>


{% endblock %}