{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<section class="content">

  <div class="row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{% trans "Person" %}</h1>
      <div class="pull-right">
        <a href="/person/add/" class="btn sfm-btn-action"><i class="fa fa-plus"></i> {% trans "Add New" %}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>{% trans "Search" %}</h3>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="name">{% trans "Name" %}</label>
        <input type="text" class="form-control" id="name" placeholder="{% trans "Enter Name" %}">
      </div>
      <div class="form-group col-sm-6">
        <label for="alias">{% trans "Aliases or alternative spellings" %}</label>
        <input type="text" class="form-control" id="alias" placeholder="{% trans "Enter Alias" %}">
      </div>
    </div>

    <div class="row">
      <div class="dropdown form-group col-sm-6">
        <label>{% trans "Membership" %}</label>
        <select id="role_membership">
          <option value="">Choose</option>
          {% for role in roles %}
            <option value="{{ role }}">{{ role }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>{% trans "Death date" %}</label>
        <select id="deathdate_day">
          <option value="">{% trans "dd" %}</option>
          {% for int in day_range %}
            <option value="{% if int < 10 %}0{% endif %}{{int}}">{{int}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>{% trans "Month" %}</label>
        <select id="deathdate_month">
          <option value="">{% trans "mm" %}</option>
          <option value="01">{% trans "January" %}</option>
          <option value="02">{% trans "February" %}</option>
          <option value="03">{% trans "March" %}</option>
          <option value="04">{% trans "April" %}</option>
          <option value="05">{% trans "May" %}</option>
          <option value="06">{% trans "June" %}</option>
          <option value="07">{% trans "July" %}</option>
          <option value="08">{% trans "August" %}</option>
          <option value="09">{% trans "September" %}</option>
          <option value="10">{% trans "October" %}</option>
          <option value="11">{% trans "November" %}</option>
          <option value="12">{% trans "December" %}</option>
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>{% trans "Year" %}</label>
        <select id="deathdate_year">
          <option value="">{% trans "yyyy" %}</option>
          {% for int in year_range %}
            <option value="{{int}}">{{int}}</option>
          {% endfor %}
        </select>
      </div>
    </div>


    <div class="row">
      <div class="dropdown form-group col-sm-6">
        <label>{% trans "Radius" %}</label>
        <select id="radius">
          <option value="">{% trans "Choose" %}</option>
          <option value="1">{% trans "1 km" %}</option>
          <option value="2">{% trans "2 km" %}</option>
          <option value="3">{% trans "3 km" %}</option>
          <option value="4">{% trans "4 km" %}</option>
          <option value="5">{% trans "5 km" %}</option>
          <option value="6">{% trans "6 km" %}</option>
        </select>
      </div>

      <div class="form-group col-sm-2">
        <label for="latitude">{% trans "Latitude" %}</label>
        <input type="text" class="form-control" id="latitude" placeholder="12.73">
      </div>

      <div class="form-group col-sm-2">
        <label for="longitude">{% trans "Longitude" %}</label>
        <input type="text" class="form-control" id="longitude" placeholder="81.45">
      </div>

      <div class="location col-sm-2">
        <!-- <i class="fa fa-map-marker fa-2x"></i> -->
      </div>

    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="people_srch_post"><span id='result-number'></span> {% trans "Results" %}
        <div class="actions">
          <button type="button" id="export-csv" class="btn sfm-btn-action">{% trans "Export" %} <i class="fa fa-share-square-o"></i></button>
        </div>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive col-sm-12">
      <table id="result-table" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-3" data-orderby="name"><span class="caret"></span> {% trans "Name" %}</th>
            <th class="col-sm-4" data-orderby="alias"><span class="caret"></span> {% trans "Alias" %}</th>
            <th class="col-sm-5" data-orderby="deathdate"><span class="caret"></span> {% trans "Death date" %}</th>
          </tr>
        </thead>
        <tbody id="object-linked-table">
        </tbody>
      </table>
    </div>
  </div>

  <div id="paginator-content" class="row text-center">
  </div>

  <script src="{% static "js/search.js" %}"></script>

</section>
{% endblock %}
