{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<section class="content">

  <tr id="table-row-template">
    <td class="col-src"></td>
    <td class="col-conf"></td>
    <td class="col-del"></td>
  </tr>
  <div class="row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{% trans "Person" %}</h1>
      <div class="pull-right">
        <a href="/person/add/" class="btn sfm-btn-action"><i class="fa fa-plus"></i> Add New</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>{% trans "Search" %}</h3>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="name">{% trans "Name" %}</label>
        <input type="text" class="form-control" id="name" placeholder="{% trans "Enter Name" %}">
      </div>
      <div class="form-group col-sm-6">
        <label for="alias">{% trans "Aliases or alternative spellings" %}</label>
        <input type="text" class="form-control" id="alias" placeholder="{% trans "Enter Alias" %}">
      </div>
    </div>

    <div class="row">
      <div class="dropdown form-group col-sm-6">
        <label>Membership</label>
        <select id="people_srch_membership">
          <option>Choose or create...</option>
          <option value="">Commander</option>
          <option value="">Sergent</option>
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>Death date</label>
        <select id="deathdate_day">
          <option value="">dd</option>
          {% for int in day_range %}
            <option value="{% if int < 10 %}0{% endif %}{{int}}">{{int}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>Month</label>
        <select id="deathdate_month">
          <option value="">mm</option>
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>Year</label>
        <select id="deathdate_year">
          <option value="">yyyy</option>
          {% for int in year_range %}
            <option value="{{int}}">{{int}}</option>
          {% endfor %}
        </select>
      </div>
    </div>


    <div class="row">
      <div class="dropdown form-group col-sm-6">
        <label>Radius</label>
        <select id="people_srch_radius">
          <option>1 - 25km</option>
          <option value="1">1 km</option>
          <option value="2">2 km</option>
          <option value="3">3 km</option>
          <option value="4">4 km</option>
          <option value="5">5 km</option>
          <option value="6">6 km</option>
        </select>
      </div>

      <div class="form-group col-sm-2">
        <label for="latitude">Longitude</label>
        <input type="text" class="form-control" id="latitude" placeholder="12.73">
      </div>

      <div class="form-group col-sm-2">
        <label for="longitude">Latitude</label>
        <input type="text" class="form-control" id="longitude" placeholder="81.45">
      </div>

      <div class="location col-sm-2">
        <!-- <i class="fa fa-map-marker fa-2x"></i> -->
      </div>

    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="people_srch_post">{{ persons|length }} Results
        <div class="actions">
          <button type="button" class="btn sfm-btn-action">Export <i class="fa fa-share-square-o"></i></button>
        </div>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive col-sm-12">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-3"><span class="caret"></span> Name</th>
            <th class="col-sm-4"><span class="caret"></span> Alias</th>
            <th class="col-sm-5"><span class="caret"></span> Notes</th>
          </tr>
        </thead>
        <tbody id="object-linked-table">
          {% for person in persons %}
            <tr data-person-id="{{ person.id }}">

              <td><a href="{{person.id}}"></a>{{ person.name }}</td>
              <td>{{ person.alias }}</td>
              <td>{{ person.notes }}
                <i class="fa fa-times-circle fa-lg actions"></i>
              </td>

            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="{% static "js/search.js" %}"></script>

</section>
{% endblock %}
