{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="singin">
<h2 class="form-signin-heading text-center">Security Force Monitor</h2>

<form class="from-signin login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <label for="id_login">{% trans "E-mail" %}:</label>
  <input name="email" type="email" id="id-login" class="form-control" name="email" class="form-control" placeholder="{% trans "E-mail address" %}" required autofocus>
  <label for="id_password">{% trans "Password" %}</label>
  <input class="form-control" id="id_password" type="password" name="login" placeholder="{% trans "Password" %}" autofocus required>
  <div class="checkbox">
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-lg sfm-btn-action" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
{% endblock %}
