{% extends request.is_ajax|yesno:"base_modal.html,base.html" %}
{% load viewcomplexfield %}
{% load viewcomplexfielddate %}
{% load viewcomplexfieldboolean %}
{% load i18n %}
{% block content %}

<section class="content">
  <div class="row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{% trans "Organization" %}</h1>
      <div class="pull-right">
        <a href="/organization/add/" class="btn sfm-btn-action"><i class="fa fa-plus"> Add New</i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Properties</h4>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field organization.name organization.id request.path %}
      </div>
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field organization.alias organization.id request.path %}
      </div>
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field organization.classification organization.id request.path %}
        <script type="text/javascript">
          $("#Organization_OrganizationClassification").autocomplete({
            source: "/" + window.LANG + "/organization/classification/autocomplete"
          });
        </script>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field_date organization.foundingdate organization.id request.path %}
      </div>
      <div class="form-group col-sm-2 complex-field">
        {% view_complex_field_boolean organization.realfounding organization.id request.path %}
      </div>
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field_date organization.dissolutiondate organization.id request.path %}
      </div>
      <div class="form-group col-sm-2 complex-field">
        {% view_complex_field_boolean organization.realdissolution organization.id request.path %}
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn sfm-btn-cancel col-sm-2" type="submit">Cancel</button>
      <button class="btn col-sm-2 pull-right sfm-btn-action addObject" type="submit">Save</button>
    </div>
  </div>

</section>

{% endblock %}
