{% extends 'edit.html' %}
{% load i18n %}

{% block header_title %}
<div class="col-sm-6">
    <h1>
        {{ organization.name.get_value }}
    </h1>
    <p>
        {% trans "ID:" %} {{ organization.uuid }}<br />
        {% trans "Last update by:" %} username goes here <br />
        <a href="#">{% trans "View versions"%}</a>
        {% if organization.published %}
            <span class="label label-success">Published</span>
        {% else %}
            <span class="label label-danger">Not Published</span>
        {% endif %}
    </p>
</div>
{% endblock %}

{% block edit_links %}
    <div class="col-sm-6">
        <h1>
            {% trans "Edit:" %}
            <a href="{% url 'edit-organization' organization.uuid %}"
                class="btn btn-{% if is_basics_active %}primary{% else %}default{% endif %}">{% trans "Basics" %}</a>

            <a href="{% url "create-organization-composition" organization.uuid %}"
                class="btn btn-{% if is_composition_active %}primary{% else %}default{% endif %}">{% trans "Relationships" %}</a>

            <a href="{% url 'create-organization-personnel' organization.uuid %}"
                class="btn btn-default">{% trans "Personnel" %}</a>



                <a href="{% url 'create-organization-emplacement' organization.uuid %}" class="btn btn-default">{% trans "Add site" %}</a>
                <a href="{% url 'create-organization-association' organization.uuid %}" class="btn btn-default">{% trans "Add area" %}</a>


            <!-- {% if first_personnel and current_membership %}

            {% endif %}
            {% if first_emplacement and current_emplacement or first_association and current_association %}
                {% if current_emplacement %}
                <a href="{% url 'edit-organization-emplacement' organization.uuid first_emplacement.id %}" class="btn btn-primary">{% trans "Locations" %}</a>
                {% elif current_association %}
                <a href="{% url 'edit-organization-association' organization.uuid first_association.id %}" class="btn btn-primary">{% trans "Locations" %}</a>
                {% endif %}
            {% elif first_emplacement or first_association %}
                {% if first_emplacement %}
                <a href="{% url 'edit-organization-emplacement' organization.uuid first_emplacement.id %}" class="btn btn-default">{% trans "Locations" %}</a>
                {% else %}
                <a href="{% url 'edit-organization-association' organization.uuid first_association.id %}" class="btn btn-default">{% trans "Locations" %}</a>
                {% endif %}

        </h1>
    </div>
{% endblock %}
