{% extends 'edit.html' %}
{% load i18n %}

{% block header_title %}
<div class="col-sm-6">
    <h1>
        {{ organization.name.get_value }}
    </h1>
    <p>
        {% trans "ID:" %} {{ organization.uuid }}<br />
        {% trans "Last update by:" %} username goes here <br />
        <a href="#">{% trans "View versions"%}</a>
        {% if organization.published %}
            <span class="label label-success">Published</span>
        {% else %}
            <span class="label label-danger">Not Published</span>
        {% endif %}
    </p>
</div>
{% endblock %}

{% block edit_links %}
    <div class="col-sm-6">
        <h1>
            {% if organization.uuid %}
              {% trans "Edit:" %}

              <a href="{% url 'edit-organization' organization.uuid %}"
                  class="btn btn-{% if is_basics_active %}primary{% else %}default{% endif %}">{% trans "Basics" %}</a>

              <a href="{% url "create-organization-composition" organization.uuid %}"
                  class="btn btn-{% if is_relationships_active %}primary{% else %}default{% endif %}">{% trans "Relationships" %}</a>

              <a href="{% url 'create-organization-personnel' organization.uuid %}"
                  class="btn btn-{% if is_personnel_active %}primary{% else %}default{% endif %}">{% trans "Personnel" %}</a>

              <a href="{% url 'create-organization-emplacement' organization.uuid %}"
                  class="btn btn-{% if is_location_active %}primary{% else %}default{% endif %}">{% trans "Locations" %}</a>
             {% endif %}
          </h1>
      </div>
  {% endblock %}
