{% extends 'organization/edit-relationships.html' %}
{% load i18n %}
{% load countries %}
{% load help %}
{% load citations %}

{% block form_content %}
    <h2>{% trans "Add relationship" %}</h2>
    <div class="row relationship_type-row field-bg bg-info">
        <div class="col-sm-12">
            {% if form.name.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{% trans "Relationship type" %}</label>
                <select id="id_relationship_type" class="form-control sourced" name="parent">
                    <option value="{{ organization.id }}" selected=true>Parent</option>
                    <option value="{{ organization.id }}">Child</option>
                </select>
                {% if form.relationship_type.errors %}
                    {% for error in form.relationship_type.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_parent_source"></div>
    </div>
    <div class="row classification-row field-bg">
        <div class="col-sm-12">
            {% if form.classification.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.classification.label }}</label>
                <input type="text" value="" class="form-control sourced" name="classification" />
                {% if form.classification.errors %}
                    {% for error in form.classification.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_classification_source"></div>
    </div>
    <div class="row related_organization-row field-bg">
        <div class="col-sm-12">
            {% if form.related_organization.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{% trans "Related organization" %}</label>
                <select id="id_related_organization" class="form-control sourced select2-target" name="child"></select>
                {% if form.related_organization.errors %}
                    {% for error in form.related_organization.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_child_source"></div>
    </div>
    <div class="row related_organization_aliases-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{% trans "Related organization other names" %}</label>
                <input type="text" id="related_organization_aliases" disabled=true value="" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row related_organization_divisionid-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{% trans "Related organization country" %}</label>
                <input type="text" id="related_organization_country" disabled=true value="" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row startdate-row field-bg">
        <div class="col-sm-12">
            {% if form.startdate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.startdate.label }}</label>
                <input type="text" name="startdate" id="id_startdate" class="form-control sourced" value="{{ form.startdate.data }}">
                {% if form.startdate.errors %}
                    {% for error in form.startdate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_startdate_source"></div>
    </div>
    <div class="row realstart-row field-bg">
        <div class="col-sm-12">
            {% if form.realstart.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="realstart" id="id_realstart" /> {{ form.realstart.label }}
                    </label>
                </div>
                {% if form.realstart.errors %}
                    {% for error in form.realstart.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row enddate-row field-bg">
        <div class="col-sm-12">
            {% if form.enddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.enddate.label }}</label>
                <input type="text" name="enddate" id="id_enddate" class="form-control sourced" value="{{ form.enddate.data }}">
                {% if form.enddate.errors %}
                    {% for error in form.enddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_enddate_source"></div>
    </div>
    <div class="row open_ended-row field-bg">
        <div class="col-sm-12">
            {% if form.open_ended.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.open_ended.label }}</label>
                <select id="id_open_ended" class="form-control sourced" name="open_ended">
                    <option value="">------</option>
                    {% for value, choice in form.fields.open_ended.choices %}
                        <option value="{{ value }}">{{ choice }}</option>
                    {% endfor %}
                </select>
                {% if form.open_ended.errors %}
                    {% for error in form.open_ended.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_extra_js%}
    <script type="text/javascript">
        $(document).ready(function(){
            loadSources({target: $('#id_relationship_type')});

            $('#id_relationship_type').on('change', function(e){
                if($('#id_relationship_type').prop('name') == 'parent'){
                    $('#id_relationship_type').prop('name', 'child');
                    $('#id_related_organization').prop('name', 'parent');
                } else if ($('#id_relationship_type').prop('name') == 'child'){
                    $('#id_relationship_type').prop('name', 'parent');
                    $('#id_related_organization').prop('name', 'child');
                }
                loadSources({target: $('#id_relationship_type')});
            });
            $('#id_related_organization').select2({
                ajax: {
                    url: "{% url 'organization-autocomplete' %}",
                    data: function(params){
                        var query = {
                            q: params.term
                        }
                        return query
                    }
                }
            });
            $('#id_related_organization').on('select2:select', function(e){
                $('#related_organization_aliases').val(e.params.data.aliases);
                $('#related_organization_country').val(e.params.data.country);
            })
        })
    </script>
{% endblock%}
