{% extends 'organization/edit-composition.html' %}
{% load i18n %}
{% load countries %}
{% load help %}
{% load citations %}

{% block form_content %}
  {% include 'organization/forms/create-composition.html' %}
{% endblock %}
{% block delete_button %}{% endblock %}
{% block extra_extra_js%}
    <script type="text/javascript">
        $(document).ready(function(){
            loadSources({target: $('#id_relationship_type')});

            $('#id_relationship_type').on('change', function(e){
                if($('#id_relationship_type').prop('name') == 'parent'){
                    $('#id_relationship_type').prop('name', 'child');
                    $('#id_related_organization').prop('name', 'parent');
                } else if ($('#id_relationship_type').prop('name') == 'child'){
                    $('#id_relationship_type').prop('name', 'parent');
                    $('#id_related_organization').prop('name', 'child');
                }
                loadSources({target: $('#id_relationship_type')});
            });
            $('#id_related_organization').select2({
                ajax: {
                    url: "{% url 'organization-autocomplete' %}",
                    data: function(params){
                        var query = {
                            q: params.term
                        }
                        return query
                    }
                }
            });
            $('#id_related_organization').on('select2:select', function(e){
                $('#related_organization_aliases').val(e.params.data.aliases);
                $('#related_organization_country').val(e.params.data.country);
            })
        })
    </script>
{% endblock%}
