{% extends 'organization/edit-composition.html' %}
{% load i18n %}
{% load countries %}
{% load help %}
{% load citations %}

{% block form_content %}
    <h2>{% trans "Add relationship" %}</h2>
    <div class="row relationship_type-row field-bg bg-info">
        <div class="col-sm-12">
            {% if form.parent.data == organization.id|stringformat:"i" and form.parent.errors %}
                <div class="form-group has-error has-feedback">
            {% elif form.child.data == organization.id|stringformat:"i" and form.child.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{% trans "Relationship type" %}</label>
                <select id="id_relationship_type" class="form-control sourced" name="parent">
                    <option value="{{ organization.id }}" selected=true>{% trans "Parent" %}</option>
                    <option value="{{ organization.id }}">{% trans "Child" %}</option>
                </select>
                {% if form.parent.data == organization.id|stringformat:"i" and form.parent.errors %}
                    {% for error in form.parent.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% elif form.child.data == organization.id|stringformat:"i" and form.child.errors %}
                    {% for error in form.child.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_parent_source">
            {% for source in source_info.parent_source %}
                {% source_input 'parent' source %}
            {% endfor %}
        </div>
        <div id="id_parent_confidence">
            <input type="hidden" value="1" name="parent_confidence">
        </div>
    </div>
    <div class="row classification-row field-bg">
        <div class="col-sm-12">
            {% if form.classification.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.classification.label }}</label>
                <input type="text" value="{{ form.classification.data|default_if_none:'' }}" class="form-control sourced" name="classification" />
                {% if form.classification.errors %}
                    {% for error in form.classification.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_classification_source">
            {% for source in source_info.classification_source %}
                {% source_input 'classification' source %}
            {% endfor %}
        </div>
        <div id="id_classification_confidence">
            <input type="hidden" value="1" name="classification_confidence">
        </div>
    </div>
    <div class="row related_organization-row field-bg">
        <div class="col-sm-12">
            {% if form.parent.data != organization.id|stringformat:"i" and form.parent.errors %}
                <div class="form-group has-error has-feedback">
            {% elif form.child.data != organization.id|stringformat:"i" and form.child.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{% trans "Related organization" %}</label>
                <select id="id_related_organization" class="form-control sourced select2-target" name="child"></select>
                {% if form.parent.data != organization.id|stringformat:"i" and form.parent.errors %}
                    {% for error in form.parent.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% elif form.child.data != organization.id|stringformat:"i" and form.child.errors %}
                    {% for error in form.child.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_child_source">
            {% for source in source_info.child_source %}
                {% source_input 'child' source %}
            {% endfor %}
        </div>
        <div id="id_child_confidence">
            <input type="hidden" value="1" name="child_confidence">
        </div>
    </div>
    <div class="row related_organization_aliases-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{% trans "Related organization other names" %}</label>
                <input type="text" id="related_organization_aliases" disabled=true value="" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row related_organization_divisionid-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{% trans "Related organization country" %}</label>
                <input type="text" id="related_organization_country" disabled=true value="" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row startdate-row field-bg">
        <div class="col-sm-12">
            {% if form.startdate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.startdate.label }}</label>
                <input type="text" name="startdate" id="id_startdate" class="form-control sourced" value="{{ form.startdate.data|default_if_none:"" }}">
                {% if form.startdate.errors %}
                    {% for error in form.startdate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_startdate_source">
            {% for source in source_info.startdate_source %}
                {% source_input 'startdate' source %}
            {% endfor %}
        </div>
        <div id="id_startdate_confidence">
            <input type="hidden" value="1" name="startdate_confidence">
        </div>
    </div>
    <div class="row realstart-row field-bg">
        <div class="col-sm-12">
            {% if form.realstart.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" name="realstart" id="id_realstart" /> {{ form.realstart.label }}
                    </label>
                </div>
                {% if form.realstart.errors %}
                    {% for error in form.realstart.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row enddate-row field-bg">
        <div class="col-sm-12">
            {% if form.enddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.enddate.label }}</label>
                <input type="text" name="enddate" id="id_enddate" class="form-control sourced" value="{{ form.enddate.data|default_if_none:"" }}">
                {% if form.enddate.errors %}
                    {% for error in form.enddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_enddate_source">
            {% for source in source_info.enddate_source %}
                {% source_input 'enddate' source %}
            {% endfor %}
        </div>
        <div id="id_enddate_confidence">
            <input type="hidden" value="1" name="enddate_confidence">
        </div>
    </div>
    <div class="row open_ended-row field-bg">
        <div class="col-sm-12">
            {% if form.open_ended.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.open_ended.label }}</label>
                <select id="id_open_ended" class="form-control sourced" name="open_ended">
                    <option value="">------</option>
                    {% for value, choice in form.fields.open_ended.choices %}
                        <option value="{{ value }}">{{ choice }}</option>
                    {% endfor %}
                </select>
                {% if form.open_ended.errors %}
                    {% for error in form.open_ended.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block delete_button %}{% endblock %}
{% block extra_extra_js%}
    <script type="text/javascript">
        $(document).ready(function(){
            loadSources({target: $('#id_relationship_type')});

            $('#id_relationship_type').on('change', function(e){
                if($('#id_relationship_type').prop('name') == 'parent'){
                    $('#id_relationship_type').prop('name', 'child');
                    $('#id_related_organization').prop('name', 'parent');
                } else if ($('#id_relationship_type').prop('name') == 'child'){
                    $('#id_relationship_type').prop('name', 'parent');
                    $('#id_related_organization').prop('name', 'child');
                }
                loadSources({target: $('#id_relationship_type')});
            });
            $('#id_related_organization').select2({
                ajax: {
                    url: "{% url 'organization-autocomplete' %}",
                    data: function(params){
                        var query = {
                            q: params.term
                        }
                        return query
                    }
                }
            });
            $('#id_related_organization').on('select2:select', function(e){
                $('#related_organization_aliases').val(e.params.data.aliases);
                $('#related_organization_country').val(e.params.data.country);
            })
        })
    </script>
{% endblock%}
