{% extends 'base_delete.html' %}
{% load i18n %}
{% block metadata_table %}
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <strong>
                        {% trans "Organization" %}
                    </strong>
                </td>
                <td>
                    {{ object.organization.get_value.value }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Location" %}
                    </strong>
                </td>
                <td>
                    {{ object.area.get_value.value }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Date first cited" %}
                    </strong>
                </td>
                <td>
                    {{ object.startdate.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Start date?" %}
                    </strong>
                </td>
                <td>
                    {{ object.realstart.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Date last cited" %}
                    </strong>
                </td>
                <td>
                    {{ object.enddate.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Open ended?" %}
                    </strong>
                </td>
                <td>
                    {{ object.open_ended.get_value|default_if_none:"" }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
