{% extends 'base_delete.html' %}
{% load i18n %}
{% block metadata_table %}
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <strong>
                        {% trans "Person" %}
                    </strong>
                </td>
                <td>
                    {{ object.member.get_value.value }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Rank" %}
                    </strong>
                </td>
                <td>
                    {{ object.rank.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Role" %}
                    </strong>
                </td>
                <td>
                    {{ object.role.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Title" %}
                    </strong>
                </td>
                <td>
                    {{ object.title.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Date first cited" %}
                    </strong>
                </td>
                <td>
                    {{ object.firstciteddate.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Start date?" %}
                    </strong>
                </td>
                <td>
                    {{ object.realstart.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Context for start date" %}
                    </strong>
                </td>
                <td>
                    {{ object.startcontext.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Date last cited" %}
                    </strong>
                </td>
                <td>
                    {{ object.lastciteddate.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "End date?" %}
                    </strong>
                </td>
                <td>
                    {{ object.realend.get_value|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        {% trans "Context for end date" %}
                    </strong>
                </td>
                <td>
                    {{ object.endcontext.get_value|default_if_none:"" }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
