{% extends "base_delete.html" %}
{% load i18n %}
{% load static %}
{% load countries %}

{% block delete_header %}
    {% blocktrans with name=object.name %}
        Do you really want to delete <strong>{{ name }}</strong>?
    {% endblocktrans %}
{% endblock %}

{% block metadata_table %}
<table class="table">
    <tbody>
        <tr>
            <td><b>{% trans "Name" %}</b></td>
            <td>{{ organization.name }}</td>
        </tr>
        {% if organization.aliases.get_list %}
        <tr>
            <td><b>{% trans "Also known as" %}</b></td>
            <td>
            {% for alias in organization.aliases.get_list %}
                {{ alias.get_value }}{% if not forloop.last %} |{% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if organization.division_id.get_value %}
        <tr>
            <td><b>{% trans "Country" %}</b></td>
            <td>{{ organization.division_id.get_value | country_name }}</td>
        </tr>
        {% endif %}
        {% if organization.classification.get_list %}
        <tr>
            <td><b>{% trans "Classified as" %}</b></td>
            <td>
            {% for classification in organization.classification.get_list %}
                {{ classification.get_value }}{% if not forloop.last %} |{% endif %}
            {% endfor %}
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
