{% extends request.is_ajax|yesno:"base_modal.html,base.html" %}
{% load viewcomplexfield %}
{% load viewcomplexfielddate %}
{% load viewcomplexfieldboolean %}
{% load viewcomplexfieldautocomplete %}
{% load viewcomplexfieldlist %}
{% load render_versions %}
{% load i18n %}
{% block content %}
    <div class="row header">
        <div class="inner-title-wrapper">
            <h1 class="page-title">{% trans "Organization" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Properties</h4>
        </div>
    </div>

    <form class="form form-horizontal" method="POST">
        {% if form.name.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                {% view_complex_field organization.name organization.id request.path %}
            </div>
        {% if form.alias.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                {% view_complex_field_list organization.aliases organization.id request.path %}
            </div>
        {% if form.classification.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label">Classification </label>
            <div class="col-sm-8">
                <select id="id_form-{{ form_id }}-classification" class="form-control" name="form-{{ form_id }}-classification">
                    <option value="" selected="selected">--------</option>
                    {% for classification in classifications %}
                        {% if classification == organization.classification.get_value.value %}
                            <option value="{{ classification.id }}" selected="true">{{ classification.value }}</option>
                        {% else %}
                            <option value="{{ classification.id }}">{{ classification.value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if form.classification.errors %}
                    {% for error in form.classification.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <br />
        {% if form.foundingdate.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_form-{{ form_id }}-foundingdate">Founding date</label>
            <div class="col-sm-8">
                <input type="text" class="form-control datepicker" id="id_form-{{ form_id }}-foundingdate" name="form-{{ form_id }}-foundingdate" value="{{ form.cleaned_data.foundingdate|date:'Y-m-d' }}"/>
                {% if form.foundingdate.errors %}
                    {% for error in form.foundingdate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if form.realfounding.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
            <div class="col-sm-offset-2 col-sm-8">
                <div class="checkbox">
                    <label for="id_form-{{ form_id }}-realfounding" class="control-label">
                        {% if form.cleaned_data.realfounding %}
                            <input type="checkbox" id="id_form-{{ form_id }}-realfounding" name="form-{{ form_id }}-realfounding" checked > Real founding date?
                        {% else %}
                            <input type="checkbox" id="id_form-{{ form_id }}-realfounding" name="form-{{ form_id }}-realfounding" > Real founding date?
                        {% endif %}
                    </label>
                    {% if form.realfounding.errors %}
                        {% for error in form.realfounding.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <button class="btn sfm-btn-cancel col-sm-2" type="submit">Cancel</button>
            <button class="btn col-sm-2 pull-right sfm-btn-action addObject" type="submit">Save</button>
        </div>
    </div>

    {% render_versions organization %}

{% endblock %}
