{% extends 'organization/base-organization.html' %}
{% load i18n %}
{% load countries %}
{% load citations %}

{% block form_content %}
    <h2>{% trans "Edit basics" %}</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="checkbox">
                    <label class="control-label">
                        {% if form.instance.published %}
                            <input type="checkbox" name="published" id="id_published" checked="true" /> {% trans "Published?" %}
                        {% else %}
                            <input type="checkbox" name="published" id="id_published" /> {% trans "Published?" %}
                        {% endif %}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row name-row field-bg bg-info">
        <div class="col-sm-12">
            {% if form.name.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.name.label }}</label>
                <input id="id_name" type="text" class="form-control sourced" name="name" value="{{ form.instance.name.get_value }}" />
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_name_source">
            {% for source in form.instance.name.get_sources %}
                {% source_input 'name' source %}
            {% endfor %}
        </div>
        <div id="id_name_confidence">
            <input type="hidden" value="{{ form.instance.name.get_value.confidence }}" name="name_confidence">
        </div>
    </div>
    <div class="row aliases-row field-bg">
        <div class="col-sm-12">
            {% if form.aliases.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.aliases.label }}</label>
                <select id="id_alias" class="form-control select2-target" name="aliases" multiple="multiple">
                    {% for alias in form.instance.aliases.get_list %}
                        <option value="{{ alias.get_field.id }}" selected=true>{{ alias.get_field.value }}</option>
                    {% endfor %}
                </select>
                {% if form.aliases.errors %}
                    {% for error in form.aliases.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_aliases_source">
            {% for source in form.instance.aliases.get_list.0.get_sources %}
                {% source_input 'aliases' source %}
            {% endfor %}
        </div>
        <div id="id_aliases_confidence">
            <input type="hidden" value="{{ form.instance.aliases.get_list.0.get_value.confidence }}" name="aliases_confidence">
        </div>
    </div>
    <div class="row classification-row field-bg">
        <div class="col-sm-12">
            {% if form.classification.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.classification.label }}</label>
                <select id="id_classification" class="form-control select2-target" name="classification" multiple="multiple">
                    {% for classification in form.instance.classification.get_list %}
                        <option value="{{ classification.get_field.id }}" selected=true>{{ classification.get_field.value }}</option>
                    {% endfor %}
                </select>
                {% if form.classification.errors %}
                    {% for error in form.classification.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_classification_source">
            {% for source in form.instance.classification.get_list.0.get_sources %}
                {% source_input 'classification' source %}
            {% endfor %}
        </div>
        <div id="id_classification_confidence">
            <input type="hidden" value="{{ form.instance.classification.get_value.confidence }}" name="classification_confidence">
        </div>
    </div>
    <div class="row division_id-row field-bg">
        <div class="col-sm-12">
            {% if form.division_id.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.division_id.label }}</label>
                <select id="id_division_id" class="form-control select2-target" name="division_id">
                    {% if form.instance.division_id %}
                        <option value="{{ form.instance.division_id }}">{{ form.instance.division_id|country_name }}</option>
                    {% else %}
                        <option value="" selected=true>------</option>
                    {% endif %}
                    {% for country in countries %}
                        <option value="ocd-division/country:{{ country.iso|lower }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                {% if form.division_id.errors %}
                    {% for error in form.division_id.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_division_id_source">
            {% for source in form.instance.division_id.get_sources %}
                {% source_input 'division_id' source %}
            {% endfor %}
        </div>
        <div id="id_division_id_confidence">
            <input type="hidden" value="{{ form.instance.division_id.get_value.confidence }}" name="division_id_confidence">
        </div>
    </div>
    <div class="row firstciteddate-row field-bg">
        <div class="col-sm-12">
            {% if form.firstciteddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.firstciteddate.label }}</label>
                <input type="text" name="firstciteddate" id="id_firstciteddate" class="form-control sourced" value="{{ form.instance.firstciteddate }}"/>
                {% if form.firstciteddate.errors %}
                    {% for error in form.firstciteddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_firstciteddate_source">
            {% for source in form.instance.firstciteddate.get_sources %}
                {% source_input 'firstciteddate' source %}
            {% endfor %}
        </div>
        <div id="id_firstciteddate_confidence">
            <input type="hidden" value="{{ form.instance.firstciteddate.get_value.confidence }}" name="firstciteddate_confidence">
        </div>
    </div>
    <div class="row lastciteddate-row field-bg">
        <div class="col-sm-12">
            {% if form.lastciteddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.lastciteddate.label }}</label>
                <input type="text" name="lastciteddate" id="id_lastciteddate" class="form-control sourced" value="{{ form.instance.lastciteddate }}">
                {% if form.lastciteddate.errors %}
                    {% for error in form.lastciteddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_lastciteddate_source">
            {% for source in form.instance.lastciteddate.get_sources %}
                {% source_input 'lastciteddate' source %}
            {% endfor %}
        </div>
        <div id="id_lastciteddate_confidence">
            <input type="hidden" value="{{ form.instance.lastciteddate.get_value.confidence }}" name="lastciteddate_confidence">
        </div>
    </div>
    <div class="row realstart-row field-bg">
        <div class="col-sm-12">
            {% if form.realstart.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <div class="checkbox">
                    <label class="control-label">
                        {% if form.instance.realstart.get_value.value %}
                            <input type="checkbox" name="realstart" id="id_realstart" checked="true" /> {{ form.realstart.label }}
                        {% else %}
                            <input type="checkbox" name="realstart" id="id_realstart" /> {{ form.realstart.label }}
                        {% endif %}
                    </label>
                </div>
                {% if form.realstart.errors %}
                    {% for error in form.realstart.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row open_ended-row field-bg">
        <div class="col-sm-12">
            {% if form.open_ended.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.open_ended.label }}</label>
                <select id="id_open_ended" class="form-control" name="open_ended">
                    <option value="">------</option>
                    {% for value, choice in form.fields.open_ended.choices %}
                        {% if form.instance.open_ended.get_value.value == value %}
                            <option value="{{ value }}" selected=true>{{ choice }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if form.open_ended.errors %}
                    {% for error in form.open_ended.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_extra_js%}
    <script type="text/javascript">
        $(document).ready(function(){
            loadSources({'target': $('#id_name')});
            $('#id_alias').select2({
                'tags': true
            });
            $('#id_classification').select2({
                'tags': true
            });

            $('#id_division_id').select2();
            // $('#id_division_id').prop('tabindex', 3);
        })
    </script>
{% endblock%}
