{% extends 'organization/base-organization.html' %}
{% load i18n %}
{% load countries %}
{% load help %}
{% load citations %}

{% block above_form %}
<h3 id="relationships">
    <i class="fa fa-fw fa-users"></i>
    {% trans "Relationships" %}
    <small class="pull-right">{% help href='whowasincommand/unitrec.html#anatomy_unit_record_subsidiaries' %}</small>
</h3>
<hr />
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{% trans "Organization name" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Date first cited" %}</th>
            <th>{% trans "Date last cited" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for composition in compositions %}
            {% if composition.parent.get_value.value == organization %}
                {% with related_organization=composition.child.get_value.value relation_type='child' %}
                    {% include 'organization/partials/composition-list-table.html' %}
                {% endwith %}
            {% elif composition.child.get_value.value == organization %}
                {% with related_organization=composition.parent.get_value.value relation_type='parent' %}
                    {% include 'organization/partials/composition-list-table.html' %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        {% for membership in memberships %}
            {% if membership.member.get_value.value == organization %}
                {% with related_organization=membership.organization.get_value.value %}
                    {% include 'organization/partials/membership-list-table.html' %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="7">
                <a href="{% url 'create-organization-composition' organization.uuid %}">
                <i class="fa fa-plus"> </i> Add composition
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <a href="{% url 'create-organization-membership' organization.uuid %}">
                <i class="fa fa-plus"> </i> Add membership
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block form_content %}
    {% include 'organization/forms/edit-composition.html' %}
{% endblock %}
{% block delete_button %}
    <a href="{% url 'delete-organization-composition' organization.uuid form.instance.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
{% block extra_extra_js%}
    <script type="text/javascript">
        $(document).ready(function(){
            loadSources({target: $('#id_relationship_type')});
        })
    </script>
{% endblock%}
