{% extends 'organization/base-organization.html' %}
{% load i18n %}
{% load countries %}
{% load help %}
{% load citations %}

{% block above_form %}
<h3 id="relationships">
    <i class="fa fa-fw fa-users"></i>
    {% trans "Relationships" %}
    <small class="pull-right">{% help href='whowasincommand/unitrec.html#anatomy_unit_record_subsidiaries' %}</small>
</h3>
<hr />
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{% trans "Organization name" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Date first cited" %}</th>
            <th>{% trans "Date last cited" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for composition in compositions %}
            {% if composition.parent.get_value.value == organization %}
                {% with related_organization=composition.child.get_value.value relation_type='child' %}
                    {% include 'organization/partials/composition-list-table.html' %}
                {% endwith %}
            {% elif composition.child.get_value.value == organization %}
                {% with related_organization=composition.parent.get_value.value relation_type='parent' %}
                    {% include 'organization/partials/composition-list-table.html' %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        {% for membership in memberships %}
            {% if membership.member.get_value.value == organization %}
                {% with related_organization=membership.organization.get_value.value %}
                    {% include 'organization/partials/membership-list-table.html' %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="7">
                <a href="{% url 'create-organization-composition' organization.uuid %}">
                <i class="fa fa-plus"> </i> Add composition
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <a href="{% url 'create-organization-membership' organization.uuid %}">
                <i class="fa fa-plus"> </i> Add membership
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block form_content %}
    <h2>{% trans "Edit relationships" %}</h2>
    <div class="row relationship_type-row field-bg bg-info">
        <div class="col-sm-12">
            {% if form.relationship_type.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{% trans "Relationship type" %}</label>
                {% if current_composition.parent.get_value.value == organization %}
                    <select id="id_relationship_type" class="form-control sourced" name="parent" readonly>
                        <option value="{{ current_composition.parent.get_value.value.id }}" selected=true>Parent</option>
                {% elif current_composition.child.get_value.value == organization %}
                    <select id="id_relationship_type" class="form-control sourced" name="child" readonly>
                        <option value="{{ current_composition.child.get_value.value.id }}" selected=true>Child</option>
                {% endif %}
                </select>
                {% if form.relationship_type.errors %}
                    {% for error in form.relationship_type.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_parent_source">
            {% for source in form.instance.parent.get_sources %}
                {% source_input 'parent' source %}
            {% endfor %}
        </div>
        <div id="id_child_source">
            {% for source in form.instance.child.get_sources %}
                {% source_input 'child' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row classification-row field-bg">
        <div class="col-sm-12">
            {% if form.classification.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.classification.label }}</label>
                <input type="text" value="{{ form.instance.classification.get_value.value }}" class="form-control sourced" name="classification" />
                {% if form.classification.errors %}
                    {% for error in form.classification.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_classification_source">
            {% for source in form.instance.classification.get_sources %}
                {% source_input 'classification' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row related_organization-row field-bg">
        <div class="col-sm-12">
            {% if form.related_organization.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{% trans "Related organization" %}</label>
                {% if current_composition.parent.get_value.value == organization %}
                    <select id="id_related_organization" class="form-control" name="child" readonly>
                        <option value="{{ form.instance.child.get_value.value.id }}">{{ form.instance.child.get_value.value }}</option>
                {% elif current_composition.child.get_value.value == organization %}
                    <select id="id_related_organization" class="form-control" name="parent" readonly>
                        <option value="{{ form.instance.parent.get_value.value.id }}">{{ form.instance.parent.get_value.value }}</option>
                {% endif %}
                </select>
                {% if form.related_organization.errors %}
                    {% for error in form.related_organization.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_parent_source">
            {% for source in form.instance.parent.get_sources %}
                {% source_input 'parent' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row related_organization_aliases-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{% trans "Related organization other names" %}</label>
                {% if current_composition.parent.get_value.value == organization %}
                    <input type="text" id="related_organization_aliases" readonly value="{{ form.instance.child.get_value.value.alias_list }}" class="form-control" />
                {% elif current_composition.child.get_value.value == organization %}
                    <input type="text" readonly value="{{ form.instance.parent.get_value.value.alias_list }}" class="form-control" />
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row related_organization_divisionid-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">{% trans "Related organization country" %}</label>
                {% if current_composition.parent.get_value.value == organization %}
                    <input type="text" id="related_organization_country" readonly value="{{ form.instance.child.get_value.value.division_id.get_value|country_name }}" class="form-control" />
                {% elif current_composition.child.get_value.value == organization %}
                    <input type="text" readonly value="{{ form.instance.parent.get_value.value.division_id.get_value|country_name }}" class="form-control" />
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row startdate-row field-bg">
        <div class="col-sm-12">
            {% if form.startdate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.startdate.label }}</label>
                <input type="text" name="startdate" id="id_startdate" class="form-control sourced" value="{{ form.instance.startdate }}">
                {% if form.startdate.errors %}
                    {% for error in form.startdate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_startdate_source">
            {% for source in form.instance.startdate.get_sources %}
                {% source_input 'startdate' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row realstart-row field-bg">
        <div class="col-sm-12">
            {% if form.realstart.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <div class="checkbox">
                    <label class="control-label">
                        {% if form.instance.realstart.get_value.value %}
                            <input type="checkbox" name="realstart" id="id_realstart" checked="true" /> {{ form.realstart.label }}
                        {% else %}
                            <input type="checkbox" name="realstart" id="id_realstart" /> {{ form.realstart.label }}
                        {% endif %}
                    </label>
                </div>
                {% if form.realstart.errors %}
                    {% for error in form.realstart.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row enddate-row field-bg">
        <div class="col-sm-12">
            {% if form.enddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.enddate.label }}</label>
                <input type="text" name="enddate" id="id_enddate" class="form-control sourced" value="{{ form.instance.enddate }}">
                {% if form.enddate.errors %}
                    {% for error in form.enddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_enddate_source">
            {% for source in form.instance.enddate.get_sources %}
                {% source_input 'enddate' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row open_ended-row field-bg">
        <div class="col-sm-12">
            {% if form.open_ended.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.open_ended.label }}</label>
                <select id="id_open_ended" class="form-control" name="open_ended">
                    <option value="">------</option>
                    {% for value, choice in form.fields.open_ended.choices %}
                        {% if form.instance.open_ended.get_value.value == value %}
                            <option value="{{ value }}" selected=true>{{ choice }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if form.open_ended.errors %}
                    {% for error in form.open_ended.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block delete_button %}
    <a href="{% url 'delete-organization-composition' organization.uuid form.instance.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
{% block extra_extra_js%}
    <script type="text/javascript">
        $(document).ready(function(){
            loadSources({target: $('#id_relationship_type')});
        })
    </script>
{% endblock%}
