{% extends 'organization/edit-locations.html' %}
{% load i18n %}
{% load countries %}
{% load citations %}

{% block form_content %}
    <h2>{% trans "Edit Location" %}</h2>
    <input type="hidden" name="organization" value="{{ form.instance.organization.get_value.value.id }}">
    {% for source in form.instance.organization.get_sources %}
        <input type="hidden" name="organization_source" value="{{ source.uuid }}" />
    {% endfor %}
    <div class="row site-row field-bg bg-info">
        <div class="col-sm-12">
            {% if form.site.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.site.label }}</label>
                <select id="id_site" class="form-control sourced location" name="site">
                    {% if form.instance.site.get_value %}
                    <option value="{{ form.instance.site.get_value.value.id }}">
                    {{ form.instance.site.get_value.value.name }}
                    ({{ form.instance.site.get_value.value.feature_type }} - {{ form.instance.site.get_value.value.id }})
                    </option>
                    {% endif %}
                </select>
                {% if form.site.errors %}
                    {% for error in form.site.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_site_source">
            {% for source in form.instance.site.get_sources %}
                {% source_input 'site' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row aliases-row field-bg">
        <div class="col-sm-12">
            {% if form.aliases.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.aliases.label }}</label>
                <select id="id_alias" class="form-control select2-target" name="aliases" multiple="multiple">
                    {% for alias in form.instance.aliases.get_list %}
                        <option value="{{ alias.get_field.id }}" selected=true>{{ alias.get_field.value }}</option>
                    {% endfor %}
                </select>
                {% if form.aliases.errors %}
                    {% for error in form.aliases.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_aliases_source">
            {% for source in form.instance.aliases.get_list.0.get_sources %}
                {% source_input 'aliases' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row startdate-row field-bg">
        <div class="col-sm-12">
            {% if form.startdate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.startdate.label }}</label>
                <input type="text" name="startdate" id="id_startdate" class="form-control sourced" value="{{ form.instance.startdate }}"/>
                {% if form.startdate.errors %}
                    {% for error in form.startdate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_startdate_source">
            {% for source in form.instance.startdate.get_sources %}
                {% source_input 'startdate' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row enddate-row field-bg">
        <div class="col-sm-12">
            {% if form.enddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.enddate.label }}</label>
                <input type="text" name="enddate" id="id_enddate" class="form-control sourced" value="{{ form.instance.enddate }}">
                {% if form.enddate.errors %}
                    {% for error in form.enddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_enddate_source">
            {% for source in form.instance.enddate.get_sources %}
                {% source_input 'enddate' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row realstart-row field-bg">
        <div class="col-sm-12">
            {% if form.realstart.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <div class="checkbox">
                    <label class="control-label">
                        {% if form.instance.realstart.get_value.value %}
                        <input type="checkbox" name="realstart" id="id_realstart" checked="true" /> {{ form.realstart.label }}
                        {% else %}
                            <input type="checkbox" name="realstart" id="id_realstart" /> {{ form.realstart.label }}
                        {% endif %}
                    </label>
                </div>
                {% if form.realstart.errors %}
                    {% for error in form.realstart.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row open_ended-row field-bg">
        <div class="col-sm-12">
            {% if form.open_ended.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.open_ended.label }}</label>
                <select id="id_open_ended" class="form-control" name="open_ended">
                    <option value="">------</option>
                    {% for value, choice in form.fields.open_ended.choices %}
                        {% if form.instance.open_ended.get_value.value == choice %}
                            <option value="{{ value }}" selected=true>{{ choice }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if form.open_ended.errors %}
                    {% for error in form.open_ended.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block delete_button %}
    <a href="{% url 'delete-organization-emplacement' organization.uuid form.instance.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
