{% extends "base_detail.html" %}
{% load i18n %}
{% load static %}
{% load countries %}
{% load citations %}
{% load help %}
{% load model_meta %}

{% block page_title_prefix %}{{ organization.name.get_value }} - {% endblock %}

{% block extra_head %}
    <meta name="description" content="{% trans 'Also known as:' %} {% for alias in organization.aliases.get_list %}{{ alias.get_value }}{% if not forloop.last %}, {% endif %}{% endfor %}. {% trans 'Country:' %} {{ organization.division_id.get_value | country_name }}. {% trans 'Classified as:' %} {% for classification in organization.classification.get_list %}{{ classification.get_value }}{% if not forloop.last %}, {% endif %}{% endfor %}." />
    {% if associations or emplacements %}
        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    {% endif %}
    {% if sources %}
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css" />
    {% endif %}
{% endblock %}

{% block header %}
    <h2 class="page-title cited">
        <i class="fa fa-fw fa-users"></i>
        <bdi>{{ organization.name.get_value }}</bdi>
        <small>{% help href='unitrec.html#unit-record-title-area' %}</small>
        {% cite organization.name.get_value %}
        <small class="pull-right">
            <a class="btn btn-default" type="button" role="button" href="{{ download_url }}"><i class="fa fa-fw fa-download"></i>{% trans "Download as CSV" %}</a>
            <a class="btn btn-default" type="button" role="button" href="#" id="print-page">
                <i class="fa fa-fw fa-file-text"></i>{% trans "Print this page" %}
            </a>
            {% if request.user.is_staff %}
            <a class="btn btn-default" type="button" role="button" href="{% url 'edit-organization' organization.uuid %}">
                <i class="fa fa-fw fa-edit"></i>{% trans "Edit" %}
            </a>
            {% endif %}
        </small>
    </h2>
    {% if organization.aliases.get_list %}
        <p class="cited">{% trans "Also known as:" %}
            {% for alias in organization.aliases.get_list %}
                <strong>
                    <bdi>{{ alias.get_value }}</bdi>{% if not forloop.last %}|{% else %}{% cite alias.get_value %}{% endif %}
                </strong>
            {% endfor %}
        </p>
    {% endif %}
    {% if organization.division_id.get_value %}
        <p class="cited">
            {% trans "Country:" %} <strong>{{ organization.division_id.get_value | country_name }}</strong>
            {% cite organization.division_id.get_value %}
        </p>
    {% endif %}
    {% if organization.classification.get_list %}
    <p class="cited">{% trans "Classified as:" %}
        <small>
        {% for classification in organization.classification.get_list %}
            <strong><a href="{% url 'search' %}?entity_type=Organization&selected_facets=classifications_exact:{{classification.get_value}}&selected_facets=countries_exact:{{ organization.division_id.get_value | country_name }}">{{ classification.get_value }}</a>{% if not forloop.last %}&nbsp;{% else %}{% cite classification.get_value %}{% endif %}</a></strong>
        {% endfor %}
        </small>
    </p>
    {% endif %}
{% endblock %}

{% block contents_help %}
    <small>{% help href='unitrec.html#unit-record-content-sidebar' %}</small>
{% endblock %}

{% block sidebar %}

    {% if associations %}<li><a href="#areas-of-operation"><i class="fa fa-fw fa-globe"></i> {% trans "Areas of operation" %} </a></li>{% endif %}
    {% if emplacements %}<li><a href="#sites"><i class="fa fa-fw fa-map-marker"></i> {% trans "Sites" %}</a></li>{% endif %}
    {% if memberships %}<li><a href="#memberships"><i class="fa fa-fw fa-sitemap fa-rotate-180"></i> {% trans "Memberships" %}</a></li>{% endif %}
    {% if org_members %}<li><a href="#org-members"><i class="fa fa-fw fa-sitemap"></i> {% trans "Member units" %}</a></li>{% endif %}
    {% if parents %}<li><a href="#parent-units"><i class="fa fa-fw fa-sitemap fa-rotate-180"></i> {% trans "Parent units" %}</a></li>{% endif %}
    {% if subsidiaries %}<li><a href="#subsidiaries"><i class="fa fa-fw fa-sitemap"></i> {% trans "Subsidiaries" %}</a></li>{% endif %}
    {% if person_members %}<li><a href="#command-personnel"><i class="fa fa-fw fa-users"></i> {% trans "Personnel" %}</a></li>{% endif %}
    {% if events %}<li><a href="#incidents"><i class="fa fa-fw fa-exclamation-triangle"></i> {% trans "Incidents" %}</a></li>{% endif %}
    {% if sources %}<li><a href="#sources"><i class="fas fa-file-alt fa-fw"></i> {% trans "Sources" %}</a></li>{% endif %}

{% endblock %}

{# This is exactly the same as the previous sidebar #}
{# Django just won't let you reuse blocks w/o 3rd party plugins :( #}
{% block sidebar_mobile %}

    {% if associations %}<li><a href="#areas-of-operation"><i class="fa fa-fw fa-globe"></i> {% trans "Areas of operation" %} </a></li>{% endif %}
    {% if emplacements %}<li><a href="#sites"><i class="fa fa-fw fa-map-marker"></i> {% trans "Sites" %}</a></li>{% endif %}
    {% if memberships %}<li><a href="#memberships"><i class="fa fa-fw fa-sitemap fa-rotate-180"></i> {% trans "Memberships" %}</a></li>{% endif %}
    {% if org_members %}<li><a href="#org-members"><i class="fa fa-fw fa-sitemap"></i> {% trans "Member units" %}</a></li>{% endif %}
    {% if parents %}<li><a href="#parent-units"><i class="fa fa-fw fa-sitemap fa-rotate-180"></i> {% trans "Parent units" %}</a></li>{% endif %}
    {% if subsidiaries %}<li><a href="#subsidiaries"><i class="fa fa-fw fa-sitemap"></i> {% trans "Subsidiaries" %}</a></li>{% endif %}
    {% if person_members %}<li><a href="#command-personnel"><i class="fa fa-fw fa-users"></i> {% trans "Personnel" %}</a></li>{% endif %}
    {% if events %}<li><a href="#incidents"><i class="fa fa-fw fa-exclamation-triangle"></i> {% trans "Incidents" %}</a></li>{% endif %}
    {% if sources %}<li><a href="#sources"><i class="fas fa-file-alt fa-fw"></i> {% trans "Sources" %}</a></li>{% endif %}

{% endblock %}

{% block details %}

    {% if associations %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="areas-of-operation"><i class="fa fa-fw fa-globe"></i>
                {% trans "Areas of operation" %}
                <small class="pull-right">{% help href='unitrec.html#unit-record-areas-of-operation' %}</small>
            </h3>
            <hr />
            <div id="osm_area_map" style="height:300px;"></div>
            <br />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ models.Association|verbose_field_name:"area" }}</th>
                        <th>{{ models.Association|verbose_field_name:"startdate" }}</th>
                        <th>{{ models.Association|verbose_field_name:"enddate" }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for association in associations %}
                    <tr>
                        <td class="cited">
                        {% if association.area.get_value.value %}
                            {% with osmid=association.area.get_value.value.id %}
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'view-location' osmid %}">
                                        {{ association.area.get_value.value.name }}
                                    </a>
                                {% else %}
                                    <a target="_blank" href="https://www.openstreetmap.org/{{ association.area.get_value.value.osm_feature_type }}/{{ osmid }}">
                                        <i class="fa fa-external-link"> </i> {{ association.area.get_value.value.name }}
                                    </a>
                                {% endif %}
                                {% cite association.area.get_value %}
                            {% endwith %}
                        {% endif %}
                        </td>
                        <td class="cited">
                            {% datetype association.startdate.get_value 'start' %}
                            {% cite association.startdate.get_value %}
                        </td>
                        <td class="cited">
                            {% datetype association.enddate.get_value 'end' %}
                            {% cite association.enddate.get_value %}
                        </td>
                    </td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if emplacements %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="sites">
                <i class="fa fa-fw fa-map-marker"></i>
                {% trans "Sites" %}
                <small class="pull-right">{% help href='unitrec.html#unit-record-sites' %}</small>
            </h3>
            <hr />
            <div id="osm_site_map" style="height:300px;"></div>
            <br />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ models.Emplacement|verbose_field_name:"site" }}</th>
                        <th>{{ models.Emplacement|verbose_field_name:"startdate" }}</th>
                        <th>{{ models.Emplacement|verbose_field_name:"enddate" }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for emplacement in emplacements %}
                    <tr>
                        <td class="cited">
                            {% if emplacement.site.get_value.value %}
                                {% with osmid=emplacement.site.get_value.value.id %}
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'view-location' osmid %}">
                                        {{ emplacement.site.get_value.value.name }}
                                    </a>
                                {% else %}
                                    <a target="_blank" href="https://openstreetmap.org/{{ emplacement.site.get_value.value.osm_feature_type }}/{{ osmid }}">
                                        <i class="fa fa-external-link"> </i> {{ emplacement.site.get_value.value.name }}
                                    </a>
                                {% endif %}
                                {% endwith %}
                            {% endif %}
                            {% cite emplacement.site.get_value %}
                        </td>
                        <td class="cited">
                            {% datetype emplacement.startdate.get_value 'start' %}
                            {% cite emplacement.startdate.get_value %}
                        </td>
                        <td class="cited">
                            {% datetype emplacement.enddate.get_value 'end' %}
                            {% cite emplacement.enddate.get_value %}
                        </td>
                    </td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if memberships %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="memberships">
                <i class="fa fa-fw fa-sitemap fa-rotate-180"></i>
                {% trans "Memberships" %}
            </h3>
            <small>{% trans "Multi-unit organizations that this unit is part of" %}</small>
            <small class="pull-right">{% help href='unitrec.html#unit-record-memberships' %}</small>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ view.model|verbose_field_name:"name" }}</th>
                        <th>{{ view.model|verbose_field_name:"division_id" }}</th>
                        <th>{{ view.model|verbose_field_name:"aliases" }}</th>
                        <th>{{ view.model|verbose_field_name:"classification" }}</th>
                        <th>{{ view.model|verbose_field_name:"firstciteddate" }}</th>
                        <th>{{ view.model|verbose_field_name:"lastciteddate" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membership in memberships %}
                        <tr>
                            <td class="cited">
                                <bdi>
                                    <a href="{% url 'view-organization' membership.organization.get_value.value.uuid %}">
                                        {{ membership.organization.get_value.value.name.get_value }}
                                    </a>
                                </bdi>
                                {% cite membership.organization.get_value.value.name.get_value %}
                            </td>
                            <td class="cited">
                                {{ membership.organization.get_value.value.division_id|country_name }}
                                {% cite membership.organization.get_value.value.division_id.get_value %}
                            </td>
                            <td class="cited">
                                {% for alias in membership.organization.get_value.value.aliases.get_list %}
                                    <bdi>{{ alias.get_value }}</bdi>
                                    {% cite alias.get_value %}
                                    {% if not forloop.last %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="cited">
                                {% for classification in membership.organization.get_value.value.classification.get_list %}
                                    {{ classification.get_value }}
                                    {% cite classification.get_value %}
                                    {% if not forloop.last %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="cited">
                                {% datetype membership.firstciteddate.get_value 'start' %}
                                {% cite membership.firstciteddate.get_value %}
                            </td>
                            <td class="cited">
                                {% datetype membership.lastciteddate.get_value 'end' %}
                                {% cite membership.lastciteddate.get_value %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if org_members %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="org-members">
                <i class="fa fa-fw fa-sitemap"></i>
                {% trans "Member units" %}
            </h3>
            <small>{% trans "All units that comprise this unit." %}</small>
            <small class="pull-right">{% help href='unitrec.html#unit-record-member-units' %}</small>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ view.model|verbose_field_name:"name" }}</th>
                        <th>{{ view.model|verbose_field_name:"division_id" }}</th>
                        <th>{{ view.model|verbose_field_name:"aliases" }}</th>
                        <th>{{ view.model|verbose_field_name:"classification" }}</th>
                        <th>{{ view.model|verbose_field_name:"firstciteddate" }}</th>
                        <th>{{ view.model|verbose_field_name:"lastciteddate" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membership in org_members %}
                        <tr>
                            <td class="cited">
                                <bdi>
                                    <a href="{% url 'view-organization' membership.member.get_value.value.uuid %}">
                                        {{ membership.member.get_value.value.name.get_value }}
                                    </a>
                                </bdi>
                                {% cite membership.member.get_value %}
                            </td>
                            <td class="cited">
                                {{ membership.member.get_value.value.division_id|country_name }}
                                {% cite membership.member.get_value.value.division_id.get_value %}
                            </td>
                            <td class="cited">
                                {% for alias in membership.member.get_value.value.aliases.get_list %}
                                    <bdi>{{ alias.get_value }}</bdi>
                                    {% cite alias.get_value %}
                                    {% if not forloop.last %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="cited">
                                {% for classification in membership.member.get_value.value.classification.get_list %}
                                    {{ classification.get_value }}
                                    {% cite classification.get_value %}
                                    {% if not forloop.last %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="cited">
                                {% datetype membership.firstciteddate.get_value 'start' %}
                                {% cite membership.firstciteddate.get_value %}
                            </td>
                            <td class="cited">
                                {% datetype membership.lastciteddate.get_value 'end' %}
                                {% cite membership.lastciteddate.get_value %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if parents_list %}
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="parent-units">
                        <i class="fa fa-fw fa-sitemap fa-rotate-180"></i>
                        {% trans "Parent units" %}
                    </h3>
                    <small>{% trans "All units that have held a command position over this unit." %}</small>
                    <small class="pull-right">{% help href='unitrec.html#unit-record-parent-units' %}</small>
                    <hr />
                    <small><em>{% trans "Swipe to zoom, click and drag to pan" %}</em></small>
                    <bdi>
                        <div id="org-chart-container" class="command-charts-carousel"></div>
                    </bdi>
                    <br>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if subsidiaries %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="subsidiaries">
                <i class="fa fa-fw fa-sitemap"></i>
                {% trans "Subsidiaries" %}
                <small class="pull-right">{% help href='unitrec.html#unit-record-unit-subsidiaries' %}</small>
            </h3>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ view.model|verbose_field_name:"name" }}</th>
                        <th>{{ view.model|verbose_field_name:"aliases" }}</th>
                        <th>{{ view.model|verbose_field_name:"classification" }}</th>
                        <th>{{ view.model|verbose_field_name:"firstciteddate" }}</th>
                        <th>{{ view.model|verbose_field_name:"lastciteddate" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subsidiary in subsidiaries %}
                        {% with child=subsidiary.child.get_value.value %}
                            <tr>
                                <td class="cited">
                                    <bdi>
                                        <a href="{% url 'view-organization' child.uuid %}">
                                            {{ child.name.get_value }}
                                        </a>
                                    </bdi>
                                    {% cite subsidiary.child.get_value %}
                                </td>
                                <td class="cited">
                                    {% for alias in child.aliases.get_list %}
                                        <bdi>{{ alias.get_value }}</bdi>
                                        {% cite alias.get_value %}
                                        {% if not forloop.last %}
                                            <br/>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="cited">
                                    {% for classification in child.classification.get_list %}
                                        {{ classification.get_value }}
                                        {% cite classification.get_value %}
                                        {% if not forloop.last %}
                                            <br/>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="cited">
                                    {% datetype subsidiary.startdate.get_value 'start' %}
                                    {% cite subsidiary.startdate.get_value %}
                                </td>
                                <td class="cited">
                                    {% datetype subsidiary.enddate.get_value 'end' %}
                                    {% cite subsidiary.enddate.get_value %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if person_members %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="command-personnel">
                <i class="fa fa-fw fa-users"></i>
                {% trans "Personnel" %}
            </h3>
            <small>{% trans "Table showing personnel linked to this unit in command, administrative and other roles" %}</small>
            <small class="pull-right">{% help href='unitrec.html#unit-record-unit-personnel' %}</small>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ models.Person|verbose_field_name:"name" }}</th>
                        <th>{{ models.MembershipPerson|verbose_field_name:"rank" }}</th>
                        <th>{{ models.MembershipPerson|verbose_field_name:"role" }}</th>
                        <th>{{ models.MembershipPerson|verbose_field_name:"title" }}</th>
                        <th>{{ models.MembershipPerson|verbose_field_name:"firstciteddate" }}</th>
                        <th>{{ models.MembershipPerson|verbose_field_name:"lastciteddate" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in person_members %}
                        <tr>
                            <td class="cited">
                                <a href="{% url 'view-person' member.member.get_value.value.uuid %}">
                                    {{ member.member.get_value }}
                                </a>
                                {% cite member.member.get_value %}
                            </td>
                            <td class="cited">
                                {{ member.rank.get_value }}
                                {% cite member.rank.get_value %}
                            </td>
                            <td class="cited">
                                {{ member.role.get_value }}
                                {% cite member.role.get_value %}
                            </td>
                            <td class="cited">
                                {{ member.title.get_value|default:"" }}
                                {% cite member.title.get_value %}
                            </td>
                            <td class="cited">
                                {% datetype member.firstciteddate.get_value 'start' %}
                                {% cite member.firstciteddate.get_value %}
                            </td>
                            <td class="cited">
                                {% datetype member.lastciteddate.get_value 'end' %}
                                {% cite member.lastciteddate.get_value %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if events %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="incidents">
                <i class="fa fa-fw fa-exclamation-triangle"></i>
                {% trans "Incidents" %}
                <small class="pull-right">{% help href='unitrec.html#unit-record-unit-incidents' %}</small>
            </h3>
            <hr />
            {% for event in events %}
                <div class="row">
                    <div class="col-sm-12">
                        <p class="cited">
                            <a href="{% url 'view-violation' event.uuid %}">
                                {% with violation=event %}
                                    {% include 'partials/violation_title.html' %}
                                {% endwith %}
                            </a>
                            {# All violation info uses the same source, so we can cite at the end #}
                            {% cite event.description.get_value %}
                        </p>
                    </div>
                    <div class="col-sm-12">
                        <p class="cited">
                            {{ event.description.get_value|truncatewords:50|default:"" }}
                            {% cite event.description.get_value %}
                        </p>
                    </div>
                </div>
                {% if not forloop.last %}
                <hr />
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if sources %}
        {% include 'partials/source_overview_table.html' %}
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#print-page").on("click", function(){ window.print(); });
        });
    </script>
    {% if associations or emplacements %}
        <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
        <script src="{% static 'js/unit_maps.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var sites = {{ sites|safe }};
                var areas = {{ areas|safe }};
                var mapAttribution = '{% blocktrans %}Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>{% endblocktrans %}';

                if (sites.features.length > 0) UnitMaps.initializeMap(L, 'osm_site_map', sites, mapAttribution);
                if (areas.features.length > 0) UnitMaps.initializeMap(L, 'osm_area_map', areas, mapAttribution);
            });
        </script>
    {% endif %}

    {% if parents_list %}
        <script src="{% static 'js/vis.min.js' %}"></script>
        <script src="{% static 'js/spin.min.js' %}"></script>
        <script src="{% static 'js/jquery.spin.js' %}"></script>
        <script src="{% static 'js/command_chart.js' %}"></script>
        <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
        <script>

        $(document).ready(function() {

            var edgelists = {{parents_list|safe}};

            var chart = CommandChart;
            chart.dateMissingString = "{% trans 'No known end date' %}"
            chart.edgelists = edgelists;

            chart.initCarousel();
            chart.show();

        });
        </script>
    {% endif %}

    {% if sources %}
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.data-table').dataTable({
                    "order": [[ 0, "desc" ]],
                    "pageLength": 25,
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": [ 4 ] },
                        { "bSearchable": false, "aTargets": [ 4 ] }
                    ]
                })
            });
        </script>
    {% endif %}
{% endblock %}
