*.*~
*.orig
*.pyc
*.sass-cache*
*.swo
*.swp
.DS_Store

# Import artifacts
*_import
*-errors.csv
sfm_pc/management/commands/data/

/staticfiles
bin/
db.sqlite3
env/
node_modules/
settings_local.py
settings_local.dev.py
fixtures/*.geojson
*credentials.json

/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/configs/auth.json
/configs/client_secrets.json
/configs/credentials.json
/configs/settings_local_production.py
/configs/settings_local_staging.py
/configs/sfm.conf.production.nginx
/configs/sfm.conf.production.supervisor
/configs/sfm.conf.staging.nginx
/configs/sfm.conf.staging.supervisor
/scripts/after_install.sh
/scripts/app_start.sh
/scripts/app_stop.sh
/scripts/sfm-cron
/configs/backup-credentials.txt
/scripts/backup.sh
/static/js/piwik_tracker_production.js
/configs/settings_local_importer.py
/configs/settings_local_dev.py
/configs/settings_local_sahel.py
/configs/sfm.conf.sahel.nginx
/configs/sfm.conf.sahel.supervisor
*.dump
/configs/settings_local_numbersix.py
/configs/sfm.conf.numbersix.nginx
/configs/sfm.conf.numbersix.supervisor

static/css/*.rtl.css
fixtures/import_docket.ns.csv
