*.*~
*.orig
*.pyc
*.sass-cache*
*.swo
*.swp
.DS_Store
/staticfiles
bin/
db.sqlite3
env/
node_modules/
settings_local.py
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/configs/auth.json
/configs/client_secrets.json
/configs/credentials.json
/configs/settings_local_production.py
/configs/settings_local_staging.py
/configs/sfm.conf.production.nginx
/configs/sfm.conf.production.supervisor
/configs/sfm.conf.staging.nginx
/configs/sfm.conf.staging.supervisor
/scripts/after_install.sh
/scripts/app_start.sh
/scripts/app_stop.sh
/scripts/backup_translations.sh
