dj-database-url==0.3.0
Django>=2.2
django-haystack==2.8.1
django-jsonview==0.5.0
django-localeurl==2.0.2
django-reversion==2.0.4
django-countries-plus==1.1
django-bootstrap-pagination==1.6.2
django-date-extensions==2.0
django-leaflet==0.16.0
psycopg2==2.7.3.1
django-extra-views==0.7.1
django-rosetta==0.7.13
django-queryset-csv==1.1.0

git+https://github.com/security-force-monitor/complex_fields.git

gunicorn==19.0.0
tqdm==4.36.1
google-api-python-client==1.5.4

sqlalchemy==1.1.3
datefinder==0.6.0
raven
django-debug-toolbar<2.0
pysolr==3.6.0
pytest-django==3.5.1
pytest-mock==1.10
