dj-database-url==0.3.0
Django==1.8.3
django-jsonview==0.5.0
django-localeurl==2.0.2
django-reversion==1.9.3
django-countries-plus==1.0.1
django-languages-plus==0.1.5
django-allauth==0.23.0
django-date-extensions==1.1.0
django-leaflet==0.16.0
psycopg2==2.6.1
git+https://8ae396aedf25cb019020d6e2c6d384d1a1df0492:x-oauth-basic@github.com/caravancoop/complex_fields.git

# @see https://devcenter.heroku.com/articles/getting-started-with-django#requirements-txt
dj-static==0.0.6
gunicorn==19.0.0
