<input type="hidden"
    name="{{ field_name }}_source"
    class="{{ field_name }}_source"
    value="{{ id }}"
    data-title="{{ title }}"
    data-source_url="{{ source_url }}"
    data-source_detail_url="{% url 'view-source' source_id %}"
    data-source_publication_country="{{ publication_country|default_if_none:"" }}"
    data-publication="{{ publication|default_if_none:"" }}"
    data-archive_url="{{ archive_url|default_if_none:"" }}"
    data-page_number="{{ page_number|default_if_none:"" }}"
    data-accessed_on="{{ accessed_on|default_if_none:"" }}"
    data-date_added="{{ date_added }}"
    data-publication_country="{{ publication_country|default_if_none:"" }}"
    data-uncommitted="{{ uncommitted|lower }}" />
