{% load i18n %}
{% load help %}

{% if real_date %}
    <a type="button"
       role="button"
       class="datetype"
       data-toggle="tooltip"
       data-html="true"
       data-placement="top"
       data-content=""
       data-original-title="<div class='tooltip-title'><p class='text-left'>{{ title }}<a type='button' role='button' class='close pull-right' aria-hidden='true' aria-label='Close'>&times;</a><span class='pull-right'>{% help href='generalfunctions.html#why-do-some-dates-have-a-dotted-line-beneath-them-and-some-don-t' %}</span></div>{{ content }}"
       data-trigger="focus"
       tabindex="0"
       aria-label="{% trans 'Real date label' %}">
        {{ citation_date.value }}
    </a>
{% else %}
    {{ citation_date.value }}
{% endif %}
