<div class="row">
        <ul class='nav nav-wizard'>
            <li class='{% if "source" in request.path %} active {% endif %}'>1 - Create source</li>
            <li class='{% if "organization" in request.path or "composition" in request.path %} active {% endif %}'>2 - Units</li>
            <li class='{% if "person" in request.path %} active {% endif %}'>3 - Personnel</li>
            <li class='{% if "membership-info" in request.path %} active {% endif %}'>4 - Relations</li>
            <li class='{% if "create-sites" in request.path %} active {% endif %}'>5 - Geographies</li>
            <li class='{% if "violation" in request.path %} active {% endif %}'>6 - Incidents</li>
        </ul>
</div>
