{% load tablesort %}
{% load countries %}
{% load i18n %}

<div class="responsive-table">
    <table class="table table-striped table-condensed search-results-table">
        <thead>
            <tr>
                {% if merge == 'True' %}
                    <th></th>
                {% endif %}
                <th>
                    {% trans "Name" %}
                    {% if sortable == 'True' %}
                        {% with sort_param='Organization_sort' sort_asc='organization_name_s_asc' sort_desc='organization_name_s_desc' selected_sort=sorts.Organization %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {% trans "Parents" %}
                </th>
                <th>
                    {% trans "Classification" %}
                </th>
                <th>
                    {% trans "Last site" %}
                </th>
                <th>
                    {% trans "Country" %}
                </th>
                <th>
                    {% trans "First cited" %}
                    {% if sortable == 'True' %}
                        {% with sort_param='Organization_sort' sort_asc='start_date_dt_asc' sort_desc='start_date_dt_desc' selected_sort=sorts.Organization %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {% trans "Last cited" %}
                    {% if sortable == 'True' %}
                        {% with sort_param='Organization_sort' sort_asc='end_date_dt_asc' sort_desc='end_date_dt_desc' selected_sort=sorts.Organization %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                {% if object.name.get_value %}
                    <tr>
                        {% if merge == 'True' %}
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="organization_ids" data-entity_id="{{object.id}}">
                                    </label>
                                </div>
                            </td>
                        {% endif %}
                        {% if canonical == 'True' %}
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="canonical_record" value="{{ object.id }}">
                                    </label>
                                </div>
                            </td>
                        {% endif %}
                        <!-- Name -->
                        <td>
                            <a href="{% url 'detail_organization' object.id %}">{{ object.name.get_value }}</a>
                        </td>
                        <!-- Parent -->
                        <td>
                            {% for comp in object.parent_organization.all %}
                                {% with parent=comp.object_ref.parent.get_value %}
                                    <a href="{% url 'detail_organization' parent.value.id %}">{{ parent.value.name.get_value }}</a>
                                {% endwith %}
                                {% if not forloop.last %}<br />{% endif %}
                            {% endfor %}
                        </td>
                        <!-- Classification -->
                        <td>
                            {% for classification in object.classification.get_list %}
                                {% if classification.get_value %}
                                    {{ classification.get_value.value.value }}
                                {% endif %}
                                {% if not forloop.last %}<br />{% endif %}
                            {% endfor %}
                        </td>
                        <!-- Site name -->
                        <td>
                            {% with emplacement=object.emplacementorganization_set.last %}
                                {% with site=emplacement.object_ref.emplacementsite_set.last %}
                                    {% if site.value.location_id.get_value %}
                                        <a target="_blank" href="https://www.openstreetmap.org/node/{{ site.value.location_id.get_value }}">{{ site }}</a>
                                    {% else %}
                                        <a target="_blank" href="https://www.openstreetmap.org/node/{{ site.value.admin_id.get_value }}">{{ site }}</a>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </td>
                        <!-- Country -->
                        <td>
                            {{ object.division_id|country_name }}
                        </td>
                        <!-- First citation -->
                        <td>
                            {{ object.firstciteddate }}
                        </td>
                        <!-- Last citation -->
                        <td>
                            {{ object.lastciteddate }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
