{% load i18n %}
{% load arithmetic %}

{% if page.has_previous or page.has_next %}
<nav aria-label="{% trans 'Search results navigation' %}">
  <ul class="pagination">

    <! -- Previous button -->
    {% if page.has_previous %}
    <li>
        <a href="?{{ q_filters }}&amp;{{ page_type  }}_page={{ page.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo; {% trans "Previous" %}</span>
      </a>
    </li>
    {% endif %}

    <!-- Page numbers -->
    {% if page.num_pages|length >= 10 and page.current_page_number >= 9 %}
    <!-- First page + ellipses -->
    <li><a href="?{{ q_filters }}&amp;{{ page_type }}_page=1">1</a></li>
    <li class="disabled"><a href="#">&#8230;</a></li>
    {% endif %}

    {% for num in page.num_pages %}
        {% if not forloop.last and page.current_page_number|absubtract:num < 5 %}
            <li{% if num == page.current_page_number %} class="active"{% endif %}>
                <a href="?{{ q_filters }}&amp;{{ page_type }}_page={{ num }}">
                    {{ num }}
                </a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page.num_pages|length >= 10 %}
        {% if page.num_pages|length|subtract:page.current_page_number >= 10 %}
            <! -- Ellipses before the last page -->
            <li class="disabled"><a href="#">&#8230;</a></li>
        {% endif %}
        <!-- Last page -->
        {% with num=page.num_pages|length %}
            <li{% if num == page.current_page_number %} class="active"{% endif %}>
                <a href="?{{ q_filters }}&amp;{{ page_type }}_page={{ num }}">
                    {{ num }}
                </a>
            </li>
        {% endwith %}
    {% endif %}

    <!-- Next button -->
    {% if page.has_next %}
    <li>
        <a href="?{{ q_filters }}&amp;{{ page_type }}_page={{ page.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">{% trans "Next" %} &raquo;</span>
      </a>
    </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
