{% load tablesort %}
{% load citations %}
{% load i18n %}
{% load model_meta %}

<div class="responsive-table">
    <table class="table table-striped table-condensed search-results-table">
        <thead>
            <tr>
                {% if merge == 'True' %}
                    <th>{% trans "Select" %}</th>
                {% endif %}
                {% if canonical == 'True' %}
                    <th>{% trans "Select canonical record" %}</th>
                {% endif %}
                <th>
                    {{ models.Person|verbose_field_name:"name" }}
                    {% if sortable == 'True' %}
                        {% with sort_asc='name' sort_desc='-name' %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {{ models.Person|verbose_field_name:"aliases" }}
                </th>
                <th>
                    {% trans "Most Recent Rank" %}
                </th>
                <th>
                    {% trans "Most Recent Unit" %}
                </th>
                <th>
                    {{ models.MembershipPerson|verbose_field_name:"firstciteddate" }}
                    {% if sortable == 'True' %}
                        {% with sort_asc='start_date' sort_desc='-start_date' selected_sort=sorts.Person %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {{ models.MembershipPerson|verbose_field_name:"lastciteddate" }}
                    {% if sortable == 'True' %}
                        {% with sort_asc='end_date' sort_desc='-end_date' selected_sort=sorts.Person %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <!-- Returns the object based on the language -->
                {% if object.name %}
                    <tr>
                        {% if merge == 'True' %}
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="person_ids" data-entity_id="{{object.id}}">
                                    </label>
                                </div>
                            </td>
                        {% endif %}
                        {% if canonical == 'True' %}
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="canonical_record" value="{{ object.entity_id }}">
                                    </label>
                                </div>
                            </td>
                        {% endif %}
                        <!-- Name -->
                        <td>
                            <a href="{% url 'view-person' object.entity_id %}">{{ object.name }}</a>
                        </td>
                        <!-- Aliases -->
                        <td>
                            {% for alias in object.aliases %}
                                {{ alias }}
                                {% if not forloop.last %}<br />{% endif %}
                            {% endfor %}
                        </td>
                        <!-- Most recent rank -->
                        <td>
                            {% with membership=object.object.memberships.first %}
                                {{ membership.object_ref.rank.get_value|default:"" }}
                            {% endwith %}
                        </td>
                        <!-- Most recent unit -->
                        <td>
                            {% if object.object.memberships %}
                                {% with membership=object.object.memberships.first %}
                                    {% with organization=membership.object_ref.organization.get_value %}
                                        {% if request.user.is_authenticated or organization.value.published %}
                                        <a href="{% url 'view-organization' organization.value.uuid %}">{{ organization.value.name.get_value }}</a>
                                        {% endif %}
                                    {% endwith %}
                                    <br />
                                {% endwith %}
                            {% endif %}
                        </td>
                        <!-- First citation -->
                        <td>
                            {% datetype object.object.first_cited 'start' %}
                        </td>
                        <!-- Last citation -->
                        <td>
                            {% datetype object.object.last_cited 'end' %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
