{% load i18n %}
<div class="row">
    <div class="col-sm-12">
        {% block tabletitle %}<h3>{% trans "Related entities" %}</h3>{% endblock %}
        <table class="table table-condensed">
            <thead>
            {% block tableheader %}
                <tr>
                    <th>{% trans "Entity" %}</th>
                    <th>{% trans "Entity type" %}</th>
                    <th>{% trans "Start date" %}</th>
                    <th>{% trans "End date" %}</th>
                    <th>{% trans "Open ended" %}</th>
                </tr>
            {% endblock %}
            </thead>
            <tbody>
            {% block tablebody %}
                {% for entity in related_entities %}
                    <tr>
                        <td>
                            <a href="{{ entity.url }}">{{ entity.name }}</a>
                        </td>
                        <td>
                            {{ entity.entity_type }}
                        </td>
                        <td>
                            {{ entity.start_date|default_if_none:"" }}
                        </td>
                        <td>
                            {{ entity.end_date|default_if_none:"" }}
                        </td>
                        <td>
                            {{ entity.open_ended|default_if_none:"" }}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
            </tbody>
        </table>
    </div>
</div>
