{% load tablesort %}
{% load countries %}
{% load facets %}
{% load i18n %}
{% load model_meta %}

<div class="responsive-table">
    <table class="table table-striped table-condensed search-results-table">
        <thead>
            <tr>
                <th>
                    {{ models.Source|verbose_field_name:"title" }}
                    {% if sortable == 'True' %}
                        {% with sort_param='sort' sort_asc='title' sort_desc='-title' selected_sort=request.GET.sort %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {{ models.Source|verbose_field_name:"published_date" }}
                    {% if sortable == 'True' %}
                        {% with sort_param='sort' sort_asc='start_date' sort_desc='-start_date' selected_sort=request.GET.sort %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {{ models.Source|verbose_field_name:"publication" }}
                    {% if sortable == 'True' %}
                        {% with sort_param='sort' sort_asc='publication' sort_desc='-publication' selected_sort=request.GET.sort %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {{ models.Source|verbose_field_name:"publication_country" }}
                    <!--{% if sortable == 'True' %}
                        {% with sort_param='sort' sort_asc='country_s_asc' sort_desc='country_s_desc' selected_sort=request.GET.sort %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}-->
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'view-source' object.entity_id %}">
                            {{ object.title|default_if_none:"Source" }}
                        </a>
                    </td>
                    <td>
                        {{ object.start_date|default_if_none:"" }}
                    </td>
                    <td>
                        {{ object.publication|default_if_none:"" }}
                    </td>
                    <td>
                        {{ object.countries.0|default_if_none:"" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
