{% load i18n %}
{% load citations %}

<span class="citation-container">

    {% if date %}
        {% datetype object_value position %}
    {% else %}
        {{ object_value }}
    {% endif %}

    {% if source_citation %}
    <span class="citation {{confidence_class}}">
        <sup>
            <button type="button" role="button" class="source-footnote" data-toggle="popover"
            data-html="true" data-placement="top" data-content="{{ source_citation }}"
            title="<strong>{{ num_sources }}<button type='button' role='button' class='close' data-dismiss='popover' aria-hidden='true' aria-label='Close'>&times;</button><br/>{{ confidence_string }}</strong>"
            data-trigger="click" tabindex="0"
            aria-label="{% trans 'Sources and confidence for this information' %}">
                <span class="source-footnote-counter"></span>
            </button>
        </sup>
    </span>
    {% endif %}

</span>
