{% load citations countries help i18n model_meta %}

<div class="row">
    <div class="col-sm-12">
        <h3 id="sources">
            <i class="fas fa-file-alt fa-fw"></i>
            {% trans "Sources" %}
        </h3>
        <div class="row">
            <div class="col-xs-11">
                <small>{% trans "List of all sources used to evidence the data in this record" %}</small>
                <small class="help-block">
                    {% trans 'Click the "+" symbol next to every data point in the record to see the sources used for that data point.' %}
                </small>
            </div>
            <div class="col-xs-1 text-right">
                <small>{% help href='sources.html' %}</small>
            </div>
        </div>
        <hr />
        <table class="table table-condensed data-table">
            <thead>
                <tr>
                    <th>{{ models.Source|verbose_field_name:"published_date" }}</th>
                    <th>{{ models.Source|verbose_field_name:"publication" }}</th>
                    <th>{{ models.Source|verbose_field_name:"title" }}</th>
                    <th>{{ models.AccessPoint|verbose_field_name:"accessed_on" }}</th>
                    <th>{% trans "Archive Link" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for source in sources %}
                <tr>
                    {% with published_date=source.get_published_date %}
                        <td data-order="{{ published_date.year|default:0 }}-{{ published_date.month|default:0 }}-{{published_date.day|default:0 }}">
                            {% if published_date.month and published_date.day %}
                                {{ published_date|date:"d F Y" }}
                            {% elif published_date.month %}
                                {{ published_date|date:"F Y" }}
                            {% else %}
                                {{ published_date }}
                            {% endif %}
                        </td>
                    {% endwith %}
                    <td>
                        {{ source.publication }}
                    </td>
                    <td>
                        <a
                            href="{{ source.source_url }}"
                            target="_blank"
                            onclick="_paq.push(['trackEvent', 'Source Table Interaction', 'Source Link Click', '{{ source.source_url }}']);"
                        >
                            {{ source.title }}
                        </a>
                    </td>
                    {% with access_date=source.accesspoint_set.last.accessed_on %}
                        <td data-order="{{ access_date.year|default:0 }}-{{ access_date.month|default:0 }}-{{access_date.day|default:0 }}">
                            {% if access_date.month and access_date.day %}
                                {{ access_date|date:"d F Y" }}
                            {% elif published_date.month %}
                                {{ access_date|date:"F Y" }}
                            {% else %}
                                {{ access_date|default:'' }}
                            {% endif %}
                        </td>
                    {% endwith %}
                    <td>
                        <a
                            href="{{ source.accesspoint_set.last.archive_url }}"
                            target="_blank"
                            onclick="_paq.push(['trackEvent', 'Source Table Interaction', 'Archive Link Click', '{{ source.accesspoint_set.last.archive_url }}']);"
                        >
                            <i class="fas fa-link"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>