{% load tablesort %}
{% load countries %}
{% load facets %}
{% load i18n %}
{% load model_meta %}

<div class="responsive-table">
    <table class="table table-striped table-condensed search-results-table">
        <thead>
            <tr>
                <th>
                    {{ models.Violation|verbose_field_name:"startdate" }}
                    {% if sortable == 'True' %}
                        {% with sort_param='sort' sort_asc='start_date' sort_desc='-start_date' selected_sort=request.GET.sort %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {{ models.Violation|verbose_field_name:"enddate" }}
                    {% if sortable == 'True' %}
                        {% with sort_param='sort' sort_asc='end_date' sort_desc='-end_date' selected_sort=request.GET.sort %}
                            {% include 'partials/sortable-list.html' %}
                        {% endwith %}
                    {% endif %}
                </th>
                <th>
                    {{ models.Violation|verbose_field_name:"description" }}
                </th>
                <th>
                    {{ models.Violation|verbose_field_name:"types" }}
                </th>
                <th>
                    {{ models.Violation|verbose_field_name:"location" }}
                </th>
                <th>
                    {{ models.Violation|verbose_field_name:"perpetratororganization" }}
                </th>
                <th>
                    {{ models.Violation|verbose_field_name:"perpetratorclassification" }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <!-- Start date -->
                    <td>
                        {% if object.start_date %}
                            {{ object.start_date }}
                        {% endif %}
                    </td>
                    <!-- End date -->
                    <td>
                        {% if object.end_date %}
                            {{ object.end_date }}
                        {% endif %}
                    </td>
                    <!-- Description -->
                    <td>
                        <a href="{% url 'view-violation' object.object.uuid %}">
                        {% if object.description %}
                            {{ object.description|truncatewords:25 }}
                        {% else %}
                            {% trans "View Detail" %}
                        {% endif %}
                        </a>
                    </td>
                    <!-- Violation type -->
                    <td>
                        {% for violation_type in object.violation_types %}
                            {{ violation_type|violation|title }}{% if not forloop.last %},<br />{% endif %}
                        {% endfor %}
                    </td>
                    <!-- Location -->
                    <td>
                        {% render_location_string object.object %}
                    </td>
                    <!-- Perpetrators -->
                    <td>
                        {% for organization in object.object.violationperpetratororganization_set.all %}
                            {% if request.user.is_authenticated or organization.value.published %}
                                <a href="{% url 'view-organization' organization.value.uuid %}">
                                    {{ organization.value.name.get_value }}
                                </a>
                            {% endif %}
                            {% if not forloop.last %}<br />{% endif %}
                        {% endfor %}
                    </td>
                    <!-- Perpetrator classification -->
                    <td>
                        {% for classification in object.perpetrator_classifications %}
                            {{ classification }}
                            {% if not forloop.last %}<br />{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
