{% extends request.is_ajax|yesno:"base_modal.html,base.html" %}
{% load viewcomplexfield %}
{% load viewcomplexfielddate %}
{% load viewcomplexfieldautocomplete %}
{% load i18n %}
{% block content %}
  <div class="row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{% trans "Composition" %}</h1>
      <div class="pull-right">
        <a href="/composition/add/" class="btn sfm-btn-action"><i class="fa fa-plus"></i> {% trans "Add new" %}</a>
      </div>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="col-sm-12">
        <h3>Properties</h3>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field_date composition.startdate composition.id request.path %}
      </div>
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field_date composition.enddate composition.id request.path %}
      </div>
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field_autocomplete composition.classification composition.id "/organization/classification/autocomplete" request.path %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3>Relations</h3>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-5 complex-field">
        {% view_complex_field_autocomplete composition.parent composition.id "/organization/name/autocomplete" request.path %}
      </div>
      <div class="form-group col-sm-2">
        <label>&nbsp;</label>
        <div class="text-center">{% trans "With" %}</div>
      </div>
      <div class="form-group col-sm-5 complex-field">
        {% view_complex_field_autocomplete composition.child composition.id "/organization/name/autocomplete" request.path %}
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn sfm-btn-cancel col-sm-2" type="submit">{% trans "Cancel" %}</button>
      <button class="btn col-sm-2 pull-right sfm-btn-action addObject" type="submit">{% trans "Save" %}</button>
    </div>
  </div>

{% endblock %}
