{% extends "base.html" %}
{% load viewcomplexfield %}
{% load staticfiles %}
{% load i18n %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}">
  <style>
    .dynamic-form { margin: 10px 0; }
  </style>
{% endblock %}
{% block content %}
{% include 'partials/nav-wizard.html' %}
<div class="row">
    <h2>Events</h2>
    <p>Describe any events found in <strong>{{ source.title }}</strong> ({{source.publication.title}}, {{ source.published_on|date:"F d, Y"}})</p>
    <hr />
</div>
<form method="post" action="" id="person-form" class="form form-horizontal">
    {% csrf_token %}
    {{ formset.management_form }}
    <input type="hidden" value="0" name="form-FORMS_ADDED" id="id_form-FORMS_ADDED" />
    <div id="dynamic-form">
    {% if formset.errors %}
        {% for form in formset %}
            {% with form_id=forloop.counter0 %}
                <div id="form-{{ form_id }}-wrapper">
                    {% if form.description.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                            <label class="control-label col-sm-2">Description</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="id_form-{{ form_id }}-description" name="form-{{ form_id }}-description" value="{{ form.cleaned_data.description }}">
                                {% if form.description.errors %}
                                    {% for error in form.description.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.type.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                            <label class="control-label col-sm-2">Violation type</label>
                            <div class="col-sm-8">
                                <select id="id_form-{{ form_id }}-vtype" class="form-control" name="form-{{ form_id }}-vtype">
                                    {% for type in types %}
                                        {% if type.id == form.cleaned_data.type.id %}
                                            <option value="{{ type.id }}" selected="true">{{ type.code }}</option>
                                        {% else %}
                                            <option value="{{ type.id }}">{{ type.code }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.type.errors %}
                                    {% for error in form.type.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.startdate.errors or form.enddate.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                            <label class="control-label col-sm-2" for="id_form-{{ form_id }}-startdate">Start & end dates</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control datepicker" id="id_form-{{ form_id }}-startdate" name="form-{{ form_id }}-startdate" value="{{ form.cleaned_data.startdate|date:'Y-m-d' }}"/>
                                {% if form.startdate.errors %}
                                    {% for error in form.startdate.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control datepicker" id="id_form-{{ form_id }}-enddate" name="form-{{ form_id }}-enddate" value="{{ form.cleaned_data.enddate|date:'Y-m-d' }}"/>
                                {% if form.enddate.errors %}
                                    {% for error in form.enddate.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.orgs.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                            <label class="control-label col-sm-2" for="id_form-{{ form_id }}-orgs">Select the organization(s) that perpetrated this violation: </label>
                            <div class="col-sm-8">
                                <select id="id_form-{{ form_id }}-orgs" class="form-control" name="form-{{ form_id }}-orgs">
                                    {% for organization in organizations %}
                                        <option value="{{ organization.id }}">{{ organization.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.orgs.errors %}
                                    {% for error in form.orgs.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.perpetrators.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                        <label class="control-label col-sm-2" for="id_form-{{ form_id }}-perpetrators">Select the person(s) that perpetrated this violation: </label>
                        <div class="col-sm-8">
                            <select id="id_form-{{ form_id }}-perpetrators" class="form-control" name="form-{{ form_id }}-perpetrators">
                                {% for person in people %}
                                    <option value="{{ person.id }}">{{ person.name }}</option>
                                {% endfor %}
                            </select>
                            {% if form.perpetrators.errors %}
                                {% for error in form.perpetrators.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% if form.geoname.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                            <label class="control-label col-sm-2" for="id_form-{{ form_id }}-geoname">Location</label>
                            <div class="col-sm-8">
                                <select class="form-control" class="geoname-field" id="id_form-{{ form_id }}-geoname" name="form-{{ form_id }}-geoname">
                                    {% if form.cleaned_data.geoname %}
                                        <option value="{{ form.cleaned_data.geoname }}" selected=true>{{ form.cleaned_data.geoname_text }}</option>
                                    {% endif %}
                                </select>
                                {% if form.geoname.errors %}
                                   {% for error in form.geoname.errors %}
                                       <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                   {% endfor %}
                                {% endif %}
                                <input type="hidden" name="form-{{ form_id }}-geoname_text" id="id_form-{{ form_id }}-geoname_text" value="{{ form.cleaned_data.geoname_text }}" />
                                <input type="hidden" name="form-{{ form_id }}-geotype" id="id_form-{{ form_id }}-geotype" value="{{ form.cleaned_data.geotype }}" />
                            </div>
                        </div>
                    {% if form.locationdescription.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                            <label class="control-label col-sm-2" for="id_form-{{ form_id }}-locationdescription">Location description</label>
                            <div class="col-sm-8">
                                <input type="text" name="form-{{ form_id }}-locationdescription" id="id_form-{{ form_id }}-locationdescription" class="form-control" value="{{ form.cleaned_data.locationdescription }}" />
                            </div>
                        </div>
                    {% if form_id > 0 %}
                        <br />
                        <div class="col-sm-12">
                            <button id="remove_form-{{ form_id }}" href="javascript://" class="remove-form btn btn-danger">
                                Remove Person <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <br />
                        <hr />
                    {% endif %}
                </div>
            {% endwith %}
        {% endfor %}
    {% endif %}
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-info" href="javascript://" id="add-form">
            Add violation <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<br />
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="pull-right btn sfm-btn-action" value="Submit">Continue</button>
             <a class="btn btn-default" href="/confidences/">Skip</a>
        </div>
    </div>
</div>
</form>

{% endblock %}

{% block extra_js %}
<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/ejs_production.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script type="text/EJS" id="formTemplate">
<div id="form-<%= form_id %>-wrapper">
    <div class="form-group">
        <label class="control-label col-sm-2">Description</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="id_form-<%= form_id %>-description" name="form-<%= form_id %>-description">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Violation type</label>
        <div class="col-sm-8">
            <select id="id_form-<%= form_id %>-vtype" class="form-control" name="form-<%= form_id %>-vtype">
                {% for type in types %}
                    <option value="{{ type.id }}">{{ type.code }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-startdate">Start & end date</label>
        <div class="col-sm-4">
            <input type="text" class="form-control datepicker" id="id_form-<%= form_id %>-startdate" name="form-<%= form_id %>-startdate" placeholder="Start date"/>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control datepicker" id="id_form-<%= form_id %>-enddate" name="form-<%= form_id %>-enddate" placeholder="End date"/>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-orgs">Select the organization(s) that perpetrated this violation: </label>
        <div class="col-sm-8">
            <select id="id_form-<%= form_id %>-orgs" class="form-control" name="form-<%= form_id %>-orgs">
                {% for organization in organizations %}
                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-perpetrators">Select the person(s) that perpetrated this violation: </label>
        <div class="col-sm-8">
            <select id="id_form-<%= form_id %>-perpetrators" class="form-control" name="form-<%= form_id %>-perpetrators">
                {% for person in people  %}
                    <option value="{{ person.id }}">{{ person.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-geoname">Location</label>
        <div class="col-sm-8">
            <select class="form-control" class="geoname-field" id="id_form-<%= form_id %>-geoname" name="form-<%= form_id %>-geoname">
            </select>
            <input type="hidden" name="form-<%= form_id %>-geoname_text" id="id_form-<%= form_id %>-geoname_text" />
            <input type="hidden" name="form-<%= form_id %>-geotype" id="id_form-<%= form_id %>-geotype" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-locationdescription">Location description</label>
        <div class="col-sm-8">
            <input type="text" name="form-<%= form_id %>-locationdescription" id="id_form-<%= form_id %>-locationdescription" class="form-control">
        </div>
    </div>
    {% if form_id > 0 %}
        <br />
        <div class="col-sm-12">
            <button id="remove_form-<%= form_id %>" href="javascript://" class="remove-form btn btn-danger">
                Remove Person <i class="fa fa-minus"></i>
            </button>
        </div>
    {% endif %}
    <br />
    <hr />
</div>
</script>
<script type="text/javascript">
    var form_num = 0;
    var name_opts = {
        ajax: {
            url: "{% url 'person-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return { q: params.term };
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return {results: [{
                                'id': -1,
                                'text': params.term }]};
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        tags: true
    }

    var alias_opts = {
        ajax: {
            url: "{% url 'person-alias-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return { q: params.term };
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return {results: [{
                                'id': params.term,
                                'text': params.term }]};
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        tags: true
    }
    var geoname_opts = {
        ajax: {
            url: "{% url 'geoname-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return { q: params.term };
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return { results: [] };
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2
    };

    $(document).ready(function(e) {
        {% if formset.errors %}
            $('.datepicker').datepicker({'autoclose': true, format: "dd/mm/yyyy"});
            $('.name-field').select2(name_opts);
            $('.alias-field').select2(alias_opts);
            $('.geoname-field').select2(geoname_opts);
        {% else %}
            addForm(null);
        {% endif %}

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-FORMS_ADDED').val(form_count);

        $('#add-form').on('click', addForm);
        $('.remove-form').on('click', deleteForm);
    });

    function deleteForm(e){
        e.preventDefault();

        var form_id = $(e.target).prop('id').split('-')[1];

        var wrapper_id = '#form-' + form_id + '-wrapper';
        $(wrapper_id).remove();

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-TOTAL_FORMS').val(form_count);

        form_num --;
    }

    function addForm(e){

        if (e){
            e.preventDefault();
        }
        var template = new EJS({'text': $('#formTemplate').html()});
        var form_guts = template.render({'form_id': form_num});
        $('#dynamic-form').append(form_guts);

        var name_field = '#id_form-' + form_num + '-name';
        var alias_field = '#id_form-' + form_num + '-alias';
        var geoname_field =  '#id_form-' + form_num + '-geoname';
        var geotype_field = '#id_form-' + form_num + '-geotype';

        $(geoname_field).select2(geoname_opts);


        $(name_field).select2(name_opts);

        $(alias_field).select2(alias_opts);

        $('#remove_form-' +  form_num).on('click', deleteForm);

        $(geoname_field).on('select2:select', function(e){
            var value = e.params.data.text;
            $(geoname_field + '_text').val(value);
            if (isNaN($(geoname_field + ' :selected').attr('value'))) {
                $(geoname_field + ' :selected').attr('value','-1');
            }
            $(geotype_field).val(e.params.data.type);
        });


        $(alias_field).on('select2:select', function(e){
            var value = e.params.data.text;
            var name = $(e.target).prop('name') + '_text';
            var form_id = $(e.target).prop('name').split('-')[1]
            var hidden_input = '<input data-form_id="' + form_id + '" type="hidden" value="' + value + '" name="' + name + '" />';
            $('#person-form').append(hidden_input);
        });

        $(alias_field).on('select2:unselect', function(e){
            var value = e.params.data.text;
            var inputs = $('#person-form').find('input[value="'+ value + '"]');
            var form_id = $(e.target).prop('name').split('-')[1]

            $.each(inputs, function(i, input){
                if ($(input).data('form_id') == form_id){
                    $(input).remove();
                }
            })
        });

        $(name_field).on('select2:select', function(e){
            var value = e.params.data.text;
            $(name_field + '_text').val(value);
        });

        $('.datepicker').datepicker('destroy');
        $('.datepicker').datepicker({'autoclose': true, format: "yyyy-mm-dd"});

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-TOTAL_FORMS').val(form_count);

        var forms_added = parseInt($('#id_form-FORMS_ADDED').val()) + 1;
        $('#id_form-FORMS_ADDED').val(forms_added);

        form_num ++;
    }
</script>
{% endblock %}
