{% extends 'violation/edit-basics.html' %}
{% load i18n %}
{% load countries %}
{% load citations %}
{% block header_title %}
<div class="col-sm-6">
    <h1>{% trans "Add new incident" %}</h1>
</div>
{% endblock %}

{% block edit_links %}
    <div class="col-sm-6">
        <h1>
            {% trans "Edit:" %}
            <a href="{% url 'create-violation' %}" class="btn btn-default">{% trans "Basics" %}</a>
        </h1>
    </div>

{% endblock %}
{% block form_content %}
    <h2>{% trans "Edit basics" %}</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="checkbox">
                    <label class="control-label">
                        {% if form.published.data %}
                            <input type="checkbox" name="published" id="id_published" checked="true" /> {% trans "Published?" %}
                        {% else %}
                            <input type="checkbox" name="published" id="id_published" /> {% trans "Published?" %}
                        {% endif %}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row description-row field-bg bg-info">
        <div class="col-sm-12">
            {% if form.description.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.description.label }}</label>
                <textarea rows=5 name="description" id="id_description" class="form-control sourced">{{ form.description.data|default_if_none:"" }}</textarea>
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_description_source">
            {% for source in source_info.description_source %}
                {% source_input 'description' source %}
            {% endfor %}
        </div>
        <div id="id_description_confidence">
            <input type="hidden" value="1" name="description_confidence">
        </div>
    </div>
    <div class="row startdate-row field-bg">
        <div class="col-sm-12">
            {% if form.startdate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.startdate.label }}</label>
                <input type="text" name="startdate" id="id_startdate" class="form-control sourced" value="{{ form.startdate.data|default_if_none:"" }}">
                {% if form.startdate.errors %}
                    {% for error in form.startdate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_startdate_source">
            {% for source in source_info.startdate_source %}
                {% source_input 'startdate' source %}
            {% endfor %}
        </div>
        <div id="id_startdate_confidence">
            <input type="hidden" value="1" name="startdate_confidence">
        </div>
    </div>
    <div class="row enddate-row field-bg">
        <div class="col-sm-12">
            {% if form.enddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.enddate.label }}</label>
                <input type="text" name="enddate" id="id_enddate" class="form-control sourced" value="{{ form.enddate.data|default_if_none:"" }}">
                {% if form.enddate.errors %}
                    {% for error in form.enddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_enddate_source">
            {% for source in source_info.enddate_source %}
                {% source_input 'enddate' source %}
            {% endfor %}
        </div>
        <div id="id_enddate_confidence">
            <input type="hidden" value="1" name="enddate_confidence">
        </div>
    </div>
    <div class="row types-row field-bg">
        <div class="col-sm-12">
            {% if form.types.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.types.label }}</label>
                <select id="id_types" class="form-control sourced-dropdown select2-target" name="types" multiple="multiple">
                    {% for type in form.cleaned_data.types %}
                        <option value="{{ type.id }}" selected=true>{{ type.value }}</option>
                    {% endfor %}
                </select>
                {% if form.types.errors %}
                    {% for error in form.types.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_types_source">
            {% for source in source_info.types_source %}
                {% source_input 'types' source %}
            {% endfor %}
        </div>
        <div id="id_types_confidence">
            <input type="hidden" value="1" name="types_confidence">
        </div>
    </div>
    <div class="row perpetrator-row field-bg">
        <div class="col-sm-12">
            {% if form.perpetrator.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.perpetrator.label }}</label>
                <select id="id_perpetrator" class="form-control sourced-dropdown select2-target" name="perpetrator" multiple="multiple">
                    {% for type in form.cleaned_data.perpetrator %}
                        <option value="{{ type.value.id }}" selected=true>{{ type.value }}</option>
                    {% endfor %}
                </select>
                {% if form.perpetrator.errors %}
                    {% for error in form.perpetrator.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_perpetrator_source">
            {% for source in source_info.perpetrator_source %}
                {% source_input 'perpetrator' source %}
            {% endfor %}
        </div>
        <div id="id_perpetrator_confidence">
            <input type="hidden" value="1" name="perpetrator_confidence">
        </div>
    </div>
    <div class="row perpetratororganization-row field-bg">
        <div class="col-sm-12">
            {% if form.perpetratororganization.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.perpetratororganization.label }}</label>
                <select id="id_perpetratororganization" class="form-control sourced-dropdown select2-target" name="perpetratororganization" multiple="multiple">
                    {% for type in form.cleaned_data.perpetratororganization %}
                        <option value="{{ type.value.id }}" selected=true>{{ type.value }}</option>
                    {% endfor %}
                </select>
                {% if form.perpetratororganization.errors %}
                    {% for error in form.perpetratororganization.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_perpetratororganization_source">
            {% for source in source_info.perpetratororganization_source %}
                {% source_input 'perpetratororganization' source %}
            {% endfor %}
        </div>
        <div id="id_perpetratororganization_confidence">
            <input type="hidden" value="1" name="perpetratororganization_confidence">
        </div>
    </div>
    <div class="row perpetratorclassification-row field-bg">
        <div class="col-sm-12">
            {% if form.perpetratorclassification.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.perpetratorclassification.label }}</label>
                <select id="id_perpetratorclassification" class="form-control sourced-dropdown select2-target" name="perpetratorclassification">
                    {% if form.cleaned_data.perpetratorclassification %}
                        <option value="{{ form.cleaned_data.perpetratorclassification.id }}" selected=true>
                            {{ form.cleaned_data.perpetratorclassification.value }}
                        </option>
                    {% endif %}
                </select>
                {% if form.perpetratorclassification.errors %}
                    {% for error in form.perpetratorclassification.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_perpetratorclassification_source">
            {% for source in source_info.perpetratorclassification_source %}
                {% source_input 'perpetratorclassification' source %}
            {% endfor %}
        </div>
        <div id="id_perpetratorclassification_confidence">
            <input type="hidden" value="1" name="perpetratorclassification_confidence">
        </div>
    </div>
    <div class="row division_id-row field-bg">
        <div class="col-sm-12">
            {% if form.division_id.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.division_id.label }}</label>
                <select id="id_division_id" class="form-control sourced-dropdown select2-target" name="division_id">
                    {% if form.division_id.data %}
                        <option value="{{ form.division_id.data }}">{{ form.division_id.data|country_name }}</option>
                    {% else %}
                        <option value="" selected=true>------</option>
                    {% endif %}
                    {% for country in countries %}
                        <option value="ocd-division/country:{{ country.iso|lower }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                {% if form.division_id.errors %}
                    {% for error in form.division_id.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_division_id_source">
            {% for source in source_info.division_id_source %}
                {% source_input 'division_id' source %}
            {% endfor %}
        </div>
        <div id="id_division_id_confidence">
            <input type="hidden" value="1" name="division_id_confidence">
        </div>
    </div>
{% endblock %}

{% block delete_button %}{% endblock %}
