{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}">
  <style>
    .dynamic-form { margin: 10px 0; }
  </style>
{% endblock %}
{% block content %}
{% include 'partials/nav-wizard.html' %}
<div class="row">
    <h2><i class="fa fa-fw fa-exclamation-triangle"></i> Incidents</h2>
    <p>{% trans "Describe any incidents found in" %} <strong>{{ source.title }}</strong> ({{source.publication.title}}, {{ source.published_on|date:"F d, Y"}})</p>
    <hr />
</div>
<form method="post" action="" id="person-form" class="form form-horizontal">
    {% csrf_token %}
    {{ formset.management_form }}
    <input type="hidden" value="0" name="form-FORMS_ADDED" id="id_form-FORMS_ADDED" />
    <div id="dynamic-form">
    {% if formset.errors %}
        {% for form in formset %}
            {% with form_id=forloop.counter0 %}
                <div id="form-{{ form_id }}-wrapper">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8"><p><strong>{% trans "Value" %}</strong></p></div>
                        <div class="col-sm-2"><p><strong>{% trans "Confidence" %}</strong></p></div>
                    </div>
                    {% if form.description.errors or form.description_confidence.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    <label class="control-label col-sm-2">{% trans "Description" %}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="id_form-{{ form_id }}-description" name="form-{{ form_id }}-description" value="{{ form.cleaned_data.description }}">
                                {% if form.description.errors %}
                                    {% for error in form.description.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-description_confidence" name="form-{{ form_id }}-description_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.description_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.description_confidence.errors %}
                                    {% for error in form.description_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.type.errors or form.type_confidence.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    <label class="control-label col-sm-2">{% trans "Violation types" %}</label>
                            <div class="col-sm-8">
                                <select id="id_form-{{ form_id }}-vtype" class="form-control violation-type" name="form-{{ form_id }}-vtype" multiple=true>
                                    {% for type in types %}
                                        {% if type.id == form.cleaned_data.type.id %}
                                            <option value="{{ type.id }}" selected="true">{{ type.value.code }}</option>
                                        {% else %}
                                            <option value="{{ type.id }}">{{ type.value.code }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.type.errors %}
                                    {% for error in form.type.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-type_confidence" name="form-{{ form_id }}-type_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.type_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.type_confidence.errors %}
                                    {% for error in form.type_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.startdate.errors or form.enddate.errors or form.date_confidence.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    <label class="control-label col-sm-2" for="id_form-{{ form_id }}-startdate">{% trans "Start and end dates" %}</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control datepicker" id="id_form-{{ form_id }}-startdate" name="form-{{ form_id }}-startdate" value="{{ form.cleaned_data.startdate|date:'Y-m-d' }}"/>
                                {% if form.startdate.errors %}
                                    {% for error in form.startdate.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control datepicker" id="id_form-{{ form_id }}-enddate" name="form-{{ form_id }}-enddate" value="{{ form.cleaned_data.enddate|date:'Y-m-d' }}"/>
                                {% if form.enddate.errors %}
                                    {% for error in form.enddate.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-date_confidence" name="form-{{ form_id }}-date_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.date_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.date_confidence.errors %}
                                    {% for error in form.date_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.orgs.errors or form.orgs_confidence.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    <label class="control-label col-sm-2" for="id_form-{{ form_id }}-orgs">{% trans "Perpetrator units" %} </label>
                            <div class="col-sm-8">
                                <select id="id_form-{{ form_id }}-orgs" class="form-control" name="form-{{ form_id }}-orgs" multiple=true>
                                    {% for organization in organizations %}
                                        <option value="{{ organization.id }}" selected=true>{{ organization.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.orgs.errors %}
                                    {% for error in form.orgs.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-orgs_confidence" name="form-{{ form_id }}-orgs_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.orgs_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.orgs_confidence.errors %}
                                    {% for error in form.orgs_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.perpetrators.errors or form.perp_confidence.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    <label class="control-label col-sm-2" for="id_form-{{ form_id }}-perpetrators">{% trans "Perpetrator personnel" %} </label>
                        <div class="col-sm-8">
                            <select id="id_form-{{ form_id }}-perpetrators" class="form-control" name="form-{{ form_id }}-perpetrators" multiple=true>
                                {% for person in people %}
                                    <option value="{{ person.id }}" selected=true>{{ person.name }}</option>
                                {% endfor %}
                            </select>
                            {% if form.perpetrators.errors %}
                                {% for error in form.perpetrators.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control confidence-field" id="id_form-{{ form_id }}-perp_confidence" name="form-{{ form_id }}-perp_confidence">
                                {% for value, name in confidence_levels %}
                                    {% if form.cleaned_data.perp_confidence == value %}
                                        <option value="{{ value }}" selected=true>{{ name }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if form.perp_confidence.errors %}
                                {% for error in form.perp_confidence.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% if form.osm_id.errors or form.osm_confidence.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    <label class="control-label col-sm-2" for="id_form-{{ form_id }}-osm_id">{% trans "Location" %}</label>
                            <div class="col-sm-8">
                                <select class="form-control" class="osm_id-field" id="id_form-{{ form_id }}-osm_id" name="form-{{ form_id }}-osm_id">
                                    {% if form.cleaned_data.osm_id %}
                                        <option value="{{ form.cleaned_data.osm_id }}" selected=true>{{ form.cleaned_data.osm_id_text }}</option>
                                    {% endif %}
                                </select>
                                {% if form.osm_id.errors %}
                                   {% for error in form.osm_id.errors %}
                                       <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                   {% endfor %}
                                {% endif %}
                                <input type="hidden" name="form-{{ form_id }}-osm_id_text" id="id_form-{{ form_id }}-osm_id_text" value="{{ form.cleaned_data.osm_id_text }}" />
                                <input type="hidden" name="form-{{ form_id }}-geotype" id="id_form-{{ form_id }}-geotype" value="{{ form.cleaned_data.geotype }}" />
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-osm_confidence" name="form-{{ form_id }}-osm_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.osm_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.osm_confidence.errors %}
                                    {% for error in form.osm_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form.locationdescription.errors or form.locationdescription_confidence.errors %}
                        <div class="form-group has-error has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    <label class="control-label col-sm-2" for="id_form-{{ form_id }}-locationdescription">{% trans "Location description" %}</label>
                            <div class="col-sm-8">
                                <input type="text" name="form-{{ form_id }}-locationdescription" id="id_form-{{ form_id }}-locationdescription" class="form-control" value="{{ form.cleaned_data.locationdescription }}" />
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-locationdescription_confidence" name="form-{{ form_id }}-locationdescription_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.locationdescription_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.locationdescription_confidence.errors %}
                                    {% for error in form.locationdescription_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% if form_id > 0 %}
                        <div class="col-sm-10 col-sm-offset-2">
                            <button id="remove_form-{{ form_id }}" type="button" class="remove-form btn btn-link">
                                <i class="fa fa-fw fa-times"></i> {% trans "Remove this incident" %}
                            </button>
                        </div>
                        <br />
                    {% endif %}
                    <hr />
                </div>
            {% endwith %}
        {% endfor %}
    {% endif %}
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-link" id="add-form">
            <i class="fa fa-fw fa-plus-circle"></i>
            {% trans "Add new incident" %}
        </button>
    </div>
</div>
<br />
{% with has_next=False %}
    {% include 'partials/back_skip_next.html' %}
{% endwith %}
</form>

{% endblock %}

{% block extra_js %}
<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/ejs_production.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script type="text/EJS" id="formTemplate">
<div id="form-<%= form_id %>-wrapper">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8"><p><strong>{% trans "Value" %}</strong></p></div>
        <div class="col-sm-2"><p><strong>{% trans "Confidence" %}</strong></p></div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{% trans "Description" %}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="id_form-<%= form_id %>-description" name="form-<%= form_id %>-description">
        </div>
        <div class="col-sm-2">
            <select class="form-control confidence-field" id="id_form-<%= form_id %>-description_confidence" name="form-<%= form_id %>-description_confidence">
                {% for value, name in confidence_levels %}
                    <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">{% trans "Violation type" %}</label>
        <div class="col-sm-8">
            <select id="id_form-<%= form_id %>-vtype" class="form-control violation-type" name="form-<%= form_id %>-vtype" multiple=true>
                {% for type in types %}
                    <option value="{{ type.id }}">{{ type.value.code }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-control confidence-field" id="id_form-<%= form_id %>-type_confidence" name="form-<%= form_id %>-type_confidence">
                {% for value, name in confidence_levels %}
                    <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-startdate">{% trans "Start and end date" %}</label>
        <div class="col-sm-4">
            <input type="text" class="form-control datepicker" id="id_form-<%= form_id %>-startdate" name="form-<%= form_id %>-startdate" placeholder="Start date"/>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control datepicker" id="id_form-<%= form_id %>-enddate" name="form-<%= form_id %>-enddate" placeholder="End date"/>
        </div>
        <div class="col-sm-2">
            <select class="form-control confidence-field" id="id_form-<%= form_id %>-date_confidence" name="form-<%= form_id %>-date_confidence">
                {% for value, name in confidence_levels %}
                    <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-orgs">{% trans "Perpetrator units" %} </label>
        <div class="col-sm-8">
            <select id="id_form-<%= form_id %>-orgs" class="form-control" name="form-<%= form_id %>-orgs" multiple=true>
                {% for organization in organizations %}
                    <option value="{{ organization.id }}" selected=true>{{ organization.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-control confidence-field" id="id_form-<%= form_id %>-orgs_confidence" name="form-<%= form_id %>-orgs_confidence">
                {% for value, name in confidence_levels %}
                    <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-perpetrators">{% trans "Perpetrator personnel" %} </label>
        <div class="col-sm-8">
            <select id="id_form-<%= form_id %>-perpetrators" class="form-control" name="form-<%= form_id %>-perpetrators" multiple=true>
                {% for person in people  %}
                    <option value="{{ person.id }}" selected=true>{{ person.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-control confidence-field" id="id_form-<%= form_id %>-perp_confidence" name="form-<%= form_id %>-perp_confidence">
                {% for value, name in confidence_levels %}
                    <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-osm_id">{% trans "Location" %}</label>
        <div class="col-sm-8">
            <select class="form-control" class="osm_id-field" id="id_form-<%= form_id %>-osm_id" name="form-<%= form_id %>-osm_id">
            </select>
            <input type="hidden" name="form-<%= form_id %>-osm_id_text" id="id_form-<%= form_id %>-osm_id_text" />
            <input type="hidden" name="form-<%= form_id %>-geotype" id="id_form-<%= form_id %>-geotype" />
        </div>
        <div class="col-sm-2">
            <select class="form-control confidence-field" id="id_form-<%= form_id %>-osm_confidence" name="form-<%= form_id %>-osm_confidence">
                {% for value, name in confidence_levels %}
                    <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_form-<%= form_id %>-locationdescription">{% trans "Location description" %}</label>
        <div class="col-sm-8">
            <input type="text" name="form-<%= form_id %>-locationdescription" id="id_form-<%= form_id %>-locationdescription" class="form-control">
        </div>
        <div class="col-sm-2">
            <select class="form-control confidence-field" id="id_form-<%= form_id %>-locationdescription_confidence" name="form-<%= form_id %>-locationdescription_confidence">
                {% for value, name in confidence_levels %}
                    <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <% if (form_id > 0) { %>
        <div class="col-sm-10 col-sm-offset-2">
            <button id="remove_form-<%= form_id %>" type="button" class="remove-form btn btn-link">
                <i class="fa fa-fw fa-times"></i> {% trans "Remove this incident" %}
            </button>
        </div>
        <br />
    <% } %>
    <hr />
</div>
</script>

<script type="textEJS" id="osmResult">
    <div class="row">
        <% if(map_image) { %>
            <div class="col-sm-2">
                <img src="<%= map_image %>" height=100 width=100 />
            </div>
        <% } %>
        <% if (map_image) { %>
            <div class="col-sm-10">
        <% } else { %>
            <div class="col-sm-10 col-sm-offset-2">
        <% }%>
            <h5><%= value %> <small>(OSM ID: <%= id %>, Admin level <%= admin_level %>)</small></h5>
        </div>
    </div>
</script>

<script type="text/javascript">
    var form_num = 0;
    var perp_opts = {
        ajax: {
            url: "{% url 'person-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return { q: params.term };
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return {results: [{
                                'id': -1,
                                'text': params.term }]};
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        tags: true
    }

    var org_opts = {
        ajax: {
            url: "{% url 'organization-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return { q: params.term };
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return {results: [{
                                'id': params.term,
                                'text': params.term }]};
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        tags: true
    }

    var osm_opts = {
        ajax: {
            url: "{% url 'osm-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                var qparams = {
                    q: params.term,
                    geo_type: 'point',
                }
                return qparams;
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                        return { results: [] };
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        allowClear: true,
        placeholder: '',
        templateResult: function(data){
            if (data.loading){
                return data.text;
            }
            var template = new EJS({'text': $('#osmResult').html()});
            return template.render(data);
        }
    }

    var violation_opts = {
        tags: true
    }

    var confidence_opts = {
        minimumResultsForSearch: Infinity
    }

    $(document).ready(function(e) {
        {% if formset.errors %}
            {% for form in formset %}
                {% with form_id=forloop.counter0 %}

                var perp_field = '#id_form-' + form_num + '-perpetrators';
                var org_field = '#id_form-' + form_num + '-orgs';
                var osm_id_field =  '#id_form-' + form_num + '-osm_id';
                var geotype_field = '#id_form-' + form_num + '-geotype';
                var violation_field = '#id_form-' + form_num + '-vtype';
                var confidence_field = '.confidence-field'

                activateInputs(perp_field, org_field, osm_id_field, geotype_field, violation_field, confidence_field);

                $('.datepicker').datepicker({'autoclose': true, format: "yyyy-mm-dd", endDate: "0d"});

                form_num ++

                {% endwith %}
            {% endfor %}
        {% else %}
            addForm(null);
        {% endif %}

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-FORMS_ADDED').val(form_count);

        $('#add-form').on('click', addForm);
        $('.remove-form').on('click', deleteForm);
    });

    function deleteForm(e){
        e.preventDefault();

        var form_id = $(e.target).prop('id').split('-')[1];

        var wrapper_id = '#form-' + form_id + '-wrapper';
        $(wrapper_id).remove();

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-TOTAL_FORMS').val(form_count);

        var forms_added = parseInt($('#id_form-FORMS_ADDED').val()) - 1;
        $('#id_form-FORMS_ADDED').val(forms_added);

        form_num --;
    }

    function addForm(e){

        if (e){
            e.preventDefault();
        }
        var template = new EJS({'text': $('#formTemplate').html()});
        var form_guts = template.render({'form_id': form_num});
        $('#dynamic-form').append(form_guts);

        var perp_field = '#id_form-' + form_num + '-perpetrators';
        var org_field = '#id_form-' + form_num + '-orgs';
        var osm_id_field =  '#id_form-' + form_num + '-osm_id';
        var geotype_field = '#id_form-' + form_num + '-geotype';
        var violation_field = '#id_form-' + form_num + '-vtype';
        var confidence_field = '.confidence-field'

        activateInputs(perp_field, org_field, osm_id_field, geotype_field, violation_field, confidence_field);

        $('#remove_form-' +  form_num).on('click', deleteForm);

        $('.datepicker').datepicker('destroy');
        $('.datepicker').datepicker({'autoclose': true, format: "yyyy-mm-dd", endDate: "0d"});

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-TOTAL_FORMS').val(form_count);

        var forms_added = parseInt($('#id_form-FORMS_ADDED').val()) + 1;
        $('#id_form-FORMS_ADDED').val(forms_added);

        form_num ++;
    }

    function activateInputs(perp_field, org_field, osm_id_field, geotype_field, violation_field, confidence_field) {

        $(perp_field).select2(perp_opts);
        $(org_field).select2(org_opts);
        $(osm_id_field).select2(osm_opts);
        $(violation_field).select2(violation_opts);
        $(confidence_field).select2(confidence_opts);

        $(osm_id_field).on('select2:select', function(e){
            var value = e.params.data.value;
            $(osm_id_field + '_text').val(value);
            if (isNaN($(osm_id_field + ' :selected').attr('value'))) {
                $(osm_id_field + ' :selected').attr('value','-1');
            }
            $(geotype_field).val(e.params.data.type);
        });

        $(org_field).on('select2:select', function(e){
            var value = e.params.data.text;
            var name = $(e.target).prop('name') + '_text';
            var form_id = $(e.target).prop('name').split('-')[1]
            var hidden_input = '<input data-form_id="' + form_id + '" type="hidden" value="' + value + '" name="' + name + '" />';
            $('#person-form').append(hidden_input);
        });

        $(org_field).on('select2:unselect', function(e){
            var value = e.params.data.text;
            var inputs = $('#person-form').find('input[value="'+ value + '"]');
            var form_id = $(e.target).prop('name').split('-')[1]

            $.each(inputs, function(i, input){
                if ($(input).data('form_id') == form_id){
                    $(input).remove();
                }
            })
        });

        $(perp_field).on('select2:select', function(e){
            var value = e.params.data.text;
            var name = $(e.target).prop('name') + '_text';
            var form_id = $(e.target).prop('name').split('-')[1]
            var hidden_input = '<input data-form_id="' + form_id + '" type="hidden" value="' + value + '" name="' + name + '" />';
            $('#person-form').append(hidden_input);
        });

        $(perp_field).on('select2:unselect', function(e){
            var value = e.params.data.text;
            var inputs = $('#person-form').find('input[value="'+ value + '"]');
            var form_id = $(e.target).prop('name').split('-')[1]

            $.each(inputs, function(i, input){
                if ($(input).data('form_id') == form_id){
                    $(input).remove();
                }
            })
        });
    }
</script>
{% endblock %}
