{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="inner-title-wrapper row header">
        <div class="inner-title-wrapper">
            <h1 class="page-title">{% trans "Event" %}</h1>
        </div>
    </div>

    <form method="POST" class="form form-horizontal">
        {% if form.description.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                <label class="control-label col-sm-2">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="id_description" name="description" value="{{ violation.description.get_value }}">
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% if form.type.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                <label class="control-label col-sm-2">Violation type</label>
                <div class="col-sm-8">
                    <select id="id_vtype" class="form-control violation-type" name="vtype" multiple=true>
                        {% for type in types %}
                            {% if type.id in violation_types %}
                                <option value="{{ type.id }}" selected="true">{{ type.value.code }}</option>
                            {% else %}
                                <option value="{{ type.id }}">{{ type.value.code }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% if form.type.errors %}
                        {% for error in form.type.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% if form.startdate.errors or form.enddate.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                <label class="control-label col-sm-2" for="id_startdate">Start & end dates</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control datepicker" id="id_startdate" name="startdate" value="{{ form.cleaned_data.startdate|date:'Y-m-d' }}"/>
                    {% if form.startdate.errors %}
                        {% for error in form.startdate.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control datepicker" id="id_enddate" name="enddate" value="{{ form.cleaned_data.enddate|date:'Y-m-d' }}"/>
                    {% if form.enddate.errors %}
                        {% for error in form.enddate.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% if form.orgs.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                <label class="control-label col-sm-2" for="id_orgs">Select the organization(s) that perpetrated this violation: </label>
                <div class="col-sm-8">
                    <select id="id_orgs" class="form-control" name="orgs" multiple=true>
                        {% for organization in violation.perpetratororganization.get_list %}
                            <option value="{{ organization.get_value.value.id }}" selected=true>{{ organization.get_value.value.name.get_value.value }}</option>
                        {% endfor %}
                    </select>
                    {% if form.orgs.errors %}
                        {% for error in form.orgs.errors %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% if form.perpetrators.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
            <label class="control-label col-sm-2" for="id_perpetrators">Select the person(s) that perpetrated this violation: </label>
            <div class="col-sm-8">
                <select id="id_perpetrators" class="form-control" name="perpetrators" multiple=true>
                    {% for person in violation.perpetrator.get_list %}
                        <option value="{{ person.get_value.value.id }}" selected=true>{{ person.get_value.value.name.get_value.value }}</option>
                    {% endfor %}
                </select>
                {% if form.perpetrators.errors %}
                    {% for error in form.perpetrators.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if form.geoname.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                <label class="control-label col-sm-2" for="id_geoname">Location</label>
                <div class="col-sm-8">
                    <select class="form-control" class="geoname-field" id="id_geoname" name="geoname">
                        {% if form.cleaned_data.geoname %}
                            <option value="{{ form.cleaned_data.geoname }}" selected=true>{{ form.cleaned_data.geoname_text }}</option>
                        {% endif %}
                    </select>
                    {% if form.geoname.errors %}
                       {% for error in form.geoname.errors %}
                           <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                       {% endfor %}
                    {% endif %}
                    <input type="hidden" name="geoname_text" id="id_geoname_text" value="{{ form.cleaned_data.geoname_text }}" />
                    <input type="hidden" name="geotype" id="id_geotype" value="{{ form.cleaned_data.geotype }}" />
                </div>
            </div>
        {% if form.locationdescription.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                <label class="control-label col-sm-2" for="id_locationdescription">Location description</label>
                <div class="col-sm-8">
                    <input type="text" name="locationdescription" id="id_locationdescription" class="form-control" value="{{ form.cleaned_data.locationdescription }}" />
                </div>
            </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <button class="btn sfm-btn-cancel col-sm-2" type="submit">{% trans "Cancel" %}</button>
                <button class="btn col-sm-2 pull-right sfm-btn-action addObject" type="submit">{% trans "Save" %}</button>
            </div>
        </div>
    </form>



{% endblock %}
