{% extends "base_detail.html" %}
{% load i18n %}
{% load static %}
{% load countries %}
{% load citations %}
{% load help %}
{% load model_meta %}

{% block page_title_prefix %}{{ page_title }} - {% endblock %}
{% block extra_head %}
    {% render_location_string violation as location_string %}
    {% if violation.description or location_string %}
        <meta name="description" content="{% if location_string %}Location: {{ location_string }}. {% endif %}{% if violation.description %}{{ violation.description }}{% endif %}" />
    {% endif %}
    {% if location %}
        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    {% endif %}
{% endblock %}

{% block header %}
    <h2 class="page-title cited">
        {% with violation=violation %}
            {% include 'partials/violation_title.html' %}
        {% endwith %}
        <small>{% help href='incidentrec.html#incident-record-title-area' %}</small>
        {# All violation info uses the same source, so we can cite at the end #}
        {% cite violation.description.get_value %}
        <small class="pull-right">
            <a class="btn btn-default" type="button" role="button" href="{{ download_url }}"><i class="fa fa-fw fa-download"></i>{% trans "Download as CSV" %}</a>
            <a class="btn btn-default" type="button" role="button" href="#" id="print-page">
                <i class="fa fa-fw fa-file-text"></i>{% trans "Print this page" %}
            </a>
            {% if request.user.is_staff %}
                <a class="btn btn-default" type="button" role="button" href="{% url 'edit-violation' violation.uuid %}">
                    <i class="fa fa-fw fa-edit"></i>{% trans "Edit" %}
                </a>
            {% endif %}
        </small>
    </h2>

    {% if violation.locationdescription.get_value or violation.adminlevel1.get_value or violation.adminlevel2.get_value %}
        <p class="cited">{% trans "Location:" %}
            <strong>
                {% render_location_string violation countries=False %}
            </strong>
            {% if violation.locationdescription.get_value %}
                {% cite violation.locationdescription.get_value %}
            {% elif violation.adminlevel1.get_value %}
                {% cite violation.adminlevel1.get_value %}
            {% elif violation.adminlevel2.get_value %}
                {% cite violation.adminlevel2.get_value %}
            {% endif %}
        </p>
    {% endif %}

    {% if violation.division_id.get_value %}
        <p class="cited">{% trans "Country:" %}
            <strong>{{ violation.division_id.get_value | country_name }}</strong>
            {% cite violation.division_id.get_value %}
        </p>
    {% endif %}

    {% if violation.types.get_list %}
        <p class="cited">{% trans "Violation types:" %}
        {% for type in violation.types.get_list %}
            <span class="label label-default">
                {{ type.get_value }}
            </span>
            {% cite type.get_value %}
        {% endfor %}
        </p>
    {% endif %}

    {% if violation.perpetratorclassification.get_list %}
        <p class="cited">{% trans "Perpetrator classifications:" %}
            {% for classification in violation.perpetratorclassification.get_list %}
                <span class="label label-default">
                    {{ classification.get_value.value }}
                </span>
                {% cite classification.get_value %}
            {% endfor %}
        </p>
    {% endif %}

{% endblock %}

{% block contents_help %}
    <small>{% help href='incidentrec.html#incident-record-content-sidebar' %}</small>
{% endblock %}

{% block sidebar %}

    {% if location %}<li><a href="#location"><i class="fa fa-fw fa-map-marker"></i> {% trans "Location" %} </a></li>{% endif %}
    {% if violation.description %}<li><a href="#description"><i class="fa fa-fw fa-file-text-o"></i> {% trans "Description" %} </a></li>{% endif %}
    {% if perpetrators %}<li><a href="#perpetrators"><i class="fa fa-fw fa-user"></i> {% trans "Perpetrators" %}</a></li>{% endif %}
    {% if perpetrator_organizations %}<li><a href="#perpetrator-organizations"><i class="fa fa-fw fa-users"></i> {% trans "Perpetrator units" %}</a></li>{% endif %}
    {% if sources %}<li><a href="#sources"><i class="fas fa-file-alt fa-fw"></i> {% trans "Sources" %}</a></li>{% endif %}

{% endblock %}

{# This is exactly the same as the previous sidebar #}
{# Django just won't let you reuse blocks w/o 3rd party plugins :( #}
{% block sidebar_mobile %}

    {% if location %}<li><a href="#location"><i class="fa fa-fw fa-map-marker"></i> {% trans "Location" %} </a></li>{% endif %}
    {% if violation.description %}<li><a href="#description"><i class="fa fa-fw fa-file-text-o"></i> {% trans "Description" %} </a></li>{% endif %}
    {% if perpetrators %}<li><a href="#perpetrators"><i class="fa fa-fw fa-user"></i> {% trans "Perpetrators" %}</a></li>{% endif %}
    {% if perpetrator_organizations %}<li><a href="#perpetrator-organizations"><i class="fa fa-fw fa-users"></i> {% trans "Perpetrator units" %}</a></li>{% endif %}
    {% if sources %}<li><a href="#sources"><i class="fas fa-file-alt fa-fw"></i> {% trans "Sources" %}</a></li>{% endif %}

{% endblock %}

{% block details %}

    {% if location %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="location">
                <i class="fa fa-fw fa-map-marker"></i>
                {% trans "Location" %}
                <small class="pull-right">{% help href='incidentrec.html#incident-record-location' %}</small>
            </h3>
            <hr />
            <div id="geoname_map" style="height:300px;margin-bottom:10px"></div>
            <p class="cited">
                {% trans "This incident took place in" %} <strong>{% render_location_string violation %}</strong>
                {% if violation.locationdescription.get_value %}
                    {% cite violation.locationdescription.get_value %}
                {% elif violation.adminlevel1.get_value %}
                    {% cite violation.adminlevel1.get_value %}
                {% elif violation.adminlevel2.get_value %}
                    {% cite violation.adminlevel2.get_value %}
                {% elif violation.division_id.get_value %}
                    {% cite violation.division_id.get_value %}
                {% endif %}
            </p>
        </div>
    </div>
    {% endif %}

    {% if violation.description %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="description" class="cited">
                <i class="fa fa-fw fa-file-text-o"></i>
                {% trans "Description" %}
                <small class="pull-right">{% help href='incidentrec.html#incident-record-description' %}</small>
            </h3>
            <hr />
            {% with N=1 description=violation.description %}
                {% include 'partials/violation_description.html' %}
            {% endwith %}
        </div>
    </div>
    {% endif %}

    {% if perpetrators %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="perpetrators"><i class="fa fa-fw fa-user"></i> {% trans "Perpetrators" %}</h3>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ models.Person|verbose_field_name:"name" }}</th>
                        <th>{{ models.Person|verbose_field_name:"aliases" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in perpetrators %}
                        <tr>
                            <td class="cited">
                                <a href="{% url 'view-person' person.value.uuid %}">
                                    {{ person }}
                                </a>
                                {% cite person %}
                            </td>
                            <td class="cited">
                                {% for alias in person.value.aliases.get_list %}
                                    {{ alias.get_value.value }}
                                    {% cite alias.get_value %}
                                    {% if not forloop.last %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if perpetrator_organizations %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="perpetrator-organizations">
                <i class="fa fa-fw fa-users"></i>
                {% trans "Perpetrator units" %}
                <small class="pull-right">
                    {% help href='incidentrec.html#incident-record-perpetrator-units' %}
                </small>
            </h3>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{{ models.Organization|verbose_field_name:"name" }}</th>
                        <th>{{ models.Organization|verbose_field_name:"aliases" }}</th>
                        <th>{{ models.Organization|verbose_field_name:"classification" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for organization in perpetrator_organizations %}
                        <tr>
                            <td class="cited">
                                <bdi>
                                    <a href="{% url 'view-organization' organization.value.uuid %}">
                                        {{ organization }}
                                    </a>
                                </bdi>
                                {% cite organization %}
                            </td>
                            <td class="cited">
                                {% for alias in organization.value.aliases.get_list %}
                                    <bdi>{{ alias.get_value.value }}</bdi>
                                    {% cite alias.get_value.value %}
                                    {% if not forloop.last %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="cited">
                                {% for classification in organization.value.classification.get_list %}
                                    {{ classification.get_value }}
                                    {% cite classification.get_value %}
                                    {% if not forloop.last %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if sources %}
        {% include 'partials/source_overview_table.html' %}
    {% endif %}

{% endblock %}

{% if location %}
    {% block extra_js %}
        <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#print-page").on("click", function(){ window.print(); });
                var center_x = {{ location.geometry.x|safe }};
                var center_y = {{ location.geometry.y|safe }};
                var map = L.map('geoname_map').setView([center_y, center_x], 10);
                var attribution = '{% blocktrans %}Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>{% endblocktrans %}';
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                            { attribution: attribution, detectRetina: true }).addTo(map);
                var marker = L.marker([center_y, center_x]).addTo(map);
            })
        </script>
    {% endblock %}
{% endif %}
