.header{
	line-height:$header-height;
	height:$header-height;
	color:$header-ft-clr;
	.inner-title-wrapper{
		@include mg('lr', $header-mg);
		height:100%;
		border-bottom: solid thin rgba($sfm-grey-L, 0.5);
		h1.page-title{
			line-height:$header-height;
			margin:0;
			float:left;
		font-weight:$ft-normal;
	}//h1.page-title


	}//.inner-title-wrapper

}//header
