{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}
    {% if features %}
        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
     {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <h2 class="page-title"><i class="fa fa-thumb-tack"></i>&nbsp Adding a new location</h2>
</div>

<div class="row">
    <div class="col-sm-12">
        <form class="form" method="get">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="location_type" class="control-label"><b>{% trans "Location Type" %}</b></label>
                        <select name="location_type" class="form-control" id="location_type" required>
                            {% if location_type == 'node' %}
                                <option value="node" selected=true>Node</option>
                            {% else %}
                                <option value="node">Node</option>
                            {% endif %}
                            {% if location_type == 'way' %}
                                <option value="way" selected=true>Way</option>
                            {% else %}
                                <option value="way">Way</option>
                            {% endif %}
                            {% if location_type == 'rel' %}
                                <option value="rel" selected=true>Relation</option>
                            {% else %}
                                <option value="rel">Relation</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-8">
                    <label for="location_id" class="control-label"><b>{% trans "Location ID" %}</b></label>
                    <div class="input-group location-search">
                        <input type="text" class="form-control" placeholder="Search by node, way, or relation ID..." name="location_id" id="location_id" autofocus value="{% if location_id %}{{ location_id }}{% endif %}" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="location-search">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% if overpass_error %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Overpass API Error</strong> It looks like the Overpass API is currently working too hard. Try back in a few minutes.
            </div>
        </div>
    </div>
{% endif %}
{% if features %}
    <div class="row">
        {% if feature_count == 0 %}
        <div class="col-sm-12">
            <h2>No results</h2>
        </div>
        {% else %}
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <div id="location_map" style="height:400px; margin-top:30px;"></div>
                </div>
                <div class="table-responsive col-md-12 col-lg-7">
                    <table class="table table-hover table-condensed search-results-table">
                    <thead>
                        <tr>
                            <th>OSM ID</th>
                            <th>Name</th>

                            {% if location_type == 'node' %}
                            <th>In</th>
                            {% else %}
                            <th>Admin Level</th>
                            {% endif %}

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feature in features.features %}
                            <form class="form" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ feature.properties.id }}" />
                                <input type="hidden" name="name" value="{{ feature.properties.name }}" />
                                <input type="hidden" name="feature_type" value="{{ location_type }}" />
                                <input type="hidden" name="country_code" value="{{ location_country }}" />
                                <input type="hidden" name="tags" value="{{ feature.json_properties }}" />
                                <input type="hidden" name="geometry" value="{{ feature.geometry|safe }}" />
                                <tr>
                                    <td>{{ feature.properties.id }}</td>
                                    <td>{{ feature.properties.name }}</td>

                                    {% if location_type == 'node' %}
                                    <td>{{ feature.properties.is_in }}</td>
                                    {% else %}
                                    <td>{{ feature.properties.admin_level }}</td>
                                    {% endif %}

                                    {% if feature.properties.saved == 'yes' %}
                                        <td><a href='/location/view/{{feature.properties.id}}'>Go to &nbsp<i class="fa fa-arrow-right"></i></a></td>
                                    {% else %}
                                    <td>
                                        <button class="btn btn-success">
                                            <i class="fa fa-plus-circle"> </i> Add
                                        </button>
                                    </td>
                                    {% endif %}
                                </tr>
                            </form>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endif %}
{% endblock %}

{% block extra_js %}
        <!-- <script>
          $(document).ready(function() {
            $('.select-country').select2();
          });
        </script> -->
    {% if features %}
        <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                function onEachFeature(feature, layer){
                    layer.bindPopup(feature.properties.name + ' (' + feature.properties.id + ')');
                }
                var area_map = L.map('location_map');
                var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                            { attribution: attribution, detectRetina: true }).addTo(area_map);
                var areas = L.featureGroup();
                var geom = {{ features|safe }};
                areas.addLayer(
                    L.geoJson(geom, {onEachFeature: onEachFeature})
                );
                areas.addTo(area_map);
                area_map.fitBounds(areas.getBounds());
                area_map.scrollWheelZoom.disable();
            });
        </script>
    {% endif %}
{% endblock %}
