{% extends "base_delete.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}
     <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
{% endblock %}

{% block delete_header %}
    {% blocktrans with object_id=object.id %}
        Do you really want to remove the location <strong>{{ object_id }}</strong>?
    {% endblocktrans %}
{% endblock %}

{% block extra_context %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="location_map" style="height:300px;"></div>
    </div>
</div>
{% endblock %}

{% block metadata_table %}
<table class="table">
    <tbody>
        <tr>
            <td><b>{% trans "Name" %}</b></td>
            <td>{{ location.name }}</td>
        </tr>
        {% if location.tags.int_name %}
        <tr>
            <td><b>{% trans "International Name" %}</b></td>
            <td>{{ location.tags.int_name }}</td>
        </tr>
        {% endif %}
        <tr>
            <td><b>{% trans "OSM ID" %}</b></td>
            <td>{{ location.id }}</td>
        </tr>
        <tr>
            <td><b>{% trans "Type" %}</b></td>
            <td>{{ location.feature_type }}</td>
        </tr>
        {% if location.tags.is_in %}
        <tr>
            <td><b>{% trans "In" context "Geographically -- as in, a city is _in_ a country" %}</b></td>
            <td>{{ location.tags.is_in }}</td>
        </tr>
        {% elif location.tags.admin_level %}
        <tr>
            <td><b>{% trans "Admin Level" %}</b></td>
            <td>{{ location.tags.admin_level }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}

{% block related_entities_table %}
    {% if related_entities %}
        {% include 'location/partials/related_entities.html' %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var area_map = L.map('location_map');
            var attribution = '{% blocktrans %}Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>{% endblocktrans %}';
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        { attribution: attribution, detectRetina: true }).addTo(area_map);
            var areas = L.featureGroup();
            var geom = {{ location.geometry.geojson|safe }};
            areas.addLayer(
                L.geoJson(geom)
            );
            areas.addTo(area_map);
            area_map.fitBounds(areas.getBounds(), {'maxZoom': 12});
            area_map.scrollWheelZoom.disable();
        });
    </script>
{% endblock %}
