{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}
     <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h2 class="page-title"><i class="fa fa-thumb-tack"></i>&nbsp {{location.name}}</h2>
    </div>
    <div class="col-sm-6">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div id="location_map" style="height:300px;"></div>
    </div>
    <div class="col-sm-6">
        <p><strong>OSM ID:</strong> {{ location.id }}</p>
        <p><strong>Feature type:</strong> {{ location.feature_type }}</p>
        <p><strong>Country:</strong> {{ location.country_code }}</p>
        {% if location.tags.is_in %}
        <p><strong>In:</strong> {{ location.tags.is_in }}</p>
        {% elif location.tags.admin_level %}
        <p><strong>Admin level:</strong> {{ location.tags.admin_level }}</p>
        {% endif %}
        <br />
        <p>
            <a href="{% url 'delete-location' location.id %}" class="btn btn-danger">
                <i class="fa fa-remove"> </i> Delete
            </a>
        </p>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var area_map = L.map('location_map');
            var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        { attribution: attribution, detectRetina: true }).addTo(area_map);
            var areas = L.featureGroup();
            var geom = {{ location.geometry.geojson|safe }};
            areas.addLayer(
                L.geoJson(geom)
            );
            areas.addTo(area_map);
            area_map.fitBounds(areas.getBounds(), {'maxZoom': 11});
            area_map.scrollWheelZoom.disable();
        });
    </script>
{% endblock %}
