{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}
     <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    <div class="detail-header">
        <small class="pull-right">
          <a href="{% url 'create-location' %}" class="btn btn-success">
              <i class="fa fa-plus-circle"> </i>&nbsp {% trans "Add new location" %}
          </a>
        </small>
        <h2 class="page-title"><i class="fa fa-thumb-tack"></i>&nbsp <b>{{location.name}}</b></h2>
        <p>{% blocktrans with location_id=location.id %}<b>OSM ID:</b> {{location_id}}{% endblocktrans %}</p>
        <p>{% blocktrans with feature_type=location.feature_type %}<b>Type:</b> {{feature_type}}{% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="location_map" style="height:300px; margin-top:30px;"></div>
    </div>
    <div class="table-responsive col-md-6">
        <table class="table table-striped table-condensed search-results-table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td><strong>{% trans "Name" %}</strong></td>
                <td>{{ location.name }}</td>
            </tr>
            {% if location.tags.int_name %}
                <tr>
                    <td><strong>{% trans "International Name" %}</strong></td>
                    <td>{{ location.tags.int_name }}</td>
                </tr>
            {% endif %}
                <tr>
                    <td><strong>{% trans "OSM ID" %}</strong></td>
                    <td>{{ location.id }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Type" %}</strong></td>
                    <td>{{ location.feature_type }}</td>
                </tr>
            {% if location.tags.is_in %}
                <tr>
                    <td><strong>{% trans "In" %}</strong></td>
                    <td>{{ location.tags.is_in }}</td>
                </tr>
            {% elif location.adminlevel %}
                <tr>
                    <td><strong>{% trans "Admin Level" %}</strong></td>
                    <td>{{ location.adminlevel }}</td>
                </tr>
            {% endif %}
            {% if location.adminlevel1 %}
                <tr>
                    <td><strong>{% trans "Admin Level 1" %}</strong></td>
                    <td>
                        <a href="{% url 'view-location' location.adminlevel1.id %}">
                            {{ location.adminlevel1.name }}
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% if location.adminlevel2 %}
                <tr>
                    <td><strong>{% trans "Admin Level 2" %}</strong></td>
                    <td>
                        <a href="{% url 'view-location' location.adminlevel2.id %}">
                            {{ location.adminlevel2.name }}
                        </a>
                    </td>
                </tr>
            {% endif %}
          <tr>
              <td></td>
              <td align="right">
                <a href="{% url 'delete-location' location.id %}" class="btn btn-danger">
                    <i class="fa fa-remove"> </i> {% trans "Delete" %}
                </a>
              </td>
          </tr>
        </tbody>
        </table>
    </div>
</div>
{% if related_entities %}
    {% include 'location/partials/related_entities.html' %}
{% endif %}
{% endblock %}
{% block extra_js %}
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var area_map = L.map('location_map');
            var attribution = '{% blocktrans %}Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>{% endblocktrans %}';
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        { attribution: attribution, detectRetina: true }).addTo(area_map);
            var areas = L.featureGroup();
            var geom = {{ location.geometry.geojson|safe }};
            areas.addLayer(
                L.geoJson(geom)
            );
            areas.addTo(area_map);
            area_map.fitBounds(areas.getBounds(), {'maxZoom': 12});
            area_map.scrollWheelZoom.disable();
        });
    </script>
{% endblock %}
