{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load help %}
{% load tablesort %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}">
{% endblock %}
{% block content %}
<div class="row">
    <form class="form">
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default">
                {% if feature_type_facets.node or feature_type_facets.relation or feature_type_facets.way %}
                <div class="panel-heading">
                    <a role="button" class="filter-heading">
                        <strong>Feature type</strong>
                    </a>
                </div>
                <div class="panel-body">
                    <ul class="search-facet-list">
                        <li class="small">
                            <a class="filter-value" href="{% url 'list-location' %}?{% query_transform request feature_type='node' %}">Node</a>
                            <span class="badge badge-facet pull-right">{{ feature_type_facets.node }}</span>
                        </li>
                        <li>
                            <a class="filter-value" href="{% url 'list-location' %}?{% query_transform request feature_type='relation' %}">Relation</a>
                            <span class="badge badge-facet pull-right">{{ feature_type_facets.relation }}</span>
                        </li>
                        <li>
                            <a class="filter-value" href="{% url 'list-location' %}?{% query_transform request feature_type='way' %}">Way</a>
                            <span class="badge badge-facet pull-right">{{ feature_type_facets.way }}</span>
                        </li>
                    </ul>
                </div>
                {% endif %}
                <div class="panel-heading">
                    <a href="{% url 'create-location' %}" class="btn btn-success">
                        <i class="fa fa-plus-circle"> </i>&nbsp Add new location
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <div class="input-group main-search">
                <input type="text" class="form-control input-lg" placeholder="{% trans 'Search for a location by name' %}..." name="q" {% if query %}value="{{ query }}{% endif %}" id="q" autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="submit">{% trans "Go!" %}</button>
                </span>
            </div>
        </div>
    </form>

    <div class="col-xs-12 col-sm-8 pull-right">
    {% if hits == 0 %}
        <h1>{% trans "No results found" %} {% if query %}{% trans "for" %} &ldquo;{{ query  }}&rdquo;{% endif %}</h1>
    {% endif %}
    {% if results %}
        {% with objects=results hit_count=hits %}
            {% include 'partials/location_search_results.html' %}
        {% endwith %}
    {% else %}
        <br />
        <p>
            {% trans "For better results, try adjusting your search filters." %}
        {% help href='whowasincommand/generalfunctions.html#how-do-i-find-what-im-looking-for' %}
        </p>
        <p>{% trans "Think we're missing something?" %} <a href="mailto:technical@securityforcemonitor.org">{% trans "Let us know!" %}</a></p>
    {% endif %}
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        // Language code
        {% get_current_language as LANGUAGE_CODE %}
            var language = '{{ LANGUAGE_CODE }}'

        // Autofocus input on older browsers
        if (!("autofocus" in document.createElement("input"))) {
            $('#q').focus();
        }
    });
</script>
{% endblock %}
