{% load i18n %}
<div class="modal-header" data-modal-type="source" data-field-object-name="{{field.get_object_name}}" data-field-object-id="{{object_id}}" data-field-attr-name="{{field.get_attr_name}}">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{% trans "View/Edit Sources" %}</h4>
</div>
<div class="modal-body row">
  <div class="row modal_src_conf">
    <div class="col-sm-2">
      {% comment %}Translators: The level of confidence that the user has in a source, when entering it into the system{% endcomment %}
      <p>{% trans "Confidence" %}</p>
      <div class="text-center form-group dropdown">
        <select class="--src-conf">
          <option value="1">{% trans "Low" %}</option>
          <option value="2">{% trans "Medium" %}</option>
          <option value="3">{% trans "High" %}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal_src_add row">
    <div class="col-sm-12">
      <p>{% trans "Add" %}</p>
      <input type="text" class="form-control  --src-name" placeholder="Enter Source">
    </div>
    <button type="button" class="btn center-block sfm-btn-action --src-add-btn" >{% trans "Add" %}</button>
  </div>
  <div class="modal_src_info row">
    <div class="col-sm-12">
    <p>{% trans "Sources" %}</p>
    <ul class="sources_list" data-role="listview">
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn sfm-btn-cancel" data-dismiss="modal">{% trans "Close" %}</button>
</div>
