{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<section class="content">

  <div class="row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{% trans "Search a composition" %}</h1>
      <div class="pull-right">
        <a href="/composition/add/" class="btn sfm-btn-action"><i class="fa fa-plus"></i> {% trans "Add new" %}</a>
      </div>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="dropdown form-group col-sm-2">
        <label>{% trans "Start date" %}</label>
        <select id="startdate_day">
          <option value="">{% trans "dd" %}</option>
          {% for int in day_range %}
            <option value="{% if int < 10 %}0{% endif %}{{ int }}">{{ int }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>{% trans "Month" %}</label>
        <select id="startdate_month">
          <option value="">{% trans "mm" %}</option>
          <option value="01">{% trans "January" %}</option>
          <option value="02">{% trans "February" %}</option>
          <option value="03">{% trans "March" %}</option>
          <option value="04">{% trans "April" %}</option>
          <option value="05">{% trans "May" %}</option>
          <option value="06">{% trans "June" %}</option>
          <option value="07">{% trans "July" %}</option>
          <option value="08">{% trans "August" %}</option>
          <option value="09">{% trans "September" %}</option>
          <option value="10">{% trans "October" %}</option>
          <option value="11">{% trans "November" %}</option>
          <option value="12">{% trans "December" %}</option>
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>{% trans "Year" %}</label>
        <select id="startdate_year">
          <option value="">{% trans "yyyy" %}</option>
          {% for int in year_range %}
            <option value="{{int}}">{{int}}</option>
          {% endfor %}
        </select>
      </div>
    
      <div class="dropdown form-group col-sm-2">
        <label>{% trans "End date" %}</label>
        <select id="enddate_day">
          <option value="">{% trans "dd" %}</option>
          {% for int in day_range %}
            <option value="{% if int < 10 %}0{% endif %}{{ int }}">{{ int }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>{% trans "Month" %}</label>
        <select id="enddate_month">
          <option value="">{% trans "mm" %}</option>
          <option value="01">{% trans "January" %}</option>
          <option value="02">{% trans "February" %}</option>
          <option value="03">{% trans "March" %}</option>
          <option value="04">{% trans "April" %}</option>
          <option value="05">{% trans "May" %}</option>
          <option value="06">{% trans "June" %}</option>
          <option value="07">{% trans "July" %}</option>
          <option value="08">{% trans "August" %}</option>
          <option value="09">{% trans "September" %}</option>
          <option value="10">{% trans "October" %}</option>
          <option value="11">{% trans "November" %}</option>
          <option value="12">{% trans "December" %}</option>
        </select>
      </div>

      <div class="dropdown form-group col-sm-2">
        <label>{% trans "Year" %}</label>
        <select id="enddate_year">
          <option value="">{% trans "yyyy" %}</option>
          {% for int in year_range %}
            <option value="{{int}}">{{int}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4">
        <label for="classification">{% trans "Classification" %}</label>
        <select class="form-group dropdown" id="classification" placeholder="{% trans "Enter classification" %}">
          <option value="">{% trans "Choose" %}</option>
          {% for classif in classifications %}
            <option value="{{classif.id}}">{{ classif }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="dropdown form-group col-sm-5">
        <label for="parent">{% trans "Parent organization" %}</label>
        <input type="text" class="form-control" id="parent" placeholder="{% trans "Enter parent organization" %}">
      </div>
      <div class="form-group col-sm-2">
        <label>&nbsp;</label>
        <div class="text-center">{% trans "With" %}</div>
      </div>
      <div class="dropdown form-group col-sm-5">
        <label for="child">{% trans "Child organization" %}</label>
        <input type="text" class="form-control" id="child" placeholder="{% trans "Enter child organization" %}">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="people_srch_post"><span id="result-number"></span> {% trans "Results" %}
        <div class="actions">
          <button type="button" class="btn sfm-btn-action">{% trans "Export" %} <i class="fa fa-share-square-o"></i></button>
        </div>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive col-sm-12">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-2"><span class="caret"></span>{% trans "Parent" %}</th>
            <th class="col-sm-2"><span class="caret"></span>{% trans "Child" %}</th>
            <th class="col-sm-2"><span class="caret"></span>{% trans "Classification" %}</th>
            <th class="col-sm-2"><span class="caret"></span>{% trans "Start date" %}</th>
            <th class="col-sm-2"><span class="caret"></span>{% trans "End date" %}</th>
          </tr>
        </thead>
        <tbody id="object-linked-table">
        </tbody>
      </div>
    </div>

  <div id="paginator-content" class="row text-center">
  </div>

    <script src="{% static "js/search.js" %}"></script>

  </section>
{% endblock %}
