{% load i18n %}

<label for="{{field_str_id}}">{{field_name}}
  <div class="actions"><button type="button" class="sfm-btn-option input-action-btn" data-popover-content=".input-actions-{{field_str_id}}" data-toggle="popover" data-trigger="focus" data-placement="bottom"><i class="fa fa-ellipsis-h"></i></button></div>
  <div class=" hide input-actions input-actions-{{field_str_id}}">
    <ul>
      {% if sourced %}
        <li>
          <a class="modalBox source" href="" title="{% trans Source %}" data-toggle="modal" data-target="#complexFieldModal" data-remote="/modal/source/{{object_name}}/{{object_id}}/{{attr_name}}/" data-field-str="{{field_str_id}}" data-model-id="{{object_name}}" data-model-object-id="{{object_id}}"><i class="fa fa-link"> Source</i></a>
        </li>
      {% endif %}
      {% if "add" not in path %}
        {% if versioned %}
          <li>
            <a class="modalBox version" href="" title="{% trans Versioned %}" data-toggle="modal" data-target="#complexFieldModal" data-remote="/modal/version/{{object_name}}/{{object_id}}/{{attr_name}}/" data-field-str="{{field_str_id}}" data-model-id="{{object_name}}"><i class="fa fa-undo"></i> Version</a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</label>
<div>
  <input type="hidden" id="{{field_str_id}}" class="real-input" value="{% if value %}True{% else %}False {% endif %}">
  <label class="radio-inline" style="width:40%;"><input type="radio" name="{{field_str_id}}" value="True" {% if value %}checked{% endif %}>{% trans "Yes" %}</label>
  <label class="radio-inline" style="width:40%;"><input type="radio" name="{{field_str_id}}" value="False" {% if not value %}checked{% endif %}>{% trans "No" %}</label>
  <br><span class="error-message" data-em-target={{ field_str_id }}></span>
</div>

