{% load i18n %}

<label for="{{ field_id}}">{{field_name}}
    <div class="actions">
        {% if sourced %}
            <a href="" title="{% trans Source %}" data-toggle="modal" data-target="#complexFieldModal" data-remote="/modal/source/{{object_name}}/{{object_id}}/{{attr_name}}/"><i class="fa fa-link"></i></a>
        {% endif %}
        {% if "add" not in path %}
            {% if versioned %}
                <a href="" title="{% trans Versioned %}" data-toggle="modal" data-target=".versionModal"><i class="fa fa-undo fa-lg"></i></a>
            {% endif %}
            {% if translated %}
                <a href="" title="{% trans Translated %}" data-toggle="modal" data-target="#complexFieldModal" data-remote="/modal/translate/{{object_name}}/{{object_id}}/{{attr_name}}/"><i class="fa fa-flag fa-lg"></i></a>
            {% endif %}
        {% endif %}
    </div>
</label>
<input type="text" class="form-control" id="{{ field_id }}" value="{{ value }}" placeholder="Enter {{field_name}}">
