{% load i18n %}

<label for="{{field_str_id}}">{{field_name}}
  <div class="actions"><button type="button" class="sfm-btn-option input-action-btn" data-popover-content=".input-actions-{{field_str_id}}" data-toggle="popover" data-trigger="focus" data-placement="bottom"><i class="fa fa-ellipsis-h"></i></button></div>
  <div class=" hide input-actions input-actions-{{field_str_id}}">
    <ul>
      {% if sourced %}
        <li>
          <a class="modalBox source" href="" title="{% trans Source %}" data-toggle="modal" data-target="#complexFieldModal" data-remote="/modal/source/{{object_name}}/{{object_id}}/{{attr_name}}/" data-field-str="{{field_str_id}}" data-model-id="{{object_name}}" data-model-object-id="{{object_id}}"><i class="fa fa-link"> Source</i></a>
        </li>
      {% endif %}
      {% if "add" not in path %}
        {% if versioned %}
          <li>
            <a class="modalBox version" href="" title="{% trans Versioned %}" data-toggle="modal" data-target="#complexFieldModal" data-remote="/modal/version/{{object_name}}/{{object_id}}/{{attr_name}}/" data-field-str="{{field_str_id}}" data-model-id="{{object_name}}"><i class="fa fa-undo"></i> Version</a>
          </li>
        {% endif %}
        {% if translated %}
          <li>
            <a class="modalBox translation" href="" title="{% trans Translated %}" data-toggle="modal" data-target="#complexFieldModal" data-remote="/modal/translate/{{object_name}}/{{object_id}}/{{attr_name}}/" data-field-str="{{field_str_id}}" data-model-id="{{object_name}}"><i class="fa fa-flag"></i> Language</a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</label>
<input type="text" class="form-control real-input" id="{{ field_str_id }}" value="{% if value %}{{ value }}{% endif %}" placeholder="Enter {{field_name}}">
<span class="error-message" data-em-target={{ field_str_id }}></span>
