{% load i18n %}

<label for="{{ field_id}}">{{field_name}}
    <div class="actions">
        {% if sourced %}
            <a href="" title="{% trans Source %}"><i class="fa fa-link fa-lg"></i></a>
        {% endif %}
        {% if versioned %}
            <a href="" title="{% trans Versioned %}"><i class="fa fa-undo fa-lg"></i></a>
        {% endif %}
        {% if translated %}
            <a href="" title="{% trans Translated %}"><i class="fa fa-flag fa-lg"></i></a>
        {% endif %}
    </div>
</label>
<input type="text" class="form-control" id="{{ field_id }}" value="{{ value }}" placeholder="Enter {{field_name}}"> 
