{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SFM Dashboard</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    {% include "header.html" %}
    {% include "sidebar.html" %}
    {% include "source.html" %}
    {% include "version.html" %}
    {% include "translate.html" %}

    {% block content %}{% endblock %}

    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

    <script>
    $(document).ready(function(){
      $('select').selectpicker('show');
    });
    </script>

</body>

</html>
