{% load menu %}
<aside>
  <div class="sidebar-title"></div>

  <nav>
    <ul>
      <li class="{% active "/person" %}"><a href="/person/">People </a></li>
      <li class="{% active "/membership" %}"><a href="/membership/">Membership </a></li>
      <li class="{% active "/organization" %}"><a href="/organization/">Organization</a></li>
      <li class="{% active "/composition" %}"><a href="/composition/">Composition</a></li>
      <li class="{% active "/association" %}"><a href="/association/">Association</a></li>
      <li class="{% active "/area" %}"><a href="/area/">Area</a></li>
      <li class="{% active "/emplacement" %}"><a href="/emplacement/">Emplacement</a></li>
      <li class="{% active "/geosite" %}"><a href="/site/">Site</a></li>
      <li class="{% active "/violation" %}"><a href="/violation/">Violation</a></li>
    </ul>
  </nav>
  <ul class="bottom-list">
    <li>
      <a href="#">
        <i class="fa fa-power-off"></i>
        Log Out
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog"></i>
        Settings
      </a>
    </li>
  </ul>

</aside> <!-- End aside -->
