{% load menu %}
<aside>
    <h1>SFM</h1>
    <nav>
        <ul>
            <li class="{% active "/person" %}"><a href="/person/">People <i class="fa fa-caret-right"></i></a></li>
            <li class="{% active "/membership" %}">Membership <i class="fa fa-caret-right"></i></li>
            <li class="{% active "/relationship" %}">Relationship <i class="fa fa-caret-right"></i></li>
            <li class="{% active "/post" %}">Post</li>
            <li class="{% active "/organization" %}">Organization</li>
            <li class="{% active "/composition" %}">Composition</li>
            <li class="{% active "/association" %}">Association</li>
            <li class="{% active "/area" %}">Area</li>
            <li class="{% active "/emplacemnt" %}">Emplacement</li>
            <li class="{% active "/site" %}">Site</li>
            <li class="{% active "/violation" %}">Violation</li>
        </ul>
    </nav>
    <ul class="bottom-list">
        <li>
            <a href="#">
                <i class="fa fa-power-off"></i>
                Log Out
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cog"></i>
                Settings
            </a>
        </li>
    </ul>

</aside> <!-- End aside -->
