{% load menu %}
<aside>
  <div class="sidebar-title">SFM</div>

  <nav>
    <ul>
      <li class="{% active "/person" %}"><a href="/person/">People </a></li>
      <li class="{% active "/membership" %}"><a href="#">Membership </a></li>
      <li class="{% active "/relationship" %}"><a href="#">Relationship </a></li>
      <li class="{% active "/post" %}"><a href="#">Post</a></li>
      <li class="{% active "/organization" %}"><a href="#">Organization</a></li>
      <li class="{% active "/composition" %}"><a href="#">Composition</a></li>
      <li class="{% active "/association" %}"><a href="#">Association</a></li>
      <li class="{% active "/area" %}"><a href="#">Area</a></li>
      <li class="{% active "/emplacemnt" %}"><a href="#">Emplacement</a></li>
      <li class="{% active "/site" %}"><a href="#">Site</a></li>
      <li class="{% active "/violation" %}"><a href="#">Violation</a></li>
    </ul>
  </nav>
  <ul class="bottom-list">
    <li>
      <a href="#">
        <i class="fa fa-power-off"></i>
        Log Out
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog"></i>
        Settings
      </a>
    </li>
  </ul>

</aside> <!-- End aside -->
