{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load get_item %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}">
{% endblock %}
{% block content %}
{% include 'partials/nav-wizard.html' %}
<div class="row">
    <h2>
        <small><i class="fa fa-users"></i></small>
        <small><i class="fa fa-arrow-right"></i></small>
        <i class="fa fa-users"></i>
        <small><i class="fa fa-arrow-left"></i></small>
        <small><i class="fa fa-users"></i></small>
        {% trans "Unit memberships" %}</h2>
    <p>
        {% trans "Describe which organizations (if any) are members of one another in" %}
        <strong>{{ source.title }}</strong> ({{source.publication.title}}, {{source.published_on|date:"F d, Y"}})
    </p>
    <hr />
</div>
<div class="row">
    <form method="post" action="" id="org-form" class="form-horizontal">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {% with organization=organizations|from_index:forloop.counter0 %}
                <div id="form-{{ forloop.counter0 }}-wrapper">
                <input type="hidden" value="{{ organization.id }}" name="form-{{ forloop.counter0 }}-member" />
                <h4>
                    {% trans "Memberships for" %} <strong>{{ organization.name }}</strong>
                    <button class="btn btn-link btn-sm remove-relationship" type="button" data-form_id="{{ forloop.counter0 }}">
                        <i class="fa fa-times"> </i> {% trans "Remove this membership" %}
                    </button>

                </h4>
                <hr />
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8"><p><strong>{% trans "Value" %}</strong></p></div>
                    <div class="col-sm-2"><p><strong>{% trans "Confidence" %}</strong></p></div>
                </div>
                {% if form.organization.errors or form.organization_confidence.errors %}
                    <div class="form-group has-error has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                        <label class="col-sm-2 control-label">{% trans "Organization" %}</label>
                        <div class="col-sm-8">
                            <select id="id_form-{{ forloop.counter0 }}-organization" class="form-control organization-field" name="form-{{ forloop.counter0 }}-organization">
                                {% for org in organizations %}
                                    {% if org.id != organization.id %}
                                        {% if form.cleaned_data.organization.id == org.id %}
                                            <option value="{{ org.id }}" selected=true>{{ org.name }}</option>
                                        {% else %}
                                            <option value="{{ org.id }}">{{ org.name }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if form.organization.errors %}
                                {% for error in form.organization.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control confidence-field" id="id_form-{{ forloop.counter0 }}-organization_confidence" name="form-{{ forloop.counter0 }}-organization_confidence">
                                {% for value, name in confidence_levels %}
                                    {% if form.cleaned_data.organization_confidence == value %}
                                        <option value="{{ value }}" selected=true>{{ name }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if form.organization_confidence.errors %}
                                {% for error in form.organization_confidence.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% if form.firstcitedfirstciteddate.errors or form.lastciteddate.errors or form.date_confidence.errors %}
                    <div class="form-group has-error has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                        <label class="control-label col-sm-2" for="id_form-{{ forloop.counter0 }}-firstciteddate">{% trans "First and last citation dates" %}</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control datepicker" id="id_form-{{ forloop.counter0 }}-firstciteddate" name="form-{{ forloop.counter0 }}-startdate" value="{{ form.cleaned_data.startdate|date:'Y-m-d' }}" placeholder="First citation date"/>
                            {% if form.firstciteddate.errors %}
                                {% for error in form.firstciteddate.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control datepicker" id="id_form-{{ forloop.counter0 }}-lastciteddate" name="form-{{ forloop.counter0 }}-enddate" value="{{ form.cleaned_data.enddate|date:'Y-m-d' }}" placeholder="Last citation date"/>
                            {% if form.lastciteddate.errors %}
                                {% for error in form.lastciteddate.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control confidence-field" id="id_form-{{ forloop.counter0 }}-date_confidence" name="form-{{ forloop.counter0 }}-date_confidence">
                                {% for value, name in confidence_levels %}
                                    {% if form.cleaned_data.date_confidence == value %}
                                        <option value="{{ value }}" selected=true>{{ name }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if form.date_confidence.errors %}
                                {% for error in form.date_confidence.errors %}
                                <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                <hr/>
                </div>
            {% endwith %}
        {% endfor %}
        {% with has_next=True %}
            {% include 'partials/back_skip_next.html' %}
        {% endwith %}
    </form>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">{% trans "Remove membership" %}</h3>
            </div>
            <div class="modal-body">
                <p>{% trans "Are you sure you want to remove this membership? All data will be lost." %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" id="delete-confirm">
                    <i class="fa fa-fw fa-times"></i> {% trans "Remove" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
{% block extra_js %}
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script type="text/javascript">

    $(document).ready(function(e){
        $('.datepicker').datepicker({'autoclose': true, format: "yyyy-mm-dd", endDate: '0d'});

        $('.organization-field').select2({
            placeholder: '',
            allowClear: true,
            minimumResultsForSearch: Infinity
        });

        $('.confidence-field').select2({
            minimumResultsForSearch: Infinity
        })

        $('.remove-relationship').on('click', deleteForm);
    });

    function deleteForm(e){

        e.preventDefault();
        var form_id = $(e.target).data('form_id');
        console.log(e.target)
        var wrapper_id = '#form-' + form_id + '-wrapper';

        console.log(wrapper_id)
        $('#delete-confirm').data('wrapper_id', wrapper_id);
        $('#delete-confirm').off();

        $('#delete-modal').modal();
        $('#delete-confirm').on('click', function(e){

            e.preventDefault();
            var wrapper_id = $(e.target).data('wrapper_id');

            removeForm(wrapper_id);

            $('#delete-modal').modal('hide');

            var current_total = $('#id_form-TOTAL_FORMS').val();
            var new_total = parseInt(current_total) - 1;

            $('#id_form-TOTAL_FORMS').prop('value', new_total);

        });
    }

    function removeForm(wrapper_id){
        $(wrapper_id).remove();
    }
</script>
{% endblock %}
