{% extends request.is_ajax|yesno:"base_modal.html,base.html" %}
{% load viewcomplexfield %}
{% load viewcomplexfielddate %}
{% load viewcomplexfieldautocomplete %}
{% load i18n %}
{% block content %}

<section class="content">
  <div class="row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{% trans "Emplacement" %}</h1>
      <div class="pull-right">
        <a href="/emplacement/add/" class="btn sfm-btn-action"><i class="fa fa-plus"> Add New</i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Properties</h4>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="form-group col-sm-6">
        {% view_complex_field_date emplacement.startdate emplacement.id request.path %}
      </div>
      <div class="form-group col-sm-6">
        {% view_complex_field_date emplacement.enddate emplacement.id request.path %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5">
        {% view_complex_field_autocomplete emplacement.organization emplacement.id "/organization/autocomplete/" request.path %}
      </div>
      <div class="form-group col-sm-2">
        <label>&nbsp;</label>
        <div class="text-center">{% trans "With" %}</div>
      </div>
      <div class="form-group col-sm-5">
        {% view_complex_field_autocomplete emplacement.site emplacement.id "/geosite/autocomplete/" request.path %}
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn sfm-btn-cancel col-sm-2" type="submit">{% trans "Cancel" %}</button>
      <button class="btn col-sm-2 pull-right sfm-btn-action addObject" type="submit">{% trans "Save" %}</button>
    </div>
  </div>

</section>

{% endblock %}
