{% load citations %}
{% load i18n %}
{% load help %}
<h3 id="memberships">
    <i class="fa fa-fw fa-users"></i>
    {% trans "Postings" %}
    <small class="pull-right">{% help href='whowasincommand/personsrec.html#person_record_anatomy_memberships' %}</small>
</h3>
<hr />
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{% trans "Organization" %}</th>
            <th>{% trans "Rank" %}</th>
            <th>{% trans "Role" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "First cited" %}</th>
            <th>{% trans "Last cited" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in memberships %}
            {% with organization=member.organization.get_value.value %}

                {% if member.id == object.id %}
                <tr class="bg-info">
                {% else %}
                <tr>
                {% endif %}
                    <td class="cited">
                        {{ organization.name.get_value.value }}
                    </td>
                    <td class="cited">
                        {{ member.rank.get_value.value.value|default:"" }}
                    </td>
                    <td class="cited">
                        {{ member.role.get_value.value.value|default:"" }}
                    </td>
                    <td class="cited">
                        {{ member.title.get_value|default:"" }}
                    </td>
                    <td class="cited">
                        {{ member.firstciteddate.get_value.value }}
                    </td>
                    <td class="cited">
                        {{ member.lastciteddate.get_value.value }}
                    </td>
                    <td>
                        {% if request.user.is_staff %}
                        <a href="{% url 'edit-person-postings' member.member.get_value.value.uuid member.id %}">
                            <i class="fa fa-pencil"> </i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if request.user.is_staff %}
        <tr>
            <td colspan="7">
                <a href="{% url 'create-person-posting' person.uuid %}">
                <i class="fa fa-plus"> </i> {% trans "Add posting" %}
                </a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
