{% extends request.is_ajax|yesno:"base_modal.html,base.html" %}
{% load viewcomplexfield %}
{% load viewcomplexfielddate %}
{% load viewcomplexfieldautocomplete %}
{% load i18n %}
{% block content %}
<section class="content">
  <div class="row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{% trans "Membership" %}</h1>
      <div class="pull-right">
        <a href="/membership/add/" class="btn sfm-btn-action"><i class="fa fa-plus"></i> Add New</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans "Relations" %}</h4>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="form-group col-sm-5 complex-field">
        {% view_complex_field_autocomplete membership.personmember membership.id "/person/name/autocomplete/" request.path %}
      </div>
      <div class="form-group col-sm-2">
        <label>&nbsp;</label>
        <div class="text-center">{% trans "OR" %}</div>
      </div>
      <div class="form-group col-sm-5 complex-field">
        {% view_complex_field_autocomplete membership.organizationmember membership.id "/organization/name/autocomplete/" request.path %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5 complex-field">
        {% view_complex_field_autocomplete membership.organization membership.id "/organization/name/autocomplete/" request.path %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>{% trans "Properties" %}</h4>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field_autocomplete membership.role membership.id "/membership/role/autocomplete/" request.path %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field membership.title membership.id request.path %}
      </div>
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field_autocomplete membership.rank membership.id "/membership/rank/autocomplete/" request.path %}
      </div>
    </div><!-- /.row-->
 
    <div class="row">
      <h5>Dates</h5>

      <div class="row">
        {% for date in membership.date.get_list %}
          <div class="form-group col-sm-3">
            {% view_complex_field date membership.id request.path %}
          </div>
          <p>
            {{ date.value }}
            <a class="btn">Delete</a>
          </p>
        {% endfor %}
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn sfm-btn-cancel col-sm-2" type="submit">Cancel</button>
      <button class="btn col-sm-2 pull-right sfm-btn-action addObject" type="submit">Save</button>
    </div>
  </div>

</section>

{% endblock %}
