{% if membership == current_membership %}
<tr class="bg-info">
{% else %}
<tr>
{% endif %}
    <td class="cited">
        {{ related_organization.name.get_value.value }}
    </td>
    <td class="cited">
        <i class="fa fa-fw fa-users"></i> Membership
    </td>
    <td class="cited">
        {{ membership.startdate.get_value.value }}
    </td>
    <td class="cited">
        {{ membership.enddate.get_value.value }}
    </td>
    <td>
        <a href="{% url 'edit-organization-membership' organization.uuid membership.id %}">
            <i class="fa fa-pencil"> </i>
        </a>
    </td>
</tr>

