{% extends "base.html" %}
{% load viewcomplexfield %}
{% load staticfiles %}
{% load i18n %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}">
  <style>
    .dynamic-form { margin: 10px 0; }
  </style>
{% endblock %}
{% block content %}
{% include 'partials/nav-wizard.html' %}
<div class="row">
    <h2><i class="fa fa-fw fa-user"></i>{% trans "Personnel" %}</h2>
    <p>{% trans "Describe any personnel found in" %} <strong>{{ source.title }}</strong> ({{source.publication.title}}, {{ source.published_on|date:"F d, Y"}})</p>
    <hr />
</div>
<form method="post" action="" class="form-horizontal" id="person-form">
    {% csrf_token %}
    {{ formset.management_form }}
    <input type="hidden" value="0" name="form-FORMS_ADDED" id="id_form-FORMS_ADDED" />
    <div id="dynamic-form">
    {% if formset.errors %}
        {% for form in formset %}
            {% with form_id=forloop.counter0 %}
                <div id="form-{{ form_id }}-wrapper">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8"><p><strong>{% trans "Value" %}</strong></p></div>
                        <div class="col-sm-2"><p><strong>{% trans "Confidence" %}</strong></p></div>
                    </div>
                    <div class="row">
                        {% if form.name.errors or form.name_confidence.errors %}
                            <div class="form-group has-error has-feedback">
                        {% else %}
                            <div class="form-group">
                        {% endif %}
                            <label class="col-sm-2 control-label">{% trans "Name" %}</label>
                            <div class="col-sm-8">
                                <select id="id_form-{{ form_id }}-name" class="form-control name-field" name="form-{{ form_id }}-name">
                                    {% if form.cleaned_data.name %}
                                        <option value="{{ form.cleaned_data.name }}" selected=true>{{ form.cleaned_data.name_text }}</option>
                                    {% endif %}
                                </select>
                                {% if form.name.errors %}
                                    {% for error in form.name.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                                <input type="hidden" name="form-{{ form_id }}-name_text" id="id_form-{{ form_id }}-name_text" value="{{ form.cleaned_data.name_text }}" />
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-name_confidence" name="form-{{ form_id }}-name_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.name_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.name_confidence.errors %}
                                    {% for error in form.name_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% if form.alias.errors or form.alias_confidence.errors %}
                            <div class="form-group has-error has-feedback">
                        {% else %}
                            <div class="form-group">
                        {% endif %}
                            <label class="col-sm-2 control-label">{% trans "Aliases" %}</label>
                            <div class="col-sm-8">
                                <select id="id_form-{{ form_id }}-alias" class="form-control alias-field" name="form-{{ form_id }}-alias" multiple="multiple">
                                </select>
                                {% if form.alias.errors %}
                                    {% for error in form.alias.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-alias_confidence" name="form-{{ form_id }}-alias_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.alias_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.alias_confidence.errors %}
                                    {% for error in form.alias_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% if form.division_id.errors or form.division_confidence.errors %}
                            <div class="form-group has-error has-feedback">
                        {% else %}
                            <div class="form-group">
                        {% endif %}
                            <label class="col-sm-2 control-label">{% trans "Division identifier" %}</label>
                            <div class="col-sm-8">
                                <select id="id_form-{{ form_id }}-division_id" class="form-control division-field" name="form-{{ form_id }}-division_id">
                                    {% if form.cleaned_data.division_id %}
                                        <option value="{{ form.cleaned_data.division_id }}" selected=true>{{ form.cleaned_data.division_id }}</option>
                                    {% endif %}
                                </select>
                                {% if form.division_id.errors %}
                                    {% for error in form.division_id.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-division_confidence" name="form-{{ form_id }}-division_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.division_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.division_confidence.errors %}
                                    {% for error in form.division_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    {% if form.orgs.errors or form.orgs_confidence.errors %}
                        <div class="form-group has-eror has-feedback">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                            <label class="col-sm-2 control-label" for="id_form-{{ form_id }}-orgs">{% trans "Member units" %}</label>
                            <div class="col-sm-8">
                                <select id="id_form-{{ form_id }}-orgs" class="form-control orgs-field" name="form-{{ form_id }}-orgs" multiple="multiple">
                                        {% for organization in form.cleaned_data.orgs %}
                                            <option value="{{ organization.id }}" selected=true>{{ organization.name }}</option>
                                        {% endfor %}
                                    </select>
                                        {% if form.orgs.errors %}
                                            <span class="help-block"><i class="fa fa-remove"> </i> {% trans "A person must belong to at least one unit." %}</span>
                                        {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control confidence-field" id="id_form-{{ form_id }}-orgs_confidence" name="form-{{ form_id }}-orgs_confidence">
                                    {% for value, name in confidence_levels %}
                                        {% if form.cleaned_data.orgs_confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% if form.orgs_confidence.errors %}
                                    {% for error in form.orgs_confidence.errors %}
                                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if form_id > 0 %}
                        <div class="row">
                            <div classs="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button id="remove_form-{{ form_id }}" type="button" class="remove-form btn btn-link">
                                        <i class="fa fa-fw fa-times"></i> {% trans "Remove this person" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <hr />
                </div>
            {% endwith %}
        {% endfor %}
    {% endif %}
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-link" type="button" id="add-form">
            <i class="fa fa-fw fa-plus-circle"></i> {% trans "Add another person" %}
        </button>
    </div>
</div>
<br />
{% with has_next=True %}
    {% include 'partials/back_skip_next.html' %}
{% endwith %}
</form>

{% endblock %}

{% block extra_js %}
<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/ejs_production.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script type="text/EJS" id="formTemplate">
    <div id="form-<%= form_id %>-wrapper">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8"><p>{% trans "Value" %}</p></div>
            <div class="col-sm-2"><p>{% trans "Confidence" %}</p></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{% trans "Name" %}</label>
            <div class="col-sm-8">
                <select id="id_form-<%= form_id %>-name" class="form-control name-field" name="form-<%= form_id %>-name">
                </select>
                <input type="hidden" name="form-<%= form_id %>-name_text" id="id_form-<%= form_id %>-name_text" />
            </div>
            <div class="col-sm-2">
                <select class="form-control confidence-field" id="id_form-<%= form_id %>-name_confidence" name="form-<%= form_id %>-name_confidence">
                    {% for value, name in confidence_levels %}
                        <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{% trans "Aliases" %}</label>
            <div class="col-sm-8">
                <select id="id_form-<%= form_id %>-alias" class="form-control" name="form-<%= form_id %>-alias" multiple="multiple">
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control confidence-field" id="id_form-<%= form_id %>-alias_confidence" name="form-<%= form_id %>-alias_confidence">
                    {% for value, name in confidence_levels %}
                        <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{% trans "Division identifier" %}</label>
            <div class="col-sm-8">
                <select id="id_form-<%= form_id %>-division_id" class="form-control division-field" name="form-<%= form_id %>-division_id">
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control confidence-field" id="id_form-<%= form_id %>-division_confidence" name="form-<%= form_id %>-division_confidence">
                    {% for value, name in confidence_levels %}
                        <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_form-<%= form_id %>-orgs">{% trans "Member units" %}</label>
            <div class="col-sm-8">
                <select id="id_form-<%= form_id %>-orgs" class="form-control orgs-field" name="form-<%= form_id %>-orgs" multiple="multiple">
                    {% for organization in organizations %}
                        <option value="{{ organization.id }}">{{ organization.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control confidence-field" id="id_form-<%= form_id %>-orgs_confidence" name="form-<%= form_id %>-orgs_confidence">
                    {% for value, name in confidence_levels %}
                        <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <% if (form_id > 0) { %>
        <div class="row">
            <div classs="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button id="remove_form-<%= form_id %>" type="button" class="remove-form btn btn-link">
                        <i class="fa fa-fw fa-times"></i> {% trans "Remove this person" %}
                    </button>
                </div>
            </div>
        </div>
        <% } %>
        <hr>
    </div>
</script>
<script type="text/javascript">
    var form_num = 0;
    var name_opts = {
        ajax: {
            url: "{% url 'person-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return { q: params.term };
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return {results: [{
                                'id': -1,
                                'text': params.term }]};
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        selectOnClose: true,
        tags: true,
        allowClear: true,
        placeholder: ''
    }

    var alias_opts = {
        ajax: {
            url: "{% url 'person-alias-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return { q: params.term };
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return {results: [{
                                'id': params.term,
                                'text': params.term }]};
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        tags: true,
        allowClear: true
    }
    var division_opts = {
        ajax: {
            url: "{% url 'division-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return { q: params.term };
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return {results: [{
                                'id': params.term,
                                'text': params.term }]};
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        tags: true,
        allowClear: true,
        placeholder: ''
    }
    var orgs_opts = {
        ajax: {
            url: "{% url 'organization-autocomplete' %}",
            datType: 'json',
            delay: 250,
            data: function(params) {
                return {q: params.term};
            },
            cache: true,
            processResults: function(data, params) {
                if (data.length >= 1) {
                    return { results: data };
                } else {
                    return {results: [{
                                'id': params.term,
                                'text': params.term }]};
                }
            }
        },
        escapeMarkup: function(markup){ return markup; },
        minimumInputLength: 2,
        tags: true,
        allowClear: true
    }
    var confidence_opts = {
        minimumResultsForSearch: Infinity
    }

    $(document).ready(function(e) {
        {% if formset.errors %}
            {% for form in formset %}
                {% with form_id=forloop.counter0 %}

                var name_field = '#id_form-' + form_num + '-name';
                var alias_field = '#id_form-' + form_num + '-alias';
                var division_field = '#id_form-' + form_num + '-division_id';
                var orgs_field = '#id_form-' + form_num + '-orgs';
                var confidence_field = '.confidence-field';

                activateInputs(name_field, alias_field, division_field, orgs_field, confidence_field);

                form_num ++;

                {% endwith %}
            {% endfor %}
        {% else %}
            addForm(null);
        {% endif %}

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-FORMS_ADDED').val(form_count);

        $('#add-form').on('click', addForm);
        $('.remove-form').on('click', deleteForm);
    });

    function deleteForm(e){
        e.preventDefault();

        var form_id = $(e.target).prop('id').split('-')[1];

        var wrapper_id = '#form-' + form_id + '-wrapper';
        $(wrapper_id).remove();

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-TOTAL_FORMS').val(form_count);

        var forms_added = parseInt($('#id_form-FORMS_ADDED').val()) - 1;
        $('#id_form-FORMS_ADDED').val(forms_added);

        form_num --;
    }

    function addForm(e){

        if (e){
            e.preventDefault();
        }
        var template = new EJS({'text': $('#formTemplate').html()});
        var form_guts = template.render({'form_id': form_num});
        $('#dynamic-form').append(form_guts);

        var name_field = '#id_form-' + form_num + '-name';
        var alias_field = '#id_form-' + form_num + '-alias';
        var division_field = '#id_form-' + form_num + '-division_id';
        var orgs_field = '#id_form-' + form_num + '-orgs';
        var confidence_field = '.confidence-field';

        activateInputs(name_field, alias_field, division_field, orgs_field, confidence_field);

        $('#remove_form-' +  form_num).on('click', deleteForm);

        var form_count = $('#dynamic-form').children().length;
        $('#id_form-TOTAL_FORMS').val(form_count);

        var forms_added = parseInt($('#id_form-FORMS_ADDED').val()) + 1;
        $('#id_form-FORMS_ADDED').val(forms_added);

        form_num ++;
    }

    function activateInputs(name_field, alias_field, division_field, orgs_field, confidence_field) {

        $(name_field).select2(name_opts);
        $(alias_field).select2(alias_opts);
        $(division_field).select2(division_opts);
        $(orgs_field).select2(orgs_opts);
        $(confidence_field).select2(confidence_opts);

        $(alias_field, orgs_field).on('select2:select', function(e){
            var value = e.params.data.text;
            var name = $(e.target).prop('name') + '_text';
            var form_id = $(e.target).prop('name').split('-')[1]
            var hidden_input = '<input data-form_id="' + form_id + '" type="hidden" value="' + value + '" name="' + name + '" />';
            $('#person-form').append(hidden_input);
        });

        $(alias_field, orgs_field).on('select2:unselect', function(e){
            var value = e.params.data.text;
            var inputs = $('#person-form').find('input[value="'+ value + '"]');
            var form_id = $(e.target).prop('name').split('-')[1]

            $.each(inputs, function(i, input){
                if ($(input).data('form_id') == form_id){
                    $(input).remove();
                }
            })
        });

        $(name_field).on('select2:select', function(e){
            var value = e.params.data.text;
            $(name_field).find(' :selected').prop('selected', false);
            $(name_field + '_text').val(value);
            $(name_field + ' :selected').attr('value', e.params.data.id);
            $(name_field + ' :selected').text(value);
        });

        $(name_field).on('select2:unselect', function(e){
            var value = e.params.data.text;
            $(name_field).find(':selected').prop('selected', false);
            $(name_field + '_text').val('');
        });

        $(division_field).on('select2:select', function(e){
            var value = e.params.data.text;
            $(division_field + ' :selected').prop('selected', false);
            $(division_field + ' :selected').attr('value', e.params.data.id);
            $(division_field + ' :selected').text(value);
        });
    }
</script>
{% endblock %}
