{% extends "base_detail.html" %}
{% load i18n %}
{% load static %}
{% load countries %}
{% load render_versions %}
{% load citations %}

{% block header %}
    <h1 class="page-title">
        <i class="fa fa-fw fa-user"></i> {% cite person.name.get_value %}
        <small class="pull-right">
            <a class="btn btn-default" type="button" role="button" href="{{ download_url }}"><i class="fa fa-fw fa-download"></i>{% trans "Download as CSV" %}</a>
            <a class="btn btn-default" type="button" role="button" href="#" id="print-page">
                <i class="fa fa-fw fa-file-text"></i>{% trans "Print this page" %}
            </a>
        </small>
    </h1>
    {% if person.aliases.get_list %}
        <p>{% trans "Also known as:" %}
            {% for alias in person.aliases.get_list %}
            <strong>{% cite alias.get_value %}{% if not forloop.last %}|{% endif %} </strong>
            {% endfor %}
        </p>
    {% endif %}
    {% if person.division_id.get_value %}
        <p>{% trans "Country:" %} <strong>{{ person.division_id.get_value | country_name }}</strong></p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% has_versions person as changelog %}
    {% if memberships %}<li><a href="#last-seen-as"><i class="fa fa-fw fa-clock-o"></i> {% trans "Last seen as" %}</a></li>{% endif %}
    {% if memberships %}<li><a href="#memberships"><i class="fa fa-fw fa-users"></i> {% trans "Memberships" %}</a></li>{% endif %}
    {% if command_chain %}<li><a href="#chain-of-command"><i class="fa fa-fw fa-sitemap fa-rotate-180"></i> {% trans "Chain of command" %}</a></li>{% endif %}
    {% if subordinates %}<li><a href="#subordinates"><i class="fa fa-fw fa-share-alt fa-rotate-90"></i> {% trans "Subordinates" %}</a></li>{% endif %}
    {% if changelog %}<li><a href="#changelog"><i class="fa fa-fw fa-refresh"></i> {% trans "Changelog" %}</a></li>{% endif %}
{% endblock %}

{# This is exactly the same as the previous sidebar #}
{# Django just won't let you reuse blocks w/o 3rd party plugins :( #}
{% block sidebar_mobile %}
    {% has_versions person as changelog %}
    {% if memberships %}<li><a href="#last-seen-as"><i class="fa fa-fw fa-clock-o"></i> {% trans "Last seen as" %}</a></li>{% endif %}
    {% if memberships %}<li><a href="#memberships"><i class="fa fa-fw fa-users"></i> {% trans "Memberships" %}</a></li>{% endif %}
    {% if command_chain %}<li><a href="#chain-of-command"><i class="fa fa-fw fa-sitemap fa-rotate-180"></i> {% trans "Chain of command" %}</a></li>{% endif %}
    {% if subordinates %}<li><a href="#subordinates"><i class="fa fa-fw fa-share-alt fa-rotate-90"></i> {% trans "Subordinates" %}</a></li>{% endif %}
    {% if changelog %}<li><a href="#changelog"><i class="fa fa-fw fa-refresh"></i> {% trans "Changelog" %}</a></li>{% endif %}
{% endblock %}

{% block details %}

    {% if memberships %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="last-seen-as"><i class="fa fa-fw fa-clock-o"></i> {% trans "Last seen as" %}</h3>
            {% with membership=memberships|first %}
                <p>{{ membership.short_description|safe }}</p>
            {% endwith %}
        </div>
    </div>
    {% endif %}

    {% if memberships %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="memberships"><i class="fa fa-fw fa-users"></i> {% trans "Memberships" %}</h3>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{% trans "Organization" %}</th>
                        <th>{% trans "Rank" %}</th>
                        <th>{% trans "Role" %}</th>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Start date" %}</th>
                        <th>{% trans "End date" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in memberships %}
                        <tr>
                            <td>
                                <a href="{% url 'detail_organization' member.organization.get_value.value.id %}">
                                    {% cite member.organization.get_value %}
                                </a>
                            </td>
                            <td>{% cite member.rank.get_value %}</td>
                            <td>{% cite member.role.get_value %}</td>
                            <td>{% cite member.title.get_value %}</td>
                            <td>{% cite member.firstciteddate.get_value %}</td>
                            <td>{% cite member.lastciteddate.get_value %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if command_chain %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="chain-of-command"><i class="fa fa-fw fa-sitemap fa-rotate-180"></i> {% trans "Chain of command" %}</h3>
            <hr />
            <div id="org-chart-container" class="command-charts-carousel"></div>
            <br>
        </div>
    </div>
    {% endif %}

    {% if subordinates %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="subordinates"><i class="fa fa-fw fa-share-alt fa-rotate-90"></i> {% trans "Subordinates" %}</h3>
            <small>{% trans "Commanders of units that were subordinate to any units commanded by this person" %}</small>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Rank" %}</th>
                        <th>{% trans "Role" %}</th>
                        <th>{% trans "Unit" %}</th>
                        <th>{% trans "Start of overlap" %}</th>
                        <th>{% trans "End of overlap" %}</th>
                        <th>{% trans "Duration of overlap" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subordinate in subordinates %}
                    <tr>
                        <td>
                            <a href="{% url 'detail-person' subordinate.commander.member.get_value.value.id %}">
                                {% cite subordinate.commander.member.get_value %}
                            </a>
                        </td>
                        <td>{% cite subordinate.commander.rank.get_value %}</td>
                        <td>{% cite subordinate.commander.role.get_value %}</td>
                        <td>
                            <a href="{% url 'detail_organization' subordinate.organization.id %}">
                                {% cite subordinate.organization %}
                            </a>
                        </td>
                        <td>{% cite subordinate.overlap_start %}</td>
                        <td>{% cite subordinate.overlap_end %}</td>
                        <td>{{ subordinate.overlap_duration }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if events %}
    <div class="row">
        <div class="col-sm-12">
            <h3>{% trans "Events" %}</h3>
            <hr />
            {% for event in events %}
                <div class="row">
                    <div class="col-sm-8">
                        <p>{% cite event.description.get_value %}</p>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% has_versions person as changelog %}
        {% if changelog %}
            {% render_versions person %}
        {% endif %}
{% endblock %}

{% block extra_js %}
    {% if command_chain %}
        <script src="{% static 'js/vis.min.js' %}"></script>
        <script src="{% static 'js/spin.min.js' %}"></script>
        <script src="{% static 'js/jquery.spin.js' %}"></script>
        <script src="{% static 'js/command_chart.js' %}"></script>
        <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
        <script>

        $(document).ready(function() {

            $("#print-page").on("click", function(){ window.print(); });

            var edgelists = {{command_chain|safe}};

            var chart = CommandChart;
            chart.edgelists = edgelists;

            chart.initCarousel();
            chart.show();
        });

        </script>
    {% endif %}
{% endblock %}
