{% extends "base_detail.html" %}
{% load i18n %}
{% load static %}
{% load render_versions %}


{% block header %}
    <h1 class="page-title">
        <i class="fa fa-fw fa-user"></i> {{ person.name.get_value }}
        <small>
            <a href="{% url 'edit-person' person.id %}" class="btn btn-default">Edit</a>
        </small>
    </h1>
    {% if person.aliases.get_list %}
        <p>Also known as:
            {% for alias in person.aliases.get_list %}
            <strong>{{ alias.get_value }}{% if not forloop.last %}|{% endif %} </strong>
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% has_versions person as changelog %}
    {% if memberships %}<li><a href="#last-seen-as"><i class="fa fa-fw fa-clock-o"></i> Last seen as</a></li>{% endif %}
    {% if memberships %}<li><a href="#memberships"><i class="fa fa-fw fa-users"></i> Memberships</a></li>{% endif %}
    <li><a href="#chain-of-command"><i class="fa fa-fw fa-sitemap"></i> Chain of command</a></li>
    <li><a href="#subordinates"><i class="fa fa-fw fa-share-alt fa-rotate-90"></i> Subordinates</a></li>
    {% if sources %}<li><a href="#sources"><i class="fa fa-fw fa-files-o"></i> Sources</a></li>{% endif %}
    {% if changelog %}<li><a href="#changelog"><i class="fa fa-fw fa-refresh"></i> Changelog</a></li>{% endif %}
{% endblock %}

{# This is exactly the same as the previous sidebar #}
{# Django just won't let you reuse blocks w/o 3rd party plugins :( #}
{% block sidebar_mobile %}
    {% has_versions person as changelog %}
    {% if last_seen_as %}<li><a href="#last-seen-as"><i class="fa fa-fw fa-clock-o"></i> Last seen as</a></li>{% endif %}
    {% if memberships %}<li><a href="#memberships"><i class="fa fa-fw fa-users"></i> Memberships</a></li>{% endif %}
    <li><a href="#chain-of-command"><i class="fa fa-fw fa-sitemap"></i> Chain of command</a></li>
    <li><a href="#subordinates"><i class="fa fa-fw fa-share-alt fa-rotate-90"></i> Subordinates</a></li>
    {% if sources %}<li><a href="#sources"><i class="fa fa-fw fa-files-o"></i> Sources</a></li>{% endif %}
    {% if changelog %}<li><a href="#changelog"><i class="fa fa-fw fa-refresh"></i> Changelog</a></li>{% endif %}
{% endblock %}

{% block details %}

    {% if last_seen_as %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="last-seen-as"><i class="fa fa-fw fa-clock-o"></i> Last seen as</h3>
            <p>{{ last_seen_as|safe }}</p>
        </div>
    </div>
    {% endif %}

    {% if memberships %}
    <div class="row">
        <div class="col-sm-12">
            <h3 id="memberships"><i class="fa fa-fw fa-users"></i> Memberships</h3>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Rank</th>
                        <th>Role</th>
                        <th>Title</th>
                        <th>Start date</th>
                        <th>End date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in memberships %}
                        <tr>
                            <td>
                                <a href="{% url 'detail_organization' member.organization.get_value.value.id %}">
                                    {{ member.organization.get_value }}
                                </a>
                            </td>
                            <td>{{ member.rank.get_value }}</td>
                            <td>{{ member.role.get_value }}</td>
                            <td>{{ member.title.get_value|default:"" }}</td>
                            <td>{{ member.firstciteddate }}</td>
                            <td>{{ member.lastciteddate }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if events %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Events</h3>
            <hr />
            {% for event in events %}
                <div class="row">
                    <div class="col-sm-8">
                        <p>{{ event.description.get_value }}</p>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% has_versions person as changelog %}
        {% if changelog %}
            {% render_versions person %}
        {% endif %}

{% endblock %}

