{% extends "base.html" %}
{% load i18n %}
{% load render_versions %}
{% block content %}
    <div class="row header">
        <div class="inner-title-wrapper">
            <h1 class="page-title">{% trans "Person" %}</h1>
        </div>
    </div>

    <form class="form form-horizontal" method="POST">
        {% csrf_token %}
        {% if source_error %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
                <label class="col-sm-2 control-label">Source for your changes</label>
                <div class="col-sm-8">
                    <select id="id_source" class="form-control source-field" name="source">
                        <option value="" selected="selected">--------</option>
                    </select>
                    {% if source_error %}
                        <span class="help-block"><i class="fa fa-remove"> </i> {{source_error}}</span>
                    {% endif %}
                </div>
            </div>
        {% if form.name.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label">Person name</label>
            <div class="col-sm-8">
                <select id="id_name" class="form-control name-field" name="name">
                        <option value="" selected="selected">--------</option>
                    {% if form_data.name %}
                        <option value="{{ form_data.name.id }}" selected=true>{{ form_data.name.value }}</option>
                    {% endif %}
                </select>
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            <input type="hidden" name="name_text" id="id_name_text" value="{{ form_data.name.value }}" />
            </div>
        </div>
        {% if form.alias.errors %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label">Aliases</label>
            <div class="col-sm-8">
                <select id="id_alias" class="form-control alias-field" name="alias" multiple="multiple">
                    {% for alias in form_data.aliases %}
                        <option value="{{ alias.id }}" selected=true>{{ alias.value }}</option>
                    {% endfor %}
                </select>
                {% for alias in form_data.alias %}
                    <input type="hidden" name="alias_text" id="id_alias_text" value="{{ alias.value }}" />
                {% endfor %}
                {% if form.alias.errors %}
                    {% for error in form.alias.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-12">
                <button class="btn sfm-btn-default" type="submit">Cancel</button>
                <button class="btn  pull-right sfm-btn-action addObject" type="submit">Save</button>
            </div>
        </div>

    </form>
    <hr />

    <div class="row">
        <h3>{% trans "Memberships" %}</h3>
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-3">{% trans "Memberships" %}</th>
                            <th class="col-sm-3">{% trans "Role" %}</th>
                            <th class="col-sm-2">{% trans "Rank" %}</th>
                            <th class="col-sm-2">{% trans "Start date" %}</th>
                            <th class="col-sm-2">{% trans "End date" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in memberships %}
                        <tr>
                            <td><a href="{% url 'edit-membership' pk=member.id %}">{{ member.organization.get_value }}</a></td>
                            <td>{{ member.role.get_value.value }}</td>
                            <td>{{ member.rank.get_value.value }}</td>
                            <td>{{ member.startdate.get_value }}</td>
                            <td>{{ member.enddate.get_value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% render_versions person %}

{% endblock %}
