{% extends 'edit.html' %}
{% load i18n %}
{% load countries %}
{% load citations %}
{% block header_title %}
<div class="col-sm-6">
    <h1>{{ person.name.get_value }}</h1>
    <p>
        {% trans "ID:" %} {{ person.uuid }}<br />
        {% trans "Last update by:" %} username goes here <br />
        <a href="#">{% trans "View versions"%}</a>
    </p>
</div>
{% endblock %}

{% block edit_links %}
    <div class="col-sm-6">
        <h1>
            {% trans "Edit:" %}
            <a href="{% url 'edit-person' person.uuid %}" class="btn btn-default">{% trans "Basics" %}</a>
            <a href="{% url 'edit-person-postings' person.uuid first_membership.id %}" class="btn btn-primary">{% trans "Postings" %}</a>
        </h1>
    </div>
{% endblock %}

{% block above_form %}
    {% include 'person/partials/person-posting-list.html'%}
{% endblock %}

{% block form_content %}
    <h2>{% trans 'Edit postings' %}</h2>
    <div class="row organization-row field-bg bg-info">
        <div class="col-sm-12">
            {% if form.organization.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.organization.label }}</label>
                <select id="id_organization" class="form-control sourced select2-target" name="organization">
                    <option value="{{ form.instance.organization.get_value.value.id }}">{{ form.instance.organization.get_value.value }}</option>
                </select>
                {% if form.organization.errors %}
                    {% for error in form.organization.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_organization_source">
            {% for source in form.instance.organization.get_sources %}
                {% source_input 'organization' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row rank-row field-bg">
        <div class="col-sm-12">
            {% if form.rank.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.rank.label }}</label>
                <select id="id_rank" class="form-control sourced-dropdown select2-target" name="rank">
                    {% for value, choice in form.fields.rank.choices %}
                        {% if form.instance.rank.get_value.value.value == choice %}
                            <option value="{{ value }}" selected=true>{{ choice }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if form.rank.errors %}
                    {% for error in form.rank.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_rank_source">
            {% for source in form.instance.rank.get_sources %}
                {% source_input 'rank' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row role-row field-bg">
        <div class="col-sm-12">
            {% if form.role.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.role.label }}</label>
                <select id="id_role" class="form-control sourced-dropdown select2-target" name="role">
                    <option value="">------</option>
                    {% for value, choice in form.fields.role.choices %}
                        {% if form.instance.role.get_value.value.value == choice %}
                            <option value="{{ value }}" selected=true>{{ choice }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if form.role.errors %}
                    {% for error in form.role.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_role_source">
            {% for source in form.instance.role.get_sources %}
                {% source_input 'role' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row title-row field-bg">
        <div class="col-sm-12">
            {% if form.title.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.title.label }}</label>
                <input type="text" name="title" id="id_title" class="form-control sourced" value="{{ form.instance.title }}">
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_title_source">
            {% for source in form.instance.title.get_sources %}
                {% source_input 'title' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row firstciteddate-row field-bg">
        <div class="col-sm-12">
            {% if form.firstciteddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.firstciteddate.label }}</label>
                <input type="text" name="firstciteddate" id="id_firstciteddate" class="form-control sourced" value="{{ form.instance.firstciteddate }}">
                {% if form.firstciteddate.errors %}
                    {% for error in form.firstciteddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_firstciteddate_source">
            {% for source in form.instance.firstciteddate.get_sources %}
                {% source_input 'firstciteddate' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row realstart-row field-bg">
        <div class="col-sm-12">
            {% if form.realstart.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <div class="checkbox">
                    <label class="control-label">
                        {% if form.instance.realstart.get_value.value %}
                            <input type="checkbox" name="realstart" id="id_realstart" checked="true" /> {{ form.realstart.label }}
                        {% else %}
                            <input type="checkbox" name="realstart" id="id_realstart" /> {{ form.realstart.label }}
                        {% endif %}
                    </label>
                </div>
                {% if form.realstart.errors %}
                    {% for error in form.realstart.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row startcontext-row field-bg">
        <div class="col-sm-12">
            {% if form.startcontext.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.startcontext.label }}</label>
                <input type="text" name="startcontext" id="id_startcontext" class="form-control sourced" value="{{ form.instance.startcontext }}">
                {% if form.startcontext.errors %}
                    {% for error in form.startcontext.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_startcontext_source">
            {% for source in form.instance.startcontext.get_sources %}
                {% source_input 'startcontext' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row lastciteddate-row field-bg">
        <div class="col-sm-12">
            {% if form.lastciteddate.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.lastciteddate.label }}</label>
                <input type="text" name="lastciteddate" id="id_lastciteddate" class="form-control sourced" value="{{ form.instance.lastciteddate }}">
                {% if form.lastciteddate.errors %}
                    {% for error in form.lastciteddate.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_lastciteddate_source">
            {% for source in form.instance.lastciteddate.get_sources %}
                {% source_input 'lastciteddate' source %}
            {% endfor %}
        </div>
    </div>
    <div class="row realend-row field-bg">
        <div class="col-sm-12">
            {% if form.realend.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <div class="checkbox">
                    <label class="control-label">
                        {% if form.instance.realend.get_value.value %}
                            <input type="checkbox" name="realend" id="id_realend" checked="true" /> {{ form.realend.label }}
                        {% else %}
                            <input type="checkbox" name="realend" id="id_realend" /> {{ form.realend.label }}
                        {% endif %}
                    </label>
                </div>
                {% if form.realend.errors %}
                    {% for error in form.realend.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row endcontext-row field-bg">
        <div class="col-sm-12">
            {% if form.endcontext.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.endcontext.label }}</label>
                <input type="text" name="endcontext" id="id_endcontext" class="form-control sourced" value="{{ form.instance.endcontext }}">
                {% if form.endcontext.errors %}
                    {% for error in form.endcontext.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_endcontext_source">
            {% for source in form.instance.endcontext.get_sources %}
                {% source_input 'endcontext' source %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block extra_extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            loadSources({'target': $('#id_organization')});

            $('#id_organization').select2({
                ajax: {
                    url: "{% url 'organization-autocomplete' %}",
                    data: function(params){
                        var query = {
                            q: params.term
                        }
                        return query
                    }
                }
            });

            $('#id_rank').select2();
            $('#id_role').select2();

        })
    </script>
{% endblock %}
