{% extends 'edit.html' %}
{% load i18n %}
{% load countries %}
{% load citations %}

{% block edit_links %}
    <div class="col-sm-6">
        <h1>
            {% trans "Edit:" %}
            <a href="{% url 'edit-person' person.uuid %}" class="btn btn-default">{% trans "Basics" %}</a>
            {% if first_membership %}
                <a href="{% url 'edit-person-postings' person.uuid first_membership.id %}" class="btn btn-primary">{% trans "Postings" %}</a>
            {% else %}
                <a href="{% url 'create-person-posting' person.uuid %}" class="btn btn-primary">{% trans "Postings" %}</a>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block form_content %}
    <h2>{% trans "Edit basics" %}</h2>
    <div class="row name-row field-bg bg-info">
        <div class="col-sm-12">
            {% if form.name.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.name.label }}</label>
                <input id="id_name" type="text" class="form-control sourced" name="name" value="{{ form.instance.name.get_value }}" />
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_name_source">
            {% for source in form.instance.name.get_sources %}
                {% source_input 'name' source %}
            {% endfor %}
        </div>
        <div id="id_name_confidence">
            <input type="hidden" value="{{ form.instance.name.get_value.confidence }}" name="name_confidence">
        </div>
    </div>
    <div class="row aliases-row field-bg">
        <div class="col-sm-12">
            {% if form.aliases.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.aliases.label }}</label>
                <select id="id_alias" class="form-control select2-target" name="aliases" multiple="multiple">
                    {% for alias in form.instance.aliases.get_list %}
                        <option value="{{ alias.get_field.id }}" selected=true>{{ alias.get_field.value }}</option>
                    {% endfor %}
                </select>
                {% if form.aliases.errors %}
                    {% for error in form.aliases.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_aliases_source">
            {% for source in form.instance.aliases.get_list.0.get_sources %}
                {% source_input 'aliases' source %}
            {% endfor %}
        </div>
        <div id="id_aliases_confidence">
            <input type="hidden" value="{{ form.instance.aliases.get_list.0.get_value.confidence }}" aliases="aliases_confidence">
        </div>
    </div>
    <div class="row gender-row field-bg">
        <div class="col-sm-12">
            {% if form.gender.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.gender.label }}</label>
                <select id="id_gender" class="form-control sourced-dropdown" name="gender">
                    <option value="">------</option>
                    {% for value, choice in form.fields.gender.choices %}
                        {% if form.instance.gender.get_value.value == choice %}
                            <option value="{{ value }}" selected=true>{{ choice }}</option>
                        {% else %}
                            <option value="{{ value }}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if form.gender.errors %}
                    {% for error in form.gender.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_gender_source">
            {% for source in form.instance.gender.get_sources %}
                {% source_input 'gender' source %}
            {% endfor %}
        </div>
        <div id="id_gender_confidence">
            <input type="hidden" value="{{ form.instance.gender.get_value.confidence }}" name="gender_confidence">
        </div>
    </div>
    <div class="row division_id-row field-bg">
        <div class="col-sm-12">
            {% if form.division_id.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.division_id.label }}</label>
                <select id="id_division_id" class="form-control select2-target" name="division_id">
                    {% if form.instance.division_id %}
                        <option value="{{ form.instance.division_id }}">{{ form.instance.division_id|country_name }}</option>
                    {% else %}
                        <option value="" selected=true>------</option>
                    {% endif %}
                    {% for country in countries %}
                        <option value="ocd-division/country:{{ country.iso|lower }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                {% if form.division_id.errors %}
                    {% for error in form.division_id.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_division_id_source">
            {% for source in form.instance.division_id.get_sources %}
                {% source_input 'division_id' source %}
            {% endfor %}
        </div>
        <div id="id_division_id_confidence">
            <input type="hidden" value="{{ form.instance.division_id.get_value.confidence }}" division_id="division_id_confidence">
        </div>
    </div>
    <div class="row date_of_birth-row field-bg">
        <div class="col-sm-12">
            {% if form.date_of_birth.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.date_of_birth.label }}</label>
                <input type="text" name="date_of_birth" id="id_date_of_birth" class="form-control sourced" value="{{ form.instance.date_of_birth }}"/>
                {% if form.date_of_birth.errors %}
                    {% for error in form.date_of_birth.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_date_of_birth_source">
            {% for source in form.instance.date_of_birth.get_sources %}
                {% source_input 'date_of_birth' source %}
            {% endfor %}
        </div>
        <div id="id_date_of_birth_confidence">
            <input type="hidden" value="{{ form.instance.date_of_birth.get_value.confidence }}" date_of_birth="date_of_birth_confidence">
        </div>
    </div>
    <div class="row date_of_death-row field-bg">
        <div class="col-sm-12">
            {% if form.date_of_death.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.date_of_death.label }}</label>
                <input type="text" name="date_of_death" id="id_date_of_death" class="form-control sourced" value="{{ form.instance.date_of_death }}">
                {% if form.date_of_death.errors %}
                    {% for error in form.date_of_death.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_date_of_death_source">
            {% for source in form.instance.date_of_death.get_sources %}
                {% source_input 'date_of_death' source %}
            {% endfor %}
        </div>
        <div id="id_date_of_death_confidence">
            <input type="hidden" value="{{ form.instance.date_of_death.get_value.confidence }}" date_of_death="date_of_death_confidence">
        </div>
    </div>
    <div class="row deceased-row field-bg">
        <div class="col-sm-12">
            {% if form.deceased.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <div class="checkbox">
                    <label class="control-label">
                        {% if form.instance.deceased.get_value.value %}
                            <input type="checkbox" name="deceased" id="id_deceased" class="sourced" checked="true" /> {{ form.deceased.label }}
                        {% else %}
                            <input type="checkbox" name="deceased" id="id_deceased" class="sourced" /> {{ form.deceased.label }}
                        {% endif %}
                    </label>
                </div>
                {% if form.deceased.errors %}
                    {% for error in form.deceased.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_deceased_source">
            {% for source in form.instance.deceased.get_sources %}
                {% source_input 'deceased' source %}
            {% endfor %}
        </div>
        <div id="id_deceased_confidence">
            <input type="hidden" value="{{ form.instance.deceased.get_value.confidence }}" deceased="deceased_confidence">
        </div>
    </div>
    <div class="row biography-row field-bg">
        <div class="col-sm-12">
            {% if form.biography.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.biography.label }}</label>
                <textarea rows=5 name="biography" id="id_biography" class="form-control sourced">{{ form.instance.biography.get_value.value }}</textarea>
                {% if form.biography.errors %}
                    {% for error in form.biography.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_biography_source">
            {% for source in form.instance.biography.get_sources %}
                {% source_input 'biography' source %}
            {% endfor %}
        </div>
        <div id="id_biography_confidence">
            <input type="hidden" value="{{ form.instance.biography.get_value.confidence }}" biography="biography_confidence">
        </div>
    </div>
    <div class="row notes-row field-bg">
        <div class="col-sm-12">
            {% if form.notes.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.notes.label }}</label>
                <textarea name="notes" id="id_notes" class="form-control sourced">{{ form.instance.notes.get_value.value }}</textarea>
                {% if form.notes.errors %}
                    {% for error in form.notes.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_notes_source">
            {% for source in form.instance.notes.get_sources %}
                {% source_input 'notes' source %}
            {% endfor %}
        </div>
        <div id="id_notes_confidence">
            <input type="hidden" value="{{ form.instance.notes.get_value.confidence }}" notes="notes_confidence">
        </div>
    </div>
    <div class="row external_links-row field-bg">
        <div class="col-sm-12">
            {% if form.external_links.errors %}
                <div class="form-group has-error has-feedback">
            {% else %}
                <div class="form-group">
            {% endif %}
                <label class="control-label">{{ form.external_links.label }}</label>
                <select id="id_external_links" class="form-control select2-target" name="external_links" multiple="multiple">
                    {% for link in form.instance.external_links.get_list %}
                        <option value="{{ link.get_field.id }}" selected=true>{{ link.get_field.value }}</option>
                    {% endfor %}
                </select>
                {% if form.external_links.errors %}
                    {% for error in form.external_links.errors %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="id_external_links_source">
            {% for source in form.instance.external_links.get_list.0.get_sources %}
                {% source_input 'external_links' source %}
            {% endfor %}
        </div>
        <div id="id_external_links_confidence">
            <input type="hidden" value="{{ form.instance.external_links.get_list.0.get_value.confidence }}" external_links="external_links_confidence">
        </div>
    </div>

{% endblock %}
{% block extra_extra_js %}
    <script type="text/javascript">
        loadSources({'target': $('#id_name')});
        $(document).ready(function(){
            $('#id_alias').select2({
                'tags': true
            });

            $('#id_external_links').select2({
                'tags': true
            });

            $('#id_division_id').select2();
        })
    </script>
{% endblock%}
