{% load i18n %}
{% load menu %}

<ul class="nav" id="side-menu">
                            {% include "search.html" %}
                        <li>
                            <a class="{% active '^/en/$' %}{% active '^/fr/$' %}" href="{% url "dashboard" %}"><i class="fa fa-dashboard fa-fw"></i> {% blocktrans %}Dashboard{% endblocktrans %}</a>
                        </li>
                        <li>
                            
                        </li>
                        <li class="{% active 'pressclipping' %}">
                            <a class="{% active 'person' %}" href="{% url "person" %}"><i class="fa fa-archive fa-fw"></i> {% blocktrans %}Person{% endblocktrans %}<span class="fa arrow"></span></a>
                            
                            <ul class="nav nav-second-level collapse" aria-expanded="false">
                                <li>
                                    <a class="{% active '/person/$' %}" href="{% url "person" %}"> {% blocktrans %}Person{% endblocktrans %}</a>
                                </li>
                                <li>
                                    <a class="{% active 'add_person' %}" href="{% url "add_person" %}"><i class="fa fa-plus fa-fw"></i> {% blocktrans %}New{% endblocktrans %}</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                    </ul>
                    
                    
