{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12">
                    {% if request.user.is_staff %}
                        <h2>
                            <small class="pull-right">
                                <a class="btn btn-default" type="button" role="button" href="{% url 'update-source' source.uuid %}">
                                    <i class="fa fa-fw fa-edit"></i>{% trans "Edit" %}
                                </a>
                            </small>
                        </h2>
                    {% endif %}
                    <h2 class="page-title cited">
                        <i class="fa fa-fw fa-paperclip"></i>
                        <a href="{{ source.source_url }}" target="_blank">
                            {{ source.title }}
                        </a>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <strong>{% trans "Publisher:" %} </strong>{{ source.publication }} ({{ source.publication_country }})<br />
                        <strong>{% trans "Publication date:" %} </strong>{{ source.published_on }}<br />
                        <strong>{% trans "Last edited by:" %} </strong>{{ source.user }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2 id="evidence">Evidence</h2>
        <br />
    {% if source.accesspoint_set.count > 0 %}
        <div class="col-sm-12 col-md-6">
            <form>
                <div class="form-group">
                    <label for="access-point">
                        {% trans "Select an access point to view records evidenced by this source:" %}
                    </label>
                    <select id="access-point" class="form-control">
                        <option></option>
                    {% for point in source.accesspoint_set.all %}
                        <option
                            value="{% url 'view-source-with-evidence' source.uuid point.uuid %}#evidence"
                            {% if point.uuid == access_point.uuid %}selected{% endif %}
                        >
                            {{ point }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        {% else %}
            <p>{% trans "No access points found for this source." %}</p>
        {% endif %}
    </div>
</div>
</div>
{% if access_point.uuid %}
<div class="row">
    <div class="col-sm-12">
        <h3>
        {% blocktrans with access_point.archive_url as archive_url%}
            Access point <a href="{{ archive_url }}">{{ access_point }}</a>
            evidences the following records:
        {% endblocktrans %}
        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Record Name" %}</th>
                    <th>{% trans "Record Type" %}</th>
                    <th>{% trans "Fieldname" %}</th>
                    <th>{% trans "Value" context "of a database record" %}</th>
                </tr>
            </thead>
            <tbody>
            {% if evidenced %}
                {% for name, type, fieldname, value, link in evidenced %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>
                            {% if link %}
                                <a href="{{ link }}">
                            {% endif %}
                                {{ type }}
                            {% if link %}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ fieldname }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>{% trans "No records found for this access point." %}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $('select#access-point').select2({
        allowClear: true,
        placeholder: '{% trans "Select an access point" %}',
    }).change(function(event) {
        var href = event.target.value;
        if (href === '') {
            // Clearing the selection should take the user back to the Source detail view
            href = "{% url 'view-source' source.uuid %}";
        }
        window.location = href;
    })
</script>
{% endblock %}
