.sfm-btn-action {
  @include button-variant($sfm-btn-action-color, $sfm-btn-action-bg, $sfm-btn-action-border);
}

.sfm-btn-default{
   @include button-variant($sfm-btn-default-color, $sfm-btn-default-bg,  $sfm-btn-default-border);
}

.btn{
  min-width:6.25rem;
}

.sfm-btn-option{
  background-color: $sfm-btn-default-bg;
  border:none;
  width:2rem;
  height:1.5rem;;
  border-radius:4px;
  padding:0;
  margin:0;
  outline: none;
}
