div{
  .date-wrapper{
    .btn{
      min-width:0;
    }
    .approx-date{
      width:calc((100%/3) - 5px)!important;
      float:left !important;
      margin-left:5px !important;

    }
    &:first-child{
      margin-left:0 !important;
    }
  }
}
