//* BUTTONS
button{

	span{
		// margin-top:0.6em;
		// float:right;
	}
}


table{
	thead {
		th{
	      	background-color: $sfm-grey-D2;
	      	color:$white;
	      	font-weight: $ft-light;
	    }
	}
}







.map-container{
	height:30em;
	background-color:$sfm-grey-L;
}