{% load staticfiles %}
{% load language_url %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SFM Dashboard</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "css/bootstrap.simplex.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-nav-wizard.css" %}">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <script src="{% static "js/jquery-1.10.2.js" %}"></script>
  {% block extra_head %}{% endblock %}
</head>
{% get_current_language_bidi as LANGUAGE_BIDI %}
<body class="{% if LANGUAGE_BIDI %}rtl{% endif %}">
  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
    window.LANG = "{{ LANGUAGE_CODE }}";
  </script>

<div class="pre-navbar">
  <p>{% trans "A tool from" %} <a href="https://securityforcemonitor.org">Security Force Monitor</a></p>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard' %}">WhoWasIn<strong>Command</strong></a>
            <select class="lang-select-box" style="margin-top:10px;"></select>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{ countries_tab }}"><a href="{% url 'countries' %}"><i class="fa fa-fw fa-globe"></i> {% trans "Countries" %}</a></li>
                <li class="{{ person_tab }}"><a href="{% url 'search' %}?entity_type=Person"><i class="fa fa-fw fa-user"></i> {% trans "Personnel" %}</a></li>
                <li class="{{ organization_tab }}"><a href="{% url 'search' %}?entity_type=Organization"><i class="fa fa-fw fa-users"></i> {% trans "Units" %}</a></li>
                <li class="{{ violation_tab }}"><a href="{% url 'search' %}?entity_type=Violation"><i class="fa fa-fw fa-exclamation-triangle"></i> {% trans "Incidents" %}</a></li>
                <li class="{{ help_tab }}"><a href="#"><i class="fa fa-fw fa-question-circle"></i> {% trans "Help" %}</a></li>
                {% if user.is_staff %}
                <li class="{{ new_source_tab }}">
                    <a href="{% url 'create-source' %}">
                        <i class="fa fa-fw fa-plus"></i> {% trans "New source" %}
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}<li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-arrow-right"></i> {% trans "Logout" %}</a></li>{% endif %}
            </ul>
        </div>
    </div>
</nav>
<section class="content container">
{% if messages %}
    <div class="row">
        {% for message in messages %}
        <div {% if message.tags %}class="alert {{ message.tags }}"{% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% block content %}{% endblock %}
</section>
<hr />
<footer class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>&copy {% now "Y" %} <a href="https://securityforcemonitor.org">Security Force Monitor</a></p>
        </div>
    </div>
</footer>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{% static "js/language.js" %}"></script>
  <script src="{% static "js/version.js" %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    // Get language code in url, prepend to array, and remove duplicate
    dataArray = JSON.parse('{{request.LANGUAGE_CODE|create_select2_data|safe}}');

    // Populate select2
    $('.lang-select-box').select2({
        data: dataArray,
        width: '100px'
    });

    // Attach click event to dropdown, which reloads page with new language code 
    transObj = {
      'French': 'fr',
      'English': 'en',
      'Spanish': 'es',
    }

    $('.lang-select-box').on('change', function (evt) {
        selectedLang = $('.lang-select-box').val();
        selectedLangSym = '/' + transObj[selectedLang] + '/';
        // Create new URL with selected language, and redirect to it.
        currentUrl = window.location.href;
        newUrl = currentUrl.replace('/es/', selectedLangSym).replace('/fr/', selectedLangSym).replace('/en/', selectedLangSym);
        window.location = newUrl;
    });

  });
  </script>
  {% block extra_js %}{% endblock %}

</body>

</html>
