{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{{ title }}</h1>
    </div>
  </div>
  <form action="" method="post">{% csrf_token %}
    <div class="row">
      <p>{% trans "Are you sure you want to delete those objects?" %}</p>
      <ul>
      {{ deleted_elements|unordered_list }}
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <a href="/{{model}}/" class="btn sfm-btn-default " type="submit">Cancel</a>
        <input class="btn pull-right sfm-btn-action" type="submit" value="{% trans "Delete" %}" />
      </div>
    </div>
  </form> 
{% endblock %}
