{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div style="min-height: 60vh">
        <h2>{% trans "Download information about units" %}</h2>

        <hr />

        <p><strong>{% trans "Data downloads are temporarily disabled (February 2021) whilst we address performance issues in delivering this feature." %}</strong> {% trans "Please contact <a href='mailto:technical@securityforcemonitor.org'>technical@securityforcemonitor.org</a> with a data access request and we will do our best to fulfill it." %}</p>
    </div>
{% endblock %}
