{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
{% endblock %}
{% block content %}

    <div class="well">
        <div class="row header">
            {% block header_title %}
            <div class="col-sm-6">
                <h1>{{ object.name.get_value }}</h1>
                <p>
                    {% trans "ID:" %} {{ object.uuid }}<br />
                    {% trans "Last update by:" %} {% trans "username goes here" %} <br />
                    <a href="#">{% trans "View versions"%}</a>
                </p>
            </div>
            {% endblock %}
            {% block edit_links %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% block above_form %}{% endblock %}
        </div>
        <form class="form" method="POST">
        {% csrf_token %}
        <div id="form-fields" class="col-sm-6">
            {% block form_content %}{% endblock %}
        </div>
        <div class="col-sm-6" id="source-wrapper-anchor">
            <h2>{% trans "Edit sources and confidence levels" %}</h2>
            <div class="row bg-info" id="source-wrapper">
                <div class="col-sm-12">
                    <div id="confidence-picker-wrapper">
                        <!-- This widget is rendered by EJS below -->
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="control-label">
                            <span id="source-search-title-wrapper">
                                <!-- This title is rendered by EJS below -->
                            </span>
                        </label>
                        <select multiple="multiple" id="source-search" class="form-control"></select>
                    </div>
                    <div id="sources">
                        <div id="source-list-added-title">
                            <!-- This title is rendered by EJS below -->
                        </div>
                        <div id="source-list-added">
                            <!-- This widget is rendered by EJS below -->
                        </div>
                        <div id="source-list-removed-title">
                            <!-- This title is rendered by EJS below -->
                        </div>
                        <div id="source-list-removed">
                            <!-- This widget is rendered by EJS below -->
                        </div>
                        <div id="source-list-existing-title">
                            <!-- This title is rendered by EJS below -->
                        </div>
                        <div id="source-list-existing">
                            <!-- This widget is rendered by EJS below -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {% block delete_button %}{% endblock %}
                <!-- add some conditional logic here -->
                <a href="{{ view.get_cancel_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
                <input class="btn btn-success" type="submit" name="_continue" value="{% trans 'Save & continue editing' %}" />
                <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
    </form>
    {% if versions %}
        {% include 'partials/version_list.html' %}
    {% endif %}
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/ejs_production.js" %}"></script>
    <script type="text/EJS" id="source-list-template">
        <div data-field_name="<%= field_name %>" data-source_id="<%= id %>" class="source-detail alert <%= alert_class %> alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-remove"></i></span></button>
            <h4>
                <a href="<%= source_detail_url %>">
                    <%= title %>
                </a>
                </br>
                <small>
                    <%= published_on %> -
                    <a href="<%= source_url %>" target="_blank">
                        <%= publication %>, <%= publication_country %>
                    </a> -
                    {% trans "Access Point" %} <a href="<%= archive_url %>"><%= access_point %></a>
                    <% if (page_number){ %>
                        page <%= page_number %>
                    <% } %>
                </small>
            </h4>
        </div>
    </script>
    <script type="text/EJS" id="source-list-existing-title-template">
        <h4 id="source-field-name" data-field_name="<%= field_name %>" style="display:none;">
            {% blocktrans context "Leave the HTML tags intact, including field_label" %}
                Sources already linked to <strong><%= field_label %></strong>
            {% endblocktrans %}
        </h4>
    </script>
    <script type="text/EJS" id="source-list-added-title-template">
        <h4 id="source-field-name" data-field_name="<%= field_name %>" style="display:none;">
            {% blocktrans context "Leave the HTML tags intact, including field_label" %}
                Sources added to <strong><%= field_label %></strong> but not saved
            {% endblocktrans %}
        </h4>
    </script>
    <script type="text/EJS" id="source-list-removed-title-template">
        <h4 id="source-field-name" data-field_name="<%= field_name %>" style="display:none;">
            {% blocktrans context "Leave the HTML tags intact, including field_label" %}
                Sources removed from <strong><%= field_label %></strong> during this edit
            {% endblocktrans %}
        </h4>
    </script>
    <script type="text/EJS" id="confidence-picker">
        <h3 class="form-inline">
            <label class="control-label">
                {% blocktrans context "Leave the HTML tags intact, including field_label" %}
                    1. Set <strong><%= field_label %></strong> confidence level:
                {% endblocktrans %}
            </label>
            <select class="confidence-picker form-control" data-field_name="<%= field_name %>">
                <% $.each(confidence_choices, function(value, label){ %>
                    <% if (value == confidence){ %>
                        <option value="<%= value %>" selected><%= label %></option>
                    <% } else { %>
                        <option value="<%= value %>"><%= label %></option>
                    <% } %>
                <% }) %>
            </select>
        </h3>
    </script>
    <script type="text/EJS" id="source-search-title">
        <h3>
        {% blocktrans context "Leave the HTML tags intact, including field_label" %}
            2. Add sources to <strong><%= field_label %></strong>
        {% endblocktrans %}
        </h3>
    </script>
    <script type="text/javascript">
        var object_id = "{{ object.id }}"
        var object_type = "{{ form.object_type }}";
        var confidence_choices = {{ confidence_choices|safe }};


        function fetchSources(field_name){
            var params = {
                'object_id': object_id,
                'object_type': object_type,
                'field_name': field_name
            }
            return $.getJSON("{% url 'get-sources' %}", params)
        }

        function getSourceInput(e){
            // Get the raw input element for a source.
            var source_id = $(e.target).data('source_id');
            var field_name = $(e.target).data('field_name');
            var selector = 'input[class="' + field_name + '_source"][value="' + source_id + '"]';
            return $(selector);
        }

        function removeSource(e){
            // Remove the input element for a Source from the DOM (hard delete).
            var $sourceInput = getSourceInput(e);
            $sourceInput.remove();
        }

        function disableSource(e){
            // Disable the input element for a Source, preventing it from submitting
            // with the form (soft delete).
            var $sourceInput = getSourceInput(e);
            $sourceInput.removeAttr('name');  // Unnamed inputs won't be submitted by forms
        }

        function revertSource(e){
            // Re-enable the input element for a Source.
            var $sourceInput = getSourceInput(e);
            $sourceInput.attr('name', $(e.target).data('field_name') + '_source');
        }

        function removeExistingSource(e){
            // Remove a Source that has already been saved during a previous editing session.
            disableSource(e);
            // Alter the appearance of the alert and move it to the 'Removed' section.
            $sourceCard = $(e.target).clone();
            $sourceCard.removeClass('alert-success').addClass('alert-danger');
            $sourceCard.find('.fa-remove').removeClass('fa-remove').addClass('fa-undo');
            $sourceCard.prependTo('#source-list-removed');

            // Check if we need to display or hide any section titles.
            var hasNewRemovedSources = $('#source-list-removed').children().length === 1;
            if (hasNewRemovedSources) {
                // Show the title of the Removed Source list if this is the first source.
                $('#source-list-removed-title').children().show();
            }
            // We expect this function to fire _before_ the existing source is removed
            // from the DOM, so checking if the parent container has 1 child element
            // will effectively check if the parent container is empty.
            var hasNoExistingSources = $('#source-list-existing').children().length === 1;
            if (hasNoExistingSources) {
                // Hide the title of the Existing Source list if no sources remain.
                $('#source-list-existing-title').children().hide();
            }
        }

        function removeAddedSource(e){
            // Remove a Source that has been added during this editing session.
            removeSource(e);
            var hasNoAddedSources = $('#source-list-added').children().length === 1;
            if (hasNoAddedSources) {
                // Clear the title of the Added Source list if no sources remain.
                $('#source-list-added-title').children().hide();
            }
        }

        function revertRemovedSource(e){
            // Revert the removal of an existing source from the source list.
            revertSource(e);
            // Alter the appearance of the alert and move it to the 'Existing' section.
            $sourceCard = $(e.target).clone();
            $sourceCard.removeClass('alert-danger').addClass('alert-success');
            $sourceCard.find('.fa-undo').removeClass('fa-undo').addClass('fa-remove');
            $sourceCard.prependTo('#source-list-existing');

            // Check if we need to display or hide any section titles.
            var hasNoRemainingSources = $('#source-list-removed').children().length === 1;
            if (hasNoRemainingSources) {
                // Clear the title of the Removed Source list if no sources remain.
                $('#source-list-removed-title').children().hide();
            }
            var hasNewExistingSources = $('#source-list-existing').children().length > 0;
            if (hasNewExistingSources) {
                // Show the title of the Existing Source list if at least source has been reverted.
                $('#source-list-existing-title').children().show();
            }
        }

        function renderSourceListTitle(sourceType, fieldName, fieldLabel){
            // Render the title for a list of sources.
            var titleSelector = '#source-list-' + sourceType + '-title';
            var sourceListTitleTemplate = new EJS({
                text: $(titleSelector + '-template').html()
            });
            $(titleSelector).html(sourceListTitleTemplate.render({
                'field_name': fieldName,
                'field_label': fieldLabel
            }));
        }

        function loadSources(e){
            var field_name = $(e.target).prop('name');
            var field_label = $(e.target).prev();
            if (field_label.length == 0){
                field_label = $(e.target).parent();
            }
            field_label = field_label.text().trim();

            if (typeof field_name === 'undefined'){
                return
            }

            // Render the confidence picker widget
            var confidenceTemplate = new EJS({'text': $('#confidence-picker').html()});
            var confidenceSelector = 'input[name="' + field_name + '_confidence"]';
            var confidence = $(confidenceSelector).val();
            $('#confidence-picker-wrapper').html(confidenceTemplate.render({
                'field_name': field_name,
                'confidence': confidence,
                'field_label': field_label
            }));
            $('.confidence-picker').on('change', updateConfidence);

            // Render the title for the source search box
            var sourceSearchTitleTemplate = new EJS({text: $('#source-search-title').html()});
            $('#source-search-title-wrapper').html(sourceSearchTitleTemplate.render({
                'field_label': field_label
            }));

            // Render the titles for the lists of sources
            renderSourceListTitle('existing', field_name, field_label);
            renderSourceListTitle('added', field_name, field_label);
            renderSourceListTitle('removed', field_name, field_label);

            // Render the list of existing sources
            var sourceList = [];
            $.each($('input[name="' + field_name + '_source"]'), function(e, source){
                var sourceInfo = $(source).data();
                sourceInfo['field_name'] = field_name;
                sourceInfo['id'] = $(source).val();
                sourceInfo['alert_class'] = 'alert-success';
                var template = new EJS({'text': $('#source-list-template').html()});
                sourceList.push(template.render(sourceInfo));
            });

            // If sources exist, show the title for Existing Sources.
            if (sourceList.length > 0) {
                $('#source-list-existing-title').children().first().show();
            }
            $('#source-list-existing').html(sourceList.join(''));
            $('.field-bg').removeClass('bg-info');

            var fieldInput = '.' + field_name + '-row';
            if ($(fieldInput).length > 0){
                $(fieldInput).addClass('bg-info');
            } else {
                $('*[name="' + field_name +'"]').parent().parent().parent().addClass('bg-info');
            }

            var max_height = $('#form-fields').height();
            $('#source-wrapper').css({
                'height': max_height,
                overflow: 'scroll'
            });
            $('#source-wrapper-anchor').css({
                'position': 'relative',
                'height': max_height,
            });
            stickSources();
            $(window).scroll(stickSources);
        }

        function stickSources(){
            var scroll_top = $(document).scrollTop();
            var anchor_rectangle = $('#source-wrapper-anchor')[0].getBoundingClientRect().top + scroll_top;
            var offset = ($('#source-wrapper-anchor').offset().top);
            var max_height = $('#form-fields').height();

            if(scroll_top > anchor_rectangle){
                var new_height = max_height - (scroll_top - offset);
                $('#source-wrapper').css({
                    'position': 'absolute',
                    'bottom': '10px',
                    'height': new_height
                });
            } else {
                $('#source-wrapper').css({
                    'position': 'relative',
                    'height': max_height
                })
            }
        }

        function formatSource(source){

            if (typeof source.title === 'undefined'){
                return source.text;
            }

            var source_info = '<p>' + source.title + ' ' + '(' + source.publication + ')';
            source_info += '<br />' + '<small>';

            if (source.accessed_on){
                source_info += '{% trans "Accessed on:" %}' + ' <strong>' + source.accessed_on + '</strong>';
            }
            if (source.page_number){
                source_info += ' ' + '{% trans "Page number:" %}' + ' <strong>' + source.page_number + '</strong>';
            }

            source_info += '</small></p>';

            return $(source_info);
        }

        function updateConfidence(e){
            var confidence_value = $(e.target).val();
            var field_name = $(e.target).data('field_name');
            var selector = 'input[name="' + field_name + '_confidence"]';

            $(selector).val(confidence_value);
        }

        $(document).ready(function(){

            $('#source-search').select2({
                ajax: {
                    url: "{% url 'source-autocomplete' %}",
                    data: function(params){
                        var query = {
                            q: params.term
                        }
                        return query
                    }
                },
                templateResult: formatSource,
                minimumInputLength: 2
            });

            $('.sourced').on('click', loadSources);
            $('.sourced-dropdown').on('click', loadSources);
            $('.sourced').on('focus', loadSources);
            $('.sourced-dropdown').on('focus', loadSources);
            $('.select2-target').on('focus', loadSources);
            $('.select2-target').on('select2:opening', loadSources);

            // Register event handler for removing existing sources.
            $(document).on('close.bs.alert', '.source-detail.alert-success', removeExistingSource);
            // Register event handler for removing newly-added sources.
            $(document).on('close.bs.alert', '.source-detail.alert-warning', removeAddedSource);
            // Register event handler for reverting removal of sources.
            $(document).on('close.bs.alert', '.source-detail.alert-danger', revertRemovedSource);

            $('#source-search').on('select2:select', function(e){

                var field_name = $('#source-field-name').data('field_name');

                var data = {
                    'accesspoint_id': e.params.data.id,
                    'field_name': field_name
                }

                $.getJSON("{% url 'stash-source' %}", data, function(accessPoint){
                    // Update the list of Added Sources with this source.
                    accessPoint['alert_class'] = 'alert-warning';
                    var sourceTemplate = new EJS({'text': $('#source-list-template').html()});
                    $('#source-list-added').prepend(sourceTemplate.render(accessPoint));
                    var selector = '#id_' + field_name + '_source';
                    $(selector).append(accessPoint['source_input']);

                    // If the title for the Added Sources section is hidden, show it.
                    var $addedSourcesTitle = $('#source-list-added-title').children().first();
                    var titleIsHidden = $addedSourcesTitle.is(':hidden');
                    if (titleIsHidden) {
                        $addedSourcesTitle.show();
                    }
                });

                $('#source-search').val(null).trigger('change');
            });

            // TODO: Figure out tab order stuff.
            // $(document).on('focus', '.select2', function (e) {
            //     console.log('originalEvent', e.orginalEvent);
            //     if (e.originalEvent) {
            //         console.log('siblings', $(this).siblings('select'));
            //         $(this).siblings('select').select2('open');
            //     }
            // });

            // var inputs = $("input,select"); // You can use other elements such as textarea, button etc.
            //                     //depending on input field types you have used
            // $("select").on("select2:close",function(){
            //     var pos = $(inputs).index(this) + 1;
            //     var next = $(inputs).eq(pos);
            //     setTimeout( function() {
            //         next.focus();
            //         // if (next.siblings(".select2").length) { //If it's a select
            //         //     next.select2("open");
            //         // }
            //     }, 500); //The delay is required to allow default events to occur
            // });

        })
    </script>
{% endblock %}
