section{
	&.content{
		h4{
			// margin-top:1em;
			color: $sfm-grey-D2;
		}
		max-width:100%;
		@include pd("lr", 4em);
		margin-top:1em;
		margin-left:$header-mg-L;
		.row{
			padding:0.5em 0em;
			@include mg('lr', -2em);
		}


		.form-group {
			label {
				width: 100%;
				font-weight: $ft-normal;
				.actions {
					float: right;
				}
			}
		}

		.form-group {
				label {
					width: 100%;
					.actions {
						float: right;
					}
				}
			}
		.actions{
		    float:right;
		    a{
		      color:$sfm-grey-D2;
		      &:hover{
		      	color:$ter-bg-clr
		      }
		    }
		}
		.dropdown {
			p {font-weight: $ft-normal;}
				.btn {
					width: 100%;
					text-align: left;
			}
		}

		.sfm-cancel-btn {
			background-color: $sfm-grey-D2;
			color: white;
			// $bd();
		}

		.sfm-cancel-btn:hover {
			background-color: $sfm-grey-D;
		}
		 //* VIEWS
 		@import "views/_people.scss";
 		@import "views/_membership.scss";

	}
}
