.header{
	height:$header-height;
	&.inner-title-wrapper{
		@include mg('lr', 3em);
		height:100%;
		border-bottom: solid thin $pri-bg-clr;
		h3.page-title{
		float:left;
		height:$sidebar-title-height;
		line-height:$sidebar-title-height;

		}
		a{
			float:right;
			margin-top:2.25rem;
		}

	}//.inner-title-wrapper
}//header
