body {
  background-color: $white;
  display: table;
  div {
    &.signin {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .form-signin-heading {
        margin-bottom: 2rem;
      }

      form {
        max-width: 25rem;
        margin:auto;

        input {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
