
aside {
  width:$sidebar-width;
  background-color: $sidebar-bg-clr;
  color:$sidebar-font-clr;
  position::fixed;
  top:0;
  bottom:0;
  left:0;
  overflow-y: scroll;
  h1 {
    line-height: $sidebar-title-height;
    text-align: center;
    height:$sidebar-title-height;
  }//h1
  nav{
    ul {
      background-color: $sidebar-ul-clr;
      @include hw($sidebar-ul-height, $sidebar-ul-width);
      li {
        i{
          display:none !important;
          float:right;
          font-size:1.5em !important;

        }
        cursor:pointer;
        list-style: none;
        @include hw($sidebar-li-height, $sidebar-ul-width);
        line-height: $sidebar-li-height;
        @include pd("lr", 1em);
        &.active{
          background-color: $sidebar-li-active-clr;
          i{
            display: block !important;
            line-height: 1.9em;
          }
        }
        &:hover{
          background-color: $sidebar-li-hvr-bg-clr;
        }
      }//li
    }//ul
  }
  ul.bottom-list{
    margin-top: 2em;
    text-align:center;
    li{
      list-style: none;
      // line-height: $sidebar-li-height;
      line-height: 4em;

      // height:$sidebar-li-height;
      a{
        text-decoration:none;
        color: $sfm-orange;
        padding: 1em;
        border: solid thin $sfm-orange;
        border-radius:4em;
      }
    }
  }//ul
}//aside
