{% extends "base.html" %}
{% load render_versions %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="row header">
        <div class="inner-title-wrapper">
            {% block form_title %}{% endblock %}
        </div>
    </div>

    <form class="form form-horizontal" method="POST" id="org-form">
        {% csrf_token %}
        {% if source_error %}
            <div class="form-group has-error has-feedback">
        {% else %}
            <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label">Source for your changes</label>
            <div class="col-sm-8">
                <select id="id_source" class="form-control source-field" name="source">
                    {% if source %}
                        <option value="{{ source.id }}" selected="selected">{{ source.title }} ({{ source.publication.title }} , {{ source.published_on }})</option>
                    {% else %}
                        <option value="" selected="selected">--------</option>
                    {% endif %}
                </select>
                {% if source_error %}
                    <span class="help-block"><i class="fa fa-remove"> </i> {{source_error}}</span>
                {% endif %}
            </div>
        </div>
        {% block form_guts %}{% endblock %}
        <br />
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="{% url 'dashboard' %}?source_id={{ source.id }}" class="btn btn-info sfm-btn-cancel col-sm-2" type="submit">Cancel</a>
                <button class="btn col-sm-2 pull-right sfm-btn-action addObject" type="submit">Save</button>
            </div>
        </div>
    </form>
    {% block after_form %}{% endblock %}
    {% render_versions source_object %}
{% endblock %}
