{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default" style="min-height:150px">
            <div class="panel-heading">
                <h3><strong>Egypt</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-8">
                        <p><em>Simple illustration showing the research process</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
