{% extends "base.html" %}
{% load viewcomplexfield %}
{% load staticfiles %}
{% load i18n %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <style>
    .dynamic-form { margin: 10px 0; }
  </style>
{% endblock %}
{% block content %}
<form method="post" action="" id="org-form">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="row">
        <div class="col-sm-12" id="manage-forms">
            <a href="javascript://" id="add-form">Add organization</a>
        </div>
    </div>
    <div id="dynamic-form">
        {% if formset.errors %}
            {{ formset.errors }}
        {% endif %}
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="pull-right btn sfm-btn-action" value="Submit">Continue</button>
                <button type="submit" class="btn sfm-btn-cancel" value="Skip">Skip</button>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static "js/select2.min.js" %}"></script>
<script src="{% static "js/ejs_production.js" %}"></script>
<script type="text/EJS" id="formTemplate">
    <div id="form-<%= form_id %>-wrapper">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label">Organization name</label>
                    <select id="id_form-<%= form_id %>-name" class="form-control" name="form-<%= form_id %>-name">
                        <option value="" selected="selected">--------</option>
                    </select>
                    <input type="hidden" name="form-<%= form_id %>-name_text" id="id_form-<%= form_id %>-name_text" />
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Aliases</label>
                    <select id="id_form-<%= form_id %>-alias" class="form-control" name="form-<%= form_id %>-alias" multiple="multiple">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Classification</label>
                    <select id="id_form-<%= form_id %>-classification" class="form-control" name="form-<%= form_id %>-classification">
                        <option value="" selected="selected">--------</option>
                        {% for classification in classifications %}
                            <option value="{{ classification.id }}">{{ classification.value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label" for="id_form-<%= form_id %>-foundingdate">Founding date</label>
                    <input type="text" class="form-control" id="id_form-<%= form_id %>-foundingdate" name="form-<%= form_id %>-foundingdate" />
                </div>
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label class="control-label" for="id_form-<%= form_id %>-realfounding">Real?
                            <input type="checkbox" class="form-control" id="id_form-<%= form_id %>-realfounding" name="form-<%= form_id %>-realfounding" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="control-label" for="id_form-<%= form_id %>-dissolutiondate">Dissolution date</label>
                    <input type="text" class="form-control" id="id_form-<%= form_id %>-dissolutiondate" name="form-<%= form_id %>-dissolutiondate" />
                </div>
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label class="control-label" for="id_form-<%= form_id %>-realdissolution">Real?
                            <input type="checkbox" class="form-control" id="id_form-<%= form_id %>-realdissolution" name="form-<%= form_id %>-realdissolution" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <% if (form_id > 0) { %>
            <a id="remove_form-<%= form_id %>" href="javascript://" class="delete-form">remove</a>
        <% } %>
        <hr>
    </div>
</script>
<script type="text/javascript">
    var form_num = 0;
    $(document).ready(function(e) {
        addForm();
        $('#add-form').on('click', addForm);
    });

    function deleteForm(e){
        var form_id = $(e.target).prop('id').split('-')[1];

        var wrapper_id = '#form-' + form_id + '-wrapper';
        $(wrapper_id).remove();

        // Decrement form number so things are synced
        form_num --;
    }

    function addForm(){
        var template = new EJS({'text': $('#formTemplate').html()});
        var form_guts = template.render({'form_id': form_num});
        $('#dynamic-form').append(form_guts);

        var name_field = '#id_form-' + form_num + '-name';
        var alias_field = '#id_form-' + form_num + '-alias';

        var name_opts = {
            ajax: {
                url: "{% url 'organizations-autocomplete' %}",
                datType: 'json',
                delay: 250,
                data: function(params) {
                    return { q: params.term };
                },
                cache: true,
                processResults: function(data, params) {
                    if (data.length >= 1) {
                        return { results: data };
                    } else {
                        return {results: [{
                                    'id': -1,
                                    'text': params.term }]};
                    }
                }
            },
            escapeMarkup: function(markup){ return markup; },
            minimumInputLength: 2,
            tags: true
        }

        var alias_opts = {
            ajax: {
                url: "{% url 'aliases-autocomplete' %}",
                datType: 'json',
                delay: 250,
                data: function(params) {
                    return { q: params.term };
                },
                cache: true,
                processResults: function(data, params) {
                    if (data.length >= 1) {
                        return { results: data };
                    } else {
                        return {results: [{
                                    'id': params.term,
                                    'text': params.term }]};
                    }
                }
            },
            escapeMarkup: function(markup){ return markup; },
            minimumInputLength: 2,
            tags: true
        }

        $(name_field).select2(name_opts);

        $(alias_field).select2(alias_opts);

        $('#remove_form-' +  form_num).on('click', deleteForm);

        $(alias_field).on('select2:select', function(e){
            var value = e.params.data.text;
            var name = $(e.target).prop('name') + '_text';
            var form_id = $(e.target).prop('name').split('-')[1]
            var hidden_input = '<input data-form_id="' + form_id + '" type="hidden" value="' + value + '" name="' + name + '" />';
            $('#org-form').append(hidden_input);
        });

        $(alias_field).on('select2:unselect', function(e){
            var value = e.params.data.text;
            var inputs = $('#org-form').find('input[value="'+ value + '"]');
            var form_id = $(e.target).prop('name').split('-')[1]

            $.each(inputs, function(i, input){
                if ($(input).data('form_id') == form_id){
                    $(input).remove();
                }
            })
        });

        $(name_field).on('select2:select', function(e){
            var value = e.params.data.text;
            $(name_field + '_text').val(value);
        })

        form_num ++;
    }
</script>
{% endblock %}
