{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <form action='{% url 'search' %}' method='GET'>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Search for organizations, people and events" name="q">
                    <input type='hidden' name='entity_type' value='Organization' />
                    <input type='hidden' name='entity_type' value='Person' />
                    <input type='hidden' name='entity_type' value='Violation' />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class='fa fa-search'></i> Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <a href="{% url 'create-source' %}" class="btn btn-lg btn-primary">Add new source</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6">
        <h4>Entity counts</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Division identifier</th>
                    <th>Organizations</th>
                    <th>People</th>
                    <th>Events</th>
                </tr>
            </thead>
            <tbody>
                {% for division_id, entity_counts in counts.items %}
                    <tr>
                        <td>{{ division_id }}</td>
                        <td>{{ entity_counts.organization }}</td>
                        <td>{{ entity_counts.person }}</td>
                        <td>{{ entity_counts.violation }}</td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h4>Sources added by user</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Last week</th>
                    <th>Last month</th>
                    <th>All time</th>
                </tr>
            </thead>
            <tbody>
                {% for user, user_counts in count_by_user.items %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user_counts.last_week_count }}</td>
                        <td>{{ user_counts.last_month_count }}</td>
                        <td>{{ user_counts.all_source_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />

{% endblock %}
