{% extends "base.html" %}
{% load viewcomplexfield %}
{% load i18n %}
{% load render_from_source %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h4>Entity counts</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Division identifier</th>
                    <th>Organizations</th>
                    <th>People</th>
                    <th>Events</th>
                </tr>
            </thead>
            <tbody>
                {% for division_id, entity_counts in counts.items %}
                    <tr>
                        <td>{{ division_id }}</td>
                        <td>{{ entity_counts.organization }}</td>
                        <td>{{ entity_counts.person }}</td>
                        <td>{{ entity_counts.violation }}</td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h4>Sources added by user</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Last week</th>
                    <th>Last month</th>
                    <th>All time</th>
                </tr>
            </thead>
            <tbody>
                {% for user, user_counts in count_by_user.items %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user_counts.last_week_count }}</td>
                        <td>{{ user_counts.last_month_count }}</td>
                        <td>{{ user_counts.all_source_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4">
        <h4>Organizations by geography</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Geoname</th>
                    <th>Organizations</th>
                </tr>
            </thead>
            <tbody>
                {% for geoname, org_list in org_geo_counts.items %}
                    <tr>
                        <td><a target="_blank" href="http://geonames.org/{{geoname.id}}">{{ geoname.name }}</a></td>
                        <td>
                            {% for org in org_list %}
                                <a href="{% url 'detail_organization' org.id %}">{{ org.name }}</a>{% if not forloop.last %}<br /> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-8">
        <h4>Events by geography</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Geoname</th>
                    <th>Events</th>
                </tr>
            </thead>
            <tbody>
                {% for geoname, event_list in event_geo_counts.items %}
                    <tr>
                        <td><a target="_blank" href="http://geonames.org/{{geoname.id}}">{{ geoname.name }}</a></td>
                        <td>
                            {% for event in event_list %}
                                <a href="{% url 'detail_violation' event.id %}">
                                    {% if event.description != '' %}
                                        {{ event.description|truncatewords:15 }}
                                    {% else %}
                                        Event
                                    {% endif %}
                                </a>{% if not forloop.last %}<br /> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.toggle-detail').on('click', function(e){
            if($(e.target).closest('tr').next().is(':visible')){
                $(e.target).closest('tr').next().hide();
            } else {
                $(e.target).closest('tr').next().show();
            };
        })
    })
</script>
{% endblock %}
