{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="col-md-5 hidden-xs hidden-sm">
    <div id="sidebar">
        <h3>Contents</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#what-is-wwic">{% trans "What is WhoWasInCommand for?" %}</a></li>
            <li><a href="#who-makes-wwic">{% trans "Who makes WhoWasInCommand?" %}</a></li>
            <li><a href="#is-wwic-just">{% trans "Is WhoWasInCommand just about who was in command?" %}</a></li>
            <li><a href="#data-sources">{% trans "Where does all this data come from?" %}</a></li>
            <li><a href="#countries">{% trans "Why have you singled out particular countries?" %}</a></li>
            <li><a href="#research-handbook">{% trans "I don’t understand what I’m seeing - help!" %}</a></li>
            <li><a href="#copyright">{% trans "Can I use the data in my own work?" %}</a></li>
            <li><a href="#what-do-i-do">{% trans "Something isn’t working, what do I do?" %}</a></li>
            <li><a href="#languages">{% trans "Can I look at the site in my own language?" %}</a></li>
            <li><a href="#mistakes">{% trans "You’ve made a mistake. Who can I tell about it?" %}</a></li>
            <li><a href="#leaking">{% trans "I have confidential information - can I leak it to you?" %}</a></li>
            <li><a href="#data-download">{% trans "Can you help me make sense of this data I’ve downloaded?" %}</a></li>
            <li><a href="#terminology">{% trans "What does this word or term mean?" %}</a></li>
        </ul>
    </div>
</div>

<div class='col-xs-12 col-md-7 post'>

    <h2>{% trans "Help - Frequently Asked Questions" %}</h2>

    <div class="visible-xs visible-sm" id="table-of-contents">
        <h3>Contents</h3>

        <ul>
            <li><a href="#what-is-wwic">{% trans "What is WhoWasInCommand for?" %}</a></li>
            <li><a href="#who-makes-wwic">{% trans "Who makes WhoWasInCommand?" %}</a></li>
            <li><a href="#is-wwic-just">{% trans "Is WhoWasInCommand just about who was in command?" %}</a></li>
            <li><a href="#data-sources">{% trans "Where does all this data come from?" %}</a></li>
            <li><a href="#countries">{% trans "Why have you singled out particular countries?" %}</a></li>
            <li><a href="#research-handbook">{% trans "I don’t understand what I’m seeing - help!" %}</a></li>
            <li><a href="#copyright">{% trans "Can I use the data in my own work?" %}</a></li>
            <li><a href="#what-do-i-do">{% trans "Something isn’t working, what do I do?" %}</a></li>
            <li><a href="#languages">{% trans "Can I look at the site in my own language?" %}</a></li>
            <li><a href="#mistakes">{% trans "You’ve made a mistake. Who can I tell about it?" %}</a></li>
            <li><a href="#leaking">{% trans "I have confidential information - can I leak it to you?" %}</a></li>
            <li><a href="#data-download">{% trans "Can you help me make sense of this data I’ve downloaded?" %}</a></li>
            <li><a href="#terminology">{% trans "What does this word or term mean?" %}</a></li>
        </ul>
    </div>

    <hr />


        <h3 id="what-is-wwic" class="faq-header">{% trans "What is WhoWasInCommand for?" %}</h3>
        <p>
            {% blocktrans %}
            WhoWasInCommand helps make the police, military and other security forces more transparent and accountable. There is a great deal of publicly available data on security forces but it is unstructured and scattered amongst a wide variety of sources, making it prohibitively costly for those engaged in public interest work to understand the security forces of a particular country. WhoWasInCommand reduces the impact of this problem by structuring public data on security forces and presenting it in a clear and auditable way. In doing this, we aim to empower and inform journalism, human rights reporting and other public interest work.
            {% endblocktrans %}
        </p>

        <h3 id="who-makes-wwic" class="faq-header">{% trans "Who makes WhoWasInCommand?" %}</h3>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% blocktrans %}
            WhoWasInCommand was created and operated by <a href="https://securityforcemonitor.org" target="_blank">Security Force Monitor</a>. We’re a project of the Human Rights Institute at Columbia Law School and you can <a target="_blank" href="https://securityforcemonitor.org/about/">read more about us here</a>.
            {% endblocktrans %}
        </p>

        <h3 id="is-wwic-just" class="faq-header">{% trans "Is WhoWasInCommand just about who was in command?" %}</h3>
        <p>{% trans "No. WhoWasInCommand can also tell you about:" %}</p>
        <ul>
            <li>{% trans "The composition of security forces: how different units of security forces relate to each other in the organizational hierarchy or in the context of missions and operations." %}</li>
            <li>{% trans "People’s non-command roles: we also document the ways persons can be connected to units in administrative and informal roles." %}</li>
            <li>{% trans "Where units are based: we have data on facilities and installations like headquarters, camps and bases." %}</li>
            <li>{% trans "Areas of operation: we collect data on where different units are reported to have operated, and make that available to you." %}</li>
        </ul>

        <h3 id="data-sources" class="faq-header">{% trans "Where does all this data come from?" %}</h3>
        <p>{% trans "To create the data in WhoWasInCommand, Security Force Monitor’s researchers use material published online:" %}</p>
        <ul>
            <li>{% trans "Official government media;" %}</li>
            <li>{% trans "Laws of the country;" %}</li>
            <li>{% trans "Press releases from the relevant ministries of the country (Information, Defense, Interior, and others);" %}</li>
            <li>{% trans "Security force newsletters;" %}</li>
            <li>{% trans "Social media pages for security services or government agencies;" %}</li>
            <li>{% trans "Statistics and data agencies;" %}</li>
            <li>{% trans "Local government websites;" %}</li>
            <li>{% trans "Human rights commissions;" %}</li>
            <li>{% trans "United States Government reporting;" %}</li>
            <li>{% trans "United Nations reporting;" %}</li>
            <li>{% trans "Local news reportage;" %}</li>
            <li>{% trans "Civil society and human rights reporting;" %}</li>
            <li>{% trans "Academic research; and," %}</li>
            <li>{% trans "Other country specific sources." %}</li>
        </ul>
        <p>
        {% blocktrans %}
         "Every piece of data in WhoWasInCommand is linked to one or more these sources. We have also preserved every source possible using the Internet Archive, so you can access the sources even if the original version has disappeared from the Internet."
         {% endblocktrans %}
        </p>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% blocktrans %}
            Our <a target="_blank" href='https://help.securityforcemonitor.org'>Research Handbook</a> contains a thorough description of the method and tools used to create the data in WhoWasInCommand.
            {% endblocktrans %}
        </p>

        <h3 id="countries" class="faq-header">{% trans "Why have you singled out particular countries?" %}</h3>
        <p>{% trans "Good question. We take into account a number of factors when choosing which countries to research:" %}</p>
        <ul>
            <li>{% trans "Are there longstanding concerns raised by civil society organizations and independent bodies regarding the human right records of security forces in a country?" %}</li>
            <li>{% trans "Do journalists, lawyers and colleagues from human rights groups in that country agree that there is an information gap that is worth filling?" %}</li>
            <li>{% trans "Is there a sufficient amount of publicly-available source material?" %}</li>
        </ul>
        <p>
            {% trans "Presently, we publish research on Mexico, Nigeria and Egypt. We are actively researching additional countries informed by feedback from civil society." %}
        </p>

        <h3 id="research-handbook" class="faq-header">{% trans "I don’t understand what I’m seeing - help!" %}</h3>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% blocktrans %}
            In our <a target="_blank" href='http://help.securityforcemonitor.org'>Research Handbook</a>, we’ve created some guides to the different ways that data are displayed in WhoWasInCommand."
            {% endblocktrans %}
        </p>

        <h3 id="copyright" class="faq-header">{% trans "Can I use the data in my own work?" %}</h3>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% blocktrans %}
            Yes. You can download any data published on WhoWasInCommand and use it under the terms of <a target="_blank" href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons Attribution License 4.0</a>. This means you’re welcome to use, share and adapt any data from WhoWasInCommand as long as you credit Security Force Monitor and promise not to place any additional restrictions on others’ ability to use the data.
            {% endblocktrans %}
        </p>

        <h3 id="what-do-i-do" class="faq-header">{% trans "Something isn’t working, what do I do?" %}</h3>
        <p>
            {% trans "Sorry about that. Please write in and tell us about it - it’s incredibly helpful in making WhoWasInCommand better. When you write in, try to answer the following questions:" %}
        </p>
        <ul>
            <li>{% trans "What were you trying to do? " %}</li>
            <li>{% trans "What didn’t work as you expected?" %}</li>
            <li>{% trans "How would you expect it to work?" %}</li>
        </ul>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% trans "Please include the web address you were looking at, and if possible a screenshot of the problem. You can send any error reports to <a href='mailto:technical@securityforcemonitor.org'>technical@securityforcemonitor.org</a>." %}
        </p>


        <h3 id="languages" class="faq-header">{% trans "Can I look at the site in my own language?" %}</h3>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% trans "At the moment, WhoWasInCommand can be used in English and Spanish. You can change the language at any time using the selector on every page of WhoWasInCommand. If you have some time to translate the application for us (it’s easy to do and we’ll help!) please <a href='mailto:technical@securityforcemonitor.org'>get in touch</a>." %}
        </p>

        <h3 id="mistakes" class="faq-header">{% trans "You’ve made a mistake. Who can I tell about it?" %}</h3>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% blocktrans %}
            Write to our research team at <a href='mailto:technical@securityforcemonitor.org'>technical@securityforcemonitor.org</a> and tell us about the mistake. We’ll investigate it further and make changes as required. You can help us speed up our investigation by sending us a link to publicly available sources that demonstrate the mistake.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            The data in WhoWasInCommand mirrors information found in publicly available sources, which may not be correct and can contradict each other. This is why we grade the quality of every datapoint with a “confidence rating”. We assign ratings of “medium” and “high” to a datapoint when numerous sources from different publishers validate a datapoint. Until that happens, we our data given a rating of “low”.
            {% endblocktrans %}
        </p>


        <h3 id="leaking" class="faq-header">{% trans "I have confidential information - can I leak it to you?" %}</h3>
        <p>
            {% trans "No. All data published on WhoWasInCommand is drawn from published sources. Further, the threats to whistleblowers are increasingly extreme, and we are not able to offer the sort of technical and legal protection that many larger media organisations are now able to offer." %}
        </p>

        <h3 id="data-download" class="faq-header">{% trans "Can you help me make sense of this data I’ve downloaded?" %}</h3>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% trans "Yes, the way that your download looks is very logical but not yet particularly easy to use. We’ve created a brief tutorial here, which should help. If you’re still stuck, write to us at <a href='mailto:technical@securityforcemonitor.org'>technical@securityforcemonitor.org</a> and we’ll do our best to help." %}
        </p>

        <h3 id="terminology" class="faq-header">{% trans "What does this word or term mean?" %}</h3>
        <p>
            {% comment %}
            Translators: Make sure to keep the HTML tags intact in this sentence.
            {% endcomment %}
            {% blocktrans %}
            Our <a target="_blank" href='https://help.securityforcemonitor.org'>Research Handbook</a> has detailed descriptions of all the fields and terminology used on WhoWasInCommand. If something isn’t clear, please write to us and let us know.
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}
