{% extends "base.html" %}
{% load viewcomplexfield %}
{% load staticfiles %}
{% load i18n %}
{% load get_item %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.min.css" %}">
<style>
.submit { margin-top: 10px; }
</style>
{% endblock %}
{% block content %}
{% include 'partials/nav-wizard.html' %}
<form method="post" action="" id="person-form">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {% with form_id=forloop.counter0 %}
            {% with a_membership=memberships|from_index:form_id %}
                {% if a_membership.first %}
                    <h3>{{ a_membership.person }}</h3>
                {% endif %}
                <h4>{{ a_membership.organization }}</h4>
            <div class="row">
            <input type="hidden" name="form-{{ form_id }}-membership" id="id_form-{{ form_id }}-person" value="{{ a_membership.membership }}">
            {% endwith %}
            {% if form.role.errors %}
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                <div class="col-sm-4">
                    <label class="control-label">Role</label>
                    <select id="id_form-{{ form_id }}-role" class="form-control" name="form-{{ form_id }}-role">
                        <option value="" selected="selected">--------</option>
                        {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.value }}</option>
                        {% endfor %}
                    </select>
                    {% if form.role.errors %}
                        {% for error in form.role.errors %}
                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                    <input type="hidden" name="form-{{ form_id }}-role-name_text" id="id_form-{{ form_id }}-role_text" />
                </div>
            </div>
            {% if form.rank.errors %}
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                <div class="col-sm-4">
                    <label class="control-label">Rank</label>
                    <select id="id_form-{{ form_id }}-rank" class="form-control" name="form-{{ form_id }}-rank">
                        <option value="" selected="selected">--------</option>
                        {% for rank in ranks %}
                        <option value="{{ rank.id }}">{{ rank.value }}</option>
                        {% endfor %}
                    </select>
                    {% if form.rank.errors %}
                        {% for error in form.role.errors %}
                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                    <input type="hidden" name="form-{{ form_id }}-rank-name_text" id="id_form-{{ form_id }}-rank_text" />
                </div>
            </div>
            {% if form.title.errors %}
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                 <div class="col-sm-4">
                    <label class="control-label" for="id_form-{{ form_id }}-title">Title</label>
                    <input type="text" class="form-control" id="id_form-{{ form_id }}-title" name="form-{{ form_id }}-title" value="{{ form.cleaned_data.title }}" />
                     {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            </div>
            <div class="row">
            {% if form.startcontext.errors %}
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                <div class="col-sm-4">
                    <label class="control-label" for="id_form-{{ form_id }}-startcontext">Start context</label>
                    <select id="id_form-{{ form_id }}-startcontext" class="form-control" name="form-{{ form_id }}-startcontext">
                        <option value="" selected="selected">--------</option>
                        {% for context in contexts %}
                        <option value="{{ context.id }}">{{ context.value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% if form.realstart.errors %}
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                <div class="col-sm-2">
                    <label class="control-label" for="id_form-{{ form_id }}-realstart">Real?</label>
                    {% if form.cleaned_data.realstart %}
                        <input type="checkbox" id="id_form-{{ form_id }}-realstart" name="form-{{ form_id }}-realstart" checked>
                    {% else %}
                        <input type="checkbox" id="id_form-{{ form_id }}-realstart" name="form-{{ form_id }}-realstart">
                    {% endif %}
                    {% if form.realstart.errors %}
                        {% for error in form.realstart.errors %}
                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if form.endcontext.errors %}
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                <div class="col-sm-4">
                    <label class="control-label" for="id_form-{{ form_id }}-endcontext">End context</label>
                    <select id="id_form-{{ form_id }}-endcontext" class="form-control" name="form-{{ form_id }}-endcontext">
                        <option value="" selected="selected">--------</option>
                        {% for context in contexts %}
                        <option value="{{ context.id }}">{{ context.value }}</option>
                        {% endfor %}
                    </select>
                    {% if form.endcontext.errors %}
                        {% for error in form.endcontext.errors %}
                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if form.realend.errors %}
            <div class="form-group has-error has-feedback">
            {% else %}
            <div class="form-group">
            {% endif %}
                <div class="col-sm-2">
                    <label class="control-label" for="id_form-{{ form_id }}-realend">Real?</label>
                    {% if form.cleaned_data.realend %}
                        <input type="checkbox" id="id_form-{{ form_id }}-realstart" name="form-{{ form_id }}-realend" checked>
                    {% else %}
                        <input type="checkbox" id="id_form-{{ form_id }}-realstart" name="form-{{ form_id }}-realend">
                    {% endif %} 
                    {% if form.realend.errors %}
                        {% for error in form.realend.errors %}
                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            </div>
            <div class="row">
                {% if form.firstciteddate.errors %}
                    <div class="form-group has-error has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <div class="col-sm-4">
                        <label class="control-label" for="id_form-{{ form_id }}-firstciteddate">First cited date</label>
                        <input type="text" class="form-control datepicker" id="id_form-{{ form_id }}-firstciteddate" name="form-{{ form_id }}-firstciteddate" value="{{ form.cleaned_data.firstciteddate|date:'Y-m-d' }}"/>
                        {% if form.firstciteddate.errors %}
                            {% for error in form.firstciteddate.errors %}
                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div> 
                {% if form.lastciteddate.errors %}
                    <div class="form-group has-error has-feedback">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <div class="col-sm-4">
                        <label class="control-label" for="id_form-{{ form_id }}-lastciteddate">Last cited date</label>
                        <input type="text" class="form-control datepicker" id="id_form-{{ form_id }}-lastciteddate" name="form-{{ form_id }}-lastciteddate" value="{{ form.cleaned_data.lastciteddate|date:'Y-m-d' }}"/>
                        {% if form.lastciteddate.errors %}
                            {% for error in form.lastciteddate.errors %}
                            <span class="help-block"><i class="fa fa-remove"> </i> {{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div> 
 
            </div>
        {% endwith %}
    {% endfor %}
    <div class="row">
        <div class="form-group submit">
            <div class="col-md-12">
                <button type="submit" class="pull-right btn sfm-btn-action" value="Submit">Continue</button>
                <button type="submit" class="btn sfm-btn-cancel" value="Skip">Skip</button>
            </div>
        </div>
    </div>

</form>

{% endblock %}

{% block extra_js %}
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.datepicker').datepicker({'autoclose': true, format: "yyyy-mm-dd"});
});
</script>
{% endblock %}
