{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <form class="form">
            <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="Search for..." name="q" {% if query %}value="{{ query }}{% endif %}">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="submit">Go!</button>
                </span>
            </div>
            <div class="col-sm-4">
                <h4>Filter by entity type</h4>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="entity_type" value="Organization" {% if 'Organization' in filters %}checked=true{% endif %}> Organizations
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="entity_type" value="Person" {% if 'Person' in filters %}checked=true{% endif %}> People
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="entity_type" value="Violation" {% if 'Violation' in filters %}checked=true{% endif %}> Events
                    </label>
                </div>
            </div>
            <div class="col-sm-8">
                <h4>Filter by location</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <select id="location-filter" name="geoname_id" class="form-control">
                            {% if geoname %}
                                <option value="{{ geoname.id }}" selected=true>{{ geoname.name_std }}</option>
                            {% endif %}
                        </select>
                        <input type="hidden" name="geoname_type" {% if geoname_type %}value="{{ geoname_type }}"{% endif %}/>
                    </div>
                    <div class="col-sm-6">
                        <select id="radius" name="radius" class="form-control">
                            {% for rad in radius_choices %}
                                {% if rad == radius %}
                                    <option value="{{ rad }}" selected=true>{{ rad }}km</option>
                                {% else %}
                                    <option value="{{ rad }}">{{ rad }}km</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% if results %}
    <div class="row">
        <div class="col-sm-12">
            {% if query %}
            <h1>Results for &ldquo;{{ query }}&rdquo;</h1>
            {% endif %}
            {% for result_type, objects in results.items %}
                {% if result_type == 'Organization' %}
                    {% include 'partials/organization_search_results.html' %}
                {% elif result_type == 'Person' %}
                    {% include 'partials/person_search_results.html' %}
                {% elif result_type == 'Violation' %}
                    {% include 'partials/violation_search_results.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
{% block extra_js %}
<script src="{% static "js/select2.min.js" %}"></script>
<script type="text/javascript">
var geoname_opts = {
    ajax: {
        url: "{% url 'geoname-autocomplete' %}",
        datType: 'json',
        delay: 250,
        data: function(params) {
            return {
                q: params.term,
                types: ['city', 'district'],

            };
        },
        cache: true,
        processResults: function(data, params) {
            if (data.length >= 1) {
                return { results: data };
            } else {
                    return { results: [] };
            }
        }
    },
    escapeMarkup: function(markup){ return markup; },
    minimumInputLength: 2
};
    $(document).ready(function(){
        $('#location-filter').select2(geoname_opts);
        $('#location-filter').on('select2:select', function(e){
            var geo_type = e.params.data.type;
            $('input[name="geoname_type"]').val(geo_type);
        });

        $('.merge').on('click', function(e){
            e.preventDefault();
            var entity_type = $(e.target).data('entity_type');
            var entities = [];
            $.each($('.' + entity_type + '_ids'), function(i, entity){
                if($(entity).is(':checked')){
                    entities.push($(entity).data('entity_id'));
                }
            });
            entities = entities.join(',');

            var params = {
                'entity_type': entity_type,
                'entities': entities
            };

            var redirect_path = "{% url 'merge' %}";
            var redirect_url = window.location.protocol + '//'+ window.location.hostname + redirect_path + $.param(params);

            window.location.assign(redirect_path + '?' + $.param(params));

        })
    })

</script>
{% endblock %}
