{% extends "base.html" %}
{% block content %}
    <form class="form">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Confidence</th>
                    <th>Field</th>
                    <th>Value</th>
                    <th>Researchers & Sources</th>
                </tr>
            </thead>
            <tbody>
                {% for relation in relations %}
                    <tr>
                        <td>
                            <div class="form-group">
                                <select class="form-control" name="confidence-{{ relation.relation_object_name }}">
                                    {% for value, name in confidence_choices %}
                                        {% if relation.confidence == value %}
                                            <option value="{{ value }}" selected=true>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>{{ relation.property }}</td>
                        <td>{{ relation.value }}</td>
                        <td>users and sources</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
