{% extends "base.html" %}
{% block content %}
    <form class="form" method="POST">
        {% csrf_token %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Confidence</th>
                    <th>Field</th>
                    <th>Value</th>
                    <th>Additional Sources</th>
                </tr>
            </thead>
            <tbody>
                {% for relation_type, relation_attributes in relations.items %}
                    <tr>
                        <td colspan=4>
                            <h4>{{ relation_attributes.title }}</h4>
                        </td>
                    </tr>
                    {% for relation in relation_attributes.attributes %}
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select class="form-control" name="confidence-{{ relation.relation_label }}-{{ relation.relation_id }}-{{ relation.object_ref_object_name}}-{{ relation.object_ref_id }}">
                                        {% for value, name in confidence_levels %}
                                            {% if relation.confidence == value %}
                                                <option value="{{ value }}" selected=true>{{ name }}</option>
                                            {% else %}
                                                <option value="{{ value }}">{{ name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                            <td>{{ relation.property }}</td>
                            {% if relation.value.geom_type %}
                                <td>
                                    <div id="{{ relation.property|slugify }}-map" style="height:200px;"></div>
                                    {% block extra_head %}
                                         <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
                                    {% endblock %}
                                    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
                                    <script type="text/javascript">
                                        $(document).ready(function(){
                                            var geom = {{ relation.value.geojson|safe }};
                                            var map = L.map('{{ relation.property|slugify }}-map');
                                            var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';
                                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                                                        { attribution: attribution, detectRetina: true }).addTo(map);
                                            var geom_layer = L.geoJSON(geom).addTo(map);
                                            map.fitBounds(geom_layer.getBounds());
                                            {% if relation.value.geom_type == 'Point' %}
                                                map.setZoom(10);
                                            {% endif %}
                                        })
                                    </script>
                                </td>
                            {% else %}
                                <td>{{ relation.value }}</td>
                            {% endif %}
                            <td>
                                {% if relation.additional_sources %}
                                <table class="table table-condensed">
                                {% for source in relation.additional_sources %}
                                    <tr>
                                        <td>
                                            <a href="{{ source.source.source_url }}">{{ source.source.title }}</a>
                                        </td>
                                        <td> {{ source.user.username }}</td>
                                        <td><a href="{{ source.source.archive_url }}">Archive</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="pull-right btn sfm-btn-action" value="Submit">Continue</button>
            </div>
        </div>
    </form>
{% endblock %}
