{% extends request.is_ajax|yesno:"base_modal.html,base.html" %}
{% load viewcomplexfield %}
{% load viewcomplexfieldgeo %}
{% load viewcomplexfieldautocomplete %}
{% load i18n %}
{% load leaflet_tags %}
{% block content %}

  <div class="inner-title-wrapper row header">
    <div class="inner-title-wrapper">
      <h1 class="page-title">{% trans "Area of Operations" %}</h1>
      <div class="pull-right">
        <a href="/area/add/" class="btn sfm-btn-action"><i class="fa fa-plus"></i> {% trans "Add new" %}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>{% trans "Properties" %}</h3>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field area.name area.id request.path %}
      </div>
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field_autocomplete area.code area.id "/area/code/autocomplete/" request.path %}
      </div>
      <div class="form-group col-sm-4 complex-field">
        {% view_complex_field area.geoname area.id request.path %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 complex-field">
        {% view_complex_field_geo area.geometry area.id zone request.path %}
      </div>

    </div>
  
  </form>


  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn sfm-btn-cancel col-sm-2" type="submit">{% trans "Cancel" %}</button>
      <button class="btn col-sm-2 pull-right sfm-btn-action addObject" type="submit">{% trans "Save" %}</button>
    </div>
  </div>

{% endblock %}
