{% load i18n %}
<div class="modal-header" data-modal-type="source" data-field-object-name="{{field.get_object_name}}" data-field-object-id="{{object_id}}" data-field-attr-name="{{field.get_attr_name}}">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{% trans "View/Edit Sources" %}</h4>
</div>

<div class="modal-body row">
  <div class="people_src_info col-sm-6">
    <table class="table table-hover">
      <tr>
        <th class="col-sm-3">Source</th>
        <th class="col-sm-7">Confidence</th>
        <th class="col-sm-2">Delete</th>
      </tr>
      <tr class="active">
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </table>



    <ul id="sources_list" data-role="listview" class=".hide">
      <h5 class="col-sm-3">Source</h5>
      <h5 class="col-sm-7">Confidence</h5>
      <h5 class="col-sm-2">Delete</h5>
      <template id="source-template">
        <li>
          <p class="col-sm-3 src_name"></p>
          <p class="col-sm-7 src_confidence"></p>
          <p class="col-sm-2 sources_list_remove"><span title="Delete Source"><i class="fa fa-trash fa-lg"></i></span></p>
        </li>
      </template>
    </ul>




  </div>

  <div class="modal_src_add col-sm-6">
    <p>Add</p>
    <div class="row">
      <input type="text" class="form-control person_src_addSource --src-name" placeholder="Enter Source">
      <div class=" form-group dropdown col-sm-12">
        <select class="person_src_addConfidence --src-conf">
          <option>Level of confidence</option>
          <option value="1">Low</option>
          <option value="2">Medium</option>
          <option value="3">High</option>
        </select>
      </div>
    </div>
    <button type="button" class="btn center-block sfm-btn-action --src-add" onclick="grabData()">Add</btn>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn sfm-btn-cancel" data-dismiss="modal">Close</button>
  </div>
