{% load i18n %}
<div class="modal-header" data-field-object-name="{{field.get_object_name}}" data-field-object-id="{{object_id}}" data-field-attr-name="{{field.get_attr_name}}">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans "View/Edit sources" %}</h4>
</div>

<div class="modal-body row">
  <div class="people_src_info col-sm-6">
    <ul id="sources_list" data-role="listview">
    <!-- {% for source in field.get_sources %}
    <div class="row">
      <p class="src_name col-sm-4">{{ source.source }}:</p>
      <div class="form-group dropdown col-sm-6">
        <select name="people_src_confidence" class="src_confidence">
          <option>Level of Confidence</option>
          <option value="1" {% if source.confidence = "1" %}selected{% endif %}>Low</option>
          <option value="2" {% if source.confidence = "2" %}selected{% endif %}>Medium</option>
          <option value="3" {% if source.confidence = "3" %}selected{% endif %}>High</option>
        </select>
      </div>
      <div class="col-sm-2"><span title="Delete Source"><i class="fa fa-trash fa-lg"></i></span></div>
      <input name="people_src_source" type="hidden" value="{{ source.source }}">
    </div>
    {% endfor %} -->

    <template id="source-template">
      <li>
        <p class="col-sm-4 src_name"></p>
        <p class="col-sm-6 src_confidence"></p>
        <p class="col-sm-2 sources_list_remove"><span title="Delete Source"><i class="fa fa-trash fa-lg"></i></span></p>
      </li>
    </template>
  </ul>
  </div>

  <div class="modal_src_add col-sm-6">
    <p>Add</p>
    <div class="row">
      <!-- <div class=""> -->
        <input type="text" class="form-control person_src_addSource" placeholder="Enter Source">
      <!-- </div> -->
      <div class=" form-group dropdown col-sm-12">
        <select class="person_src_addConfidence">
          <option>Level of confidence</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
    </div>
    <button type="button" class="btn center-block sfm-btn-action" onclick="grabData()">Add</btn>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn sfm-btn-cancel" data-dismiss="modal">Close</button>
  <button type="button" class="btn sfm-btn-action">Save changes</button>
</div>
