{% load i18n %}
<div class="modal-header" data-modal-type="translate" data-field-object-name="{{field.get_object_name}}" data-field-attr-name="{{field.get_attr_name}}" data-field-object-id="{{object_id}}">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans "View/Edit translations" %}</h4>
</div>

<div class="modal-body">
  <div class="row">

    <div class="modal_tr_info col-sm-8">
      <table class="table" id="translate_table">
        <thead>
          <tr>
            <th>Language</th>
            <th>Translation</th>
          </tr>
        </thead>
        <tbody id="translate_table_body">
          <template id="translate_template">
            <tr>
              <td class="tr_language"></td>
              <td class="tr_value"></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <div class="modal_tr_add col-sm-4">
      <p>Add a Language:</p>
      <div class="row">
        <input type="text" class="form-control col-sm-12" id="modal_tr_language" value="" placeholder="Start typing..." onchange="autoFill()" oninput="autoFill()">
        <input type="text" class="form-control col-sm-12" id="modal_tr_value" placeholder="Enter Translation">
      </div>
      <button type="button" class="btn sfm-btn-action center-block addTranslation" onclick="addTranslation()">Add</btn>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn sfm-btn-cancel" data-dismiss="modal">Close</button>
  </div>
