{% load i18n %}
<div class="modal-header" data-modal-type="version" data-field-object-name="{{field.get_object_name}}" data-field-attr-name="{{field.get_attr_name}}" data-field-object-id="{{object_id}}">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">{% trans "View/Revert Versions" %}</h4>
</div>
<div class="modal-body row">
	<div class="people_vr_info col-sm-8">
		<ul class="versions_list">
			<h5 class="col-sm-4">Versions</h5>
			<h5 class="col-sm-6">Sources</h5>
			<h5 class="col-sm-2">Revert</h5>
		</ul>
	</div>
	<div class="modal_vr_add col-sm-4">
		<p>Choose Language</p>
		<div class="row">
			<select class="--ver-lang">
				{% for lang in langs %}
				<option value="{{lang.value}}">{{lang.label}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn sfm-btn-cancel" data-dismiss="modal">Close</button>
</div>
