<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Version</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="people_vr_info col-sm-8">
      {% for version in history %}
      <div class="row">
        <p class="col-sm-4">{{version.value}}</p>
        <p class="col-sm-6">Sources</p>
        {% for src in version.sources %}
          <p>{{src.source}} | {{src.confidence}}</p>
        {% endfor %}
        <button type="button" data-version-id="{{version.id}}" class="btn sfm-btn-action">Revert</button>
      </div>
      {% endfor %}
    </div>
    <script type="text/javascript">
      //bob = {{version_json}};
    </script>
    <div class="modal_vr_add col-sm-4">
      <p>Choose Language</p>
      <div class="row">
        <select id="people_vr_language">
          <option>Language</option>
          {% for lang in langs %}
          <option value="{{lang}}">{{lang}}</option>
          {% endfor %}
          <option value="FR">French</option>
          <option value="ES">Spanish</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn sfm-btn-cancel" data-dismiss="modal">Close</button>
</div>
